outputs/wa-appointments-manager.json
{
  "updatedAt": "2026-07-18T23:06:29.660Z",
  "createdAt": "2026-04-09T19:03:17.341Z",
  "id": "9uusM4595mjJOMCc",
  "name": "WA-Appointments-Manager",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"action\": \"create\",\n  \"phone\": \"+34600000001\",\n  \"clinic_id\": \"clinic-test\",\n  \"django_auth_header\": \"Token abc123\",\n  \"params\": \"{\\\"service_id\\\":1,\\\"professional_id\\\":2,\\\"preferred_date\\\":\\\"2026-04-16\\\",\\\"preferred_time\\\":\\\"10:00\\\"}\"\n}"
      },
      "id": "trigger-execute",
      "name": "Trigger - Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d68d6e2a-6e59-4f6f-8471-0abaabebe2d6",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "check_availability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5d2cf81-ff97-4b64-99e5-2739217e08fb",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7868e3b2-f256-4ae8-b1ba-1d2e1e847a81",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2753bf9a-8703-4e7a-8376-1774d2ab97b9",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_upcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e432fe23-a93a-4c09-9be7-9ae9c6d2d30d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "confirm_from_reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d0e1783a-a5f4-469d-9a34-9299e37eb320",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "register_patient",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15f76267-a14d-4cc9-9edc-9a71337fb854",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_services",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fbdf5aa-a621-442f-a6c2-23c1b3f8df4e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_professionals",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d924032-66c2-43c5-a092-8a2162708829",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_professional_slots",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15d75306-66d0-4a45-a2e2-05c27f32091b",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_appointments_by_professional",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cancel-confirm-001",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cancel_confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "router-accion",
      "name": "Router por Accion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        256,
        448
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/available-slots/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $('Normalizar Inputs').first().json.preferred_date || $now.plus(1, 'day').toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "clinic",
              "value": "={{ $('Normalizar Inputs').first().json.clinic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a-check-slots",
      "name": "A - Consultar Disponibilidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst norm = $('Normalizar Inputs').first().json;\n\nlet preferredDate = norm.preferred_date;\nif (!preferredDate) {\n  const tomorrow = new Date();\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  preferredDate = tomorrow.toISOString().split('T')[0];\n}\n\nlet slots = [];\nif (Array.isArray(raw)) {\n  slots = raw;\n} else if (raw.slots && Array.isArray(raw.slots)) {\n  slots = raw.slots;\n} else if (raw.results && Array.isArray(raw.results)) {\n  slots = raw.results;\n} else if (raw.available_slots && Array.isArray(raw.available_slots)) {\n  slots = raw.available_slots;\n}\n\nconst fecha = new Date(preferredDate).toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nif (!slots.length) {\n  return [{ json: {\n    success: true,\n    response: `Lo siento, no hay horarios disponibles para ${fecha}. ¿Quieres que revisemos otro día?`\n  }}];\n}\n\nconst listaHorarios = slots.map(slot => {\n  if (typeof slot === 'string') return `• ${slot}`;\n  if (slot.time) return `• ${slot.time}`;\n  if (slot.start_time) return `• ${slot.start_time}`;\n  if (slot.hour) return `• ${slot.hour}`;\n  return `• ${JSON.stringify(slot)}`;\n}).join('\\n');\n\nreturn [{ json: {\n  success: true,\n  response: `Estos son los horarios disponibles para el ${fecha}:\\n\\n${listaHorarios}\\n\\n¿Cuál te viene mejor?`\n}}];"
      },
      "id": "a-respuesta-temporal",
      "name": "A - Formatear Disponibilidad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b-buscar-paciente",
      "name": "B - Buscar Paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalizar Inputs').first().json;\nconst patientsRaw = $('B - Buscar Paciente').first().json;\nconst patients = patientsRaw.results || (Array.isArray(patientsRaw) ? patientsRaw : []);\n\nif (!patients.length) {\n  throw new Error('Paciente no encontrado para phone: ' + norm.phone);\n}\n\nconst patient = patients[0];\n\n// Buscar servicio por nombre con match parcial\nlet service_id = norm.service_id || null;\nlet serviceDuration = 30;\n\nif (!service_id) {\n  const serviciosRaw = $('B - Buscar Servicio').first().json;\n  const servicios = serviciosRaw.results || (Array.isArray(serviciosRaw) ? serviciosRaw : []);\n  const query = (norm.service || '').toLowerCase().trim();\n\n  let match = null;\n  if (query) {\n    match = servicios.find(s => s.name.toLowerCase() === query);\n    if (!match) match = servicios.find(s => s.name.toLowerCase().includes(query));\n    if (!match) match = servicios.find(s => query.includes(s.name.toLowerCase()));\n  }\n  if (!match && servicios.length === 1) match = servicios[0];\n\n  if (match) {\n    service_id = match.id;\n    if (match.duration_minutes) serviceDuration = match.duration_minutes;\n  }\n}\n\nif (!service_id) {\n  throw new Error('Servicio no encontrado: ' + (norm.service || 'no especificado') + '. Usa action=list_services para ver los disponibles.');\n}\n\n// Resolver professional_id\nlet professional_id = norm.professional_id ? parseInt(norm.professional_id) : null;\n\nif (!professional_id) {\n  const profRaw = $('B - Buscar Profesional').first().json;\n  const profs = profRaw.results || (Array.isArray(profRaw) ? profRaw : []);\n\n  if (profs.length === 1) {\n    professional_id = profs[0].id;\n  } else if (profs.length > 1) {\n    const searchName = (norm.professional_name || '').toLowerCase().trim();\n    if (searchName) {\n      const match = profs.find(p => {\n        const info = p.user_info || {};\n        const fullName = (info.full_name || (info.first_name + ' ' + info.last_name) || '').toLowerCase();\n        return fullName.includes(searchName) || searchName.includes(fullName.split(' ')[0]);\n      });\n      professional_id = match ? match.id : null;\n    }\n  }\n}\n\nif (!professional_id) {\n  throw new Error('Profesional no encontrado: ' + (norm.professional_name || 'no especificado') + '. Usa action=list_professionals para ver los disponibles.');\n}\n\nconst date = norm.preferred_date || '';\nconst time = norm.preferred_time || '09:00';\n\nif (!date) {\n  throw new Error('Se requiere preferred_date para crear la cita.');\n}\n\nfunction getMadridOffsetHours(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const madridHour = parseInt(d.toLocaleString('en-US', {\n    timeZone: 'Europe/Madrid',\n    hour: 'numeric',\n    hour12: false\n  }));\n  let diff = madridHour - 12;\n  if (diff > 12) diff -= 24;\n  if (diff < -12) diff += 24;\n  return diff;\n}\n\nconst offsetHours = getMadridOffsetHours(date);\nconst sign = offsetHours >= 0 ? '+' : '-';\nconst offsetStr = sign + String(Math.abs(offsetHours)).padStart(2, '0') + ':00';\n\nconst scheduledAt = date + 'T' + time + ':00' + offsetStr;\n\nconst [h, m] = time.split(':').map(Number);\nconst utcStart = new Date(Date.UTC(\n  parseInt(date.substring(0, 4)),\n  parseInt(date.substring(5, 7)) - 1,\n  parseInt(date.substring(8, 10)),\n  h - offsetHours,\n  m,\n  0\n));\nutcStart.setMinutes(utcStart.getMinutes() + serviceDuration);\nconst endAt = utcStart.toISOString();\n\nreturn [{ json: {\n  patient_id: patient.id,\n  clinic_id: patient.clinic,\n  service_id: service_id,\n  professional_id: professional_id,\n  scheduled_at: scheduledAt,\n  end_at: endAt,\n  phone: norm.phone\n}}];"
      },
      "id": "b-preparar-datos-cita",
      "name": "B - Preparar Datos Cita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  clinic: $json.clinic_id,\n  patient: $json.patient_id,\n  service: $json.service_id,\n  professional: $json.professional_id || null,\n  scheduled_at: $json.scheduled_at,\n  end_at: $json.end_at,\n  status: 'pending'\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b-crear-cita",
      "name": "B - Crear Cita Django",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        368
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const cita = $input.first().json;\nconst trigger = $('Trigger - Execute Workflow').first().json;\n\nif (cita.id) {\n  const fecha = cita.scheduled_at\n    ? new Date(cita.scheduled_at).toLocaleString('es-ES', { timeZone: 'Europe/Madrid' })\n    : 'por confirmar';\n  return [{ json: {\n    success: true,\n    response: `Tu cita ha sido registrada para el ${fecha}. Estado: pendiente de confirmación. Te avisaremos cuando sea confirmada.`\n  }}];\n}\n\n// Errores de dominio: { code, message, details } con HTTP 400\n// (slot_unavailable, no_professional_available, professional_unavailable).\n// El message ya viene redactado para el paciente -> mostrarlo tal cual.\nif (cita.code && cita.message) {\n  return [{ json: { success: false, response: cita.message } }];\n}\n\nlet errorMsg = '';\n\nif (cita.detail) {\n  errorMsg = cita.detail;\n} else if (cita.non_field_errors) {\n  errorMsg = [].concat(cita.non_field_errors).join(' ');\n} else if (typeof cita === 'object' && cita !== null) {\n  const parts = Object.entries(cita).map(([field, msg]) => {\n    const text = [].concat(msg).join(', ');\n    return text;\n  });\n  errorMsg = parts.join(' ');\n}\n\nconst fallback = 'No hemos podido crear tu cita en este momento. Por favor, llámanos para agendar tu visita.';\n\nreturn [{ json: {\n  success: false,\n  response: errorMsg || fallback\n}}];"
      },
      "id": "b-respuesta-crear",
      "name": "B - Respuesta Crear Cita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        368
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c-buscar-paciente-cancelar",
      "name": "C - Buscar Paciente Cancelar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        560
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "patient",
              "value": "={{ ($json.results || $json)[0].id }}"
            },
            {
              "name": "status",
              "value": "pending,confirmed"
            },
            {
              "name": "scheduled_at_after",
              "value": "={{ $now.toISODate() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c-buscar-cita-activa",
      "name": "C - Buscar Cita Activa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        560
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/{{ $json.appointment_id }}/status/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c-obtener-token",
      "name": "C - Obtener Token Cita",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/public/appointments/{{ $json.confirmation_token }}/cancel/",
        "options": {}
      },
      "id": "c-cancelar-token",
      "name": "C - Cancelar por Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result.status === 'cancelled' || result.id) {\n  return [{ json: { success: true, response: 'Tu cita ha sido cancelada correctamente. Si necesitas agendar otra, no dudes en escribirnos.' }}];\n} else {\n  return [{ json: { success: false, response: 'No hemos encontrado una cita activa para cancelar. ¿Puedes indicarnos más detalles?' }}];\n}"
      },
      "id": "c-respuesta-cancel",
      "name": "C - Respuesta Cancelacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        512
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d-buscar-citas-paciente",
      "name": "D - Buscar Citas Paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        752
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "patient",
              "value": "={{ ($json.results || $json)[0].id }}"
            },
            {
              "name": "status",
              "value": "pending,confirmed"
            },
            {
              "name": "scheduled_at_after",
              "value": "={{ $now.toISODate() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d-listar-citas",
      "name": "D - Listar Citas Activas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst citas = raw.results || (Array.isArray(raw) ? raw : []);\n\nif (!citas.length) {\n  return [{ json: { success: true, response: 'No tienes citas pendientes en este momento.' }}];\n}\n\nconst lista = citas.map((c, i) => {\n  const fecha = new Date(c.scheduled_at).toLocaleString('es-ES', {timeZone: 'Europe/Madrid'});\n  const estado = c.status === 'confirmed' ? 'Confirmada' : 'Pendiente';\n  return `${i+1}. ${fecha} - ${estado}`;\n}).join('\\n');\n\nreturn [{ json: { success: true, response: `Tus próximas citas:\\n${lista}` }}];"
      },
      "id": "d-formatear-lista",
      "name": "D - Formatear Lista Citas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        752
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/{{ $json.appointment_id }}/status/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e-obtener-estado-cita",
      "name": "E - Obtener Estado Cita",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        960
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Normalizar Inputs').first().json.response }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "rightType": "value"
                    },
                    "id": "b9bbec73-a050-43c1-9f3e-ddb68c8f33e7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Normalizar Inputs').first().json.response }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "rightType": "value"
                    },
                    "id": "4ea6539d-fbbf-4503-8bab-77a36c9db726"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e-router-respuesta",
      "name": "E - Router por Respuesta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        912,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/public/appointments/{{ $('E - Obtener Estado Cita').first().json.confirmation_token }}/confirm/",
        "options": {}
      },
      "id": "e-confirmar-token",
      "name": "E - Confirmar por Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        912
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, response: '¡Tu cita ha sido confirmada! Te esperamos. Si necesitas cambiar algo, escríbenos.' }}];"
      },
      "id": "e-respuesta-confirmacion",
      "name": "E - Respuesta Confirmacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const action = $('Trigger - Execute Workflow').first().json.action || 'desconocida';\nreturn [{ json: {\n  success: false,\n  response: 'No he entendido tu solicitud. Puedo ayudarte a agendar, consultar o cancelar citas.'\n}}];"
      },
      "id": "error-accion-no-reconocida",
      "name": "Error - Accion No Reconocida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        2032
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger-global",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, response: 'Lo siento, en este momento no puedo procesar tu solicitud. Inténtelo más tarde.' }}];"
      },
      "id": "error-respuesta-amigable",
      "name": "Error - Respuesta Amigable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        960
      ]
    },
    {
      "parameters": {
        "content": "## WA-Appointments-Manager\n\nSub-workflow para gestión completa de citas.\n\n### Ramas\n- **check_availability**: DESACTIVADA (endpoint pendiente)\n- **create**: Buscar paciente → Crear cita en Django\n- **cancel**: Buscar paciente → Buscar cita activa → Obtener token → Cancelar por token público\n- **list_upcoming**: Buscar paciente → Listar citas pendientes/confirmadas\n- **confirm_from_reminder**: Obtener token → Confirmar/Cancelar por token público\n\n### Endpoints Django usados\n- GET /api/patients/?phone={phone}\n- GET /api/appointments/?patient={id}&status=pending,confirmed\n- POST /api/appointments/ (crear cita)\n- GET /api/appointments/{id}/status/ (obtener token)\n- POST /api/public/appointments/{token}/confirm/ (sin auth)\n- POST /api/public/appointments/{token}/cancel/ (sin auth)\n\n### Endpoints pendientes\n- GET /api/v1/appointments/available-slots/?service={id}&date={date}\n- POST /api/agent/errors/ (log errores, ReadOnly)",
        "height": 612,
        "width": 500
      },
      "id": "nota-descripcion-wf",
      "name": "Nota - Descripcion Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "const patient = $('F - Crear Paciente').first().json;\n\nif (patient.id) {\n  return [{ json: {\n    success: true,\n    response: `¡Perfecto, ${patient.first_name}! Ya estás registrado/a. ¿En qué puedo ayudarte? Puedo informarte sobre nuestros servicios, ayudarte a agendar una cita...`\n  }}];\n} else {\n  return [{ json: {\n    success: false,\n    response: 'Ha habido un problema al registrarte. Por favor, inténtalo de nuevo.'\n  }}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        1264
      ],
      "id": "6d1f528d-8623-4f1c-8157-1e3ed7b620ce",
      "name": "F - Respuesta Registro"
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalizar Inputs').first().json;\n\nreturn [{ json: {\n  clinic_id: norm.clinic_id,\n  first_name: norm.first_name || '',\n  last_name: norm.last_name || '',\n  phone: norm.phone,\n  email: norm.email || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1184
      ],
      "id": "893a2d7b-9cb4-4fd4-9bc4-eb9534406525",
      "name": "F - Preparar Datos Registro"
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/services/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $('Normalizar Inputs').first().json.clinic_id }}"
            },
            {
              "name": "is_active",
              "value": "true"
            },
            {
              "name": "ordering",
              "value": "name"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        368
      ],
      "id": "33965a71-ac9f-40ce-a44d-07cd4a1e92aa",
      "name": "B - Buscar Servicio"
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/errors/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": $json.workflow?.id || 'unknown', \"workflow_name\": $json.workflow?.name || 'unknown', \"node_name\": $json.execution?.lastNodeExecuted || 'unknown', \"error_message\": $json.execution?.error?.message || 'Error desconocido', \"phone\": $json.execution?.customData?.phone || '', \"payload\": JSON.stringify($json.execution?.error || {}), \"input_data\": JSON.stringify($json) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        960
      ],
      "id": "e5f16b56-deea-4bd4-8ff0-b804a5eb1620",
      "name": "POST Workflow Error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "f3MP3tIXyza6A1BO",
          "name": "Django Agent Master Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"phone\": $json.phone, \"clinic\": $json.clinic } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        1248
      ],
      "id": "dfb8d9c6-9332-4dee-8a0e-18fff3c80ede",
      "name": "F - Crear Sesion",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"clinic\": $json.clinic_id, \"first_name\": $json.first_name, \"last_name\": $json.last_name, \"phone\": $json.phone, \"email\": $json.email } }}",
        "options": {}
      },
      "id": "32d36c29-2835-4b23-afa8-0040be6907ec",
      "name": "F - Crear Paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1248
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const trigger = $input.first().json;\nlet p = {};\ntry { p = typeof trigger.params === 'string' ? JSON.parse(trigger.params) : (trigger.params || {}); } catch(e) {}\n\nconst django_auth_header = trigger.django_auth_header || ''\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1)\nconst tomorrowFormated = tomorrow.toISOString()\n\nconst confirm = p.confirm === true || String(p.confirm || '').toLowerCase() === 'true';\n\nreturn [{ json: {\n  action: trigger.action || '',\n  phone: trigger.phone || '',\n  clinic_id: trigger.clinic_id || '',\n  django_auth_header: django_auth_header,\n  service: p.service || '',\n  service_id: p.service_id ? parseInt(p.service_id) : null,\n  professional_id: p.professional_id ? parseInt(p.professional_id) : null,\n  professional_name: p.professional_name || p.professional || '',\n  preferred_date: p.preferred_date || '',\n  preferred_time: p.preferred_time || '09:00',\n  appointment_id: p.appointment_id || '',\n  first_name: p.first_name || '',\n  last_name: p.last_name || '',\n  email: p.email || '',\n  date: p.date || tomorrowFormated || '',\n  duration: p.duration || 30,\n  confirm: confirm,\n  response: p.response || ''\n}}];"
      },
      "id": "normalizar-inputs",
      "name": "Normalizar Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        528
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/services/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "name": "is_active",
              "value": "true"
            },
            {
              "name": "ordering",
              "value": "name"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "g-list-services",
      "name": "G - Listar Servicios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        1408
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\nif (!items.length) return [{ json: { output: 'No hay servicios disponibles.', success: true } }];\nconst lines = items.map(s => {\n  const price = s.price ? ` - ${s.price}€` : '';\n  const dur = s.duration ? ` (${s.duration} min)` : '';\n  return `• ${s.name}${price}${dur}`;\n});\nreturn [{ json: { output: 'Servicios disponibles:\\n' + lines.join('\\n'), success: true } }];"
      },
      "id": "g-formatear-servicios",
      "name": "G - Formatear Servicios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1408
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/professionals/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "name": "ordering",
              "value": "user__last_name"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h-list-professionals",
      "name": "H - Listar Profesionales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        1568
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\nif (!items.length) return [{ json: { output: 'No hay profesionales disponibles.', success: true } }];\nconst lines = items.map(p => {\n  const info = p.user_info || {};\n  const name = info.full_name || (info.first_name && info.last_name ? info.first_name + ' ' + info.last_name : 'Sin nombre');\n  const tipo = p.professional_type_display || p.professional_type || '';\n  const services = (p.services_detail || []).map(s => s.name + ' (' + s.duration_minutes + 'min, ' + s.price + '€)').join(', ');\n  const svcStr = services ? ' → ' + services : '';\n  return '• [ID:' + p.id + '] ' + name + (tipo ? ' (' + tipo + ')' : '') + svcStr;\n});\nreturn [{ json: { output: 'Profesionales:\\n' + lines.join('\\n'), success: true } }];"
      },
      "id": "h-formatear-profesionales",
      "name": "H - Formatear Profesionales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalizar Inputs').first().json;\n\n// Validaciones de negocio: devolver respuesta amigable (NO throw) para no romper el subworkflow\nif (!norm.professional_id) {\n  return [{ json: { valid: false, success: false, response: 'Para consultar horarios disponibles necesito saber con qué profesional. Usa action=list_professionals para ver los disponibles.' } }];\n}\n\nlet date = norm.date || norm.preferred_date || '';\nif (date) {\n  const parsed = new Date(date);\n  if (!isNaN(parsed.getTime())) {\n    date = date.replace(/T.*$/, '').substring(0, 10);\n    if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(date)) {\n      date = parsed.toISOString().split('T')[0];\n    }\n  } else {\n    return [{ json: { valid: false, success: false, response: 'El formato de fecha no es válido: ' + date + '. Usa el formato yyyy-MM-dd (ejemplo: 2026-05-08).' } }];\n  }\n} else {\n  const now = new Date();\n  const madridNow = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\n  madridNow.setDate(madridNow.getDate() + 1);\n  const y = madridNow.getFullYear();\n  const m = String(madridNow.getMonth() + 1).padStart(2, '0');\n  const d = String(madridNow.getDate()).padStart(2, '0');\n  date = y + '-' + m + '-' + d;\n}\n\nconst needs_service_lookup = !norm.service_id && !!norm.service;\nif (!norm.service_id && !norm.service) {\n  return [{ json: { valid: false, success: false, response: 'Para consultar horarios necesito el servicio. Indica el nombre del servicio (ej: \"empaste\", \"revisión\") o usa action=list_services para ver los disponibles.' } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  professional_id: norm.professional_id,\n  service_id: norm.service_id || null,\n  service_name: norm.service || '',\n  date_slots: date,\n  duration: norm.duration || 30,\n  django_auth_header: norm.django_auth_header,\n  clinic_id: norm.clinic_id,\n  needs_service_lookup: needs_service_lookup\n}}];"
      },
      "id": "i-validar-entrada-slots",
      "name": "I - Validar Entrada Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "resolve-service-cond",
              "leftValue": "={{ $json.needs_service_lookup }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "i-resolver-servicio",
      "name": "I - Resolver Servicio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        1712
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/services/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $('I - Validar Entrada Slots').first().json.clinic_id }}"
            },
            {
              "name": "is_active",
              "value": "true"
            },
            {
              "name": "ordering",
              "value": "name"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('I - Validar Entrada Slots').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "i-http-resolver-servicio",
      "name": "I - HTTP Resolver Servicio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        1872
      ]
    },
    {
      "parameters": {
        "jsCode": "const validated = $('I - Validar Entrada Slots').first().json;\nconst raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\n\nconst serviceName = (validated.service_name || '').toLowerCase().trim();\n\nlet match = items.find(s => s.name.toLowerCase() === serviceName);\nif (!match) {\n  match = items.find(s =>\n    s.name.toLowerCase().includes(serviceName) ||\n    serviceName.includes(s.name.toLowerCase())\n  );\n}\n\nif (!match) {\n  const available = items.map(s => s.name).join(', ');\n  // No romper el subworkflow: devolver respuesta amigable y cortar via IF posterior\n  return [{ json: { found: false, success: false, response: 'No encontré el servicio \"' + validated.service_name + '\". Servicios disponibles: ' + available + '. Usa action=list_services para ver todos.' } }];\n}\n\nreturn [{ json: {\n  found: true,\n  professional_id: validated.professional_id,\n  service_id: match.id,\n  service_name: match.name,\n  date_slots: validated.date_slots,\n  duration: validated.duration,\n  django_auth_header: validated.django_auth_header,\n  clinic_id: validated.clinic_id,\n  needs_service_lookup: false\n}}];"
      },
      "id": "i-extraer-service-id",
      "name": "I - Extraer service_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        1872
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/professionals/{{ $input.first().json.professional_id }}/available-slots/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $input.first().json.date_slots }}"
            },
            {
              "name": "duration",
              "value": "={{ $input.first().json.duration }}"
            },
            {
              "name": "service",
              "value": "={{ $input.first().json.service_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $input.first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "i-get-professional-slots",
      "name": "I - Obtener Slots Profesional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1648,
        1712
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nif (raw.works_this_day === false) {\n  const prof = raw.professional_name || 'El profesional';\n  const fecha = raw.date || $('Normalizar Inputs').first().json.date || '';\n  const msg = prof + ' no trabaja el ' + fecha + '. Por favor, elige otra fecha.';\n  return [{ json: { output: msg, success: true, works_this_day: false } }];\n}\nconst slots = raw.available_slots || raw.slots || (Array.isArray(raw) ? raw : []);\nif (!slots.length) return [{ json: { output: 'No hay horarios disponibles para esa fecha.', success: true } }];\nconst limited = slots.slice(0, 16);\nconst lines = limited.map(s => {\n  const raw_time = typeof s === 'string' ? s : (s.time || s.start_time || s.slot || '');\n  const timeStr = raw_time.includes('T') ? raw_time.split('T')[1].substring(0, 5) : raw_time.substring(0, 5);\n  return '• ' + timeStr;\n});\nconst extra = slots.length > 16 ? '\\n... y ' + (slots.length - 16) + ' más.' : '';\nconst fecha = raw.date || $('Normalizar Inputs').first().json.date || '';\nconst prof = raw.professional_name ? ' con ' + raw.professional_name : '';\nlet scheduleInfo = '';\nif (raw.schedule && raw.schedule.start_time && raw.schedule.end_time) {\n  scheduleInfo = ' (horario ' + raw.schedule.start_time.substring(0, 5) + '–' + raw.schedule.end_time.substring(0, 5) + ')';\n}\nconst header = fecha ? 'Horarios disponibles' + prof + scheduleInfo + ' para el ' + fecha + ':' : 'Horarios disponibles' + prof + scheduleInfo + ':';\nreturn [{ json: { output: header + '\\n' + lines.join('\\n') + extra, success: true } }];"
      },
      "id": "i-formatear-slots",
      "name": "I - Formatear Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalizar Inputs').first().json;\n\nif (!norm.professional_id) {\n  throw new Error('Para consultar la agenda del profesional necesito el ID del profesional. Usa action=list_professionals para ver los disponibles.');\n}\n\nreturn [{ json: {\n  professional_id: norm.professional_id,\n  django_auth_header: norm.django_auth_header,\n  clinic_id: norm.clinic_id\n}}];"
      },
      "id": "j-validar-profesional",
      "name": "J - Validar Profesional",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1856
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "professional",
              "value": "={{ $('J - Validar Profesional').first().json.professional_id }}"
            },
            {
              "name": "status",
              "value": "pending,confirmed"
            },
            {
              "name": "ordering",
              "value": "scheduled_at"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('J - Validar Profesional').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "id": "j-get-appointments-by-prof",
      "name": "J - Citas por Profesional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        1856
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\nif (!items.length) return [{ json: { output: 'No hay citas pendientes para este profesional.', success: true } }];\nconst lines = items.map(a => {\n  const fecha = a.scheduled_at ? a.scheduled_at.substring(0, 16).replace('T', ' ') : 'Sin fecha';\n  const paciente = a.patient_name || a.patient || 'Paciente';\n  const servicio = a.service_name || a.service || '';\n  return `• ${fecha} - ${paciente}${servicio ? ' (' + servicio + ')' : ''} [${a.status || ''}]`;\n});\nreturn [{ json: { output: 'Agenda:\\n' + lines.join('\\n'), success: true } }];"
      },
      "id": "j-formatear-agenda",
      "name": "J - Formatear Agenda Profesional",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1856
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/professionals/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $('Normalizar Inputs').first().json.clinic_id }}"
            },
            {
              "name": "search",
              "value": "={{ $('Normalizar Inputs').first().json.professional_name || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        368
      ],
      "id": "f15ad084-38f2-427d-842c-6d70fa9c6a9c",
      "name": "B - Buscar Profesional"
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalizar Inputs').first().json;\nconst requestedId = String(norm.appointment_id || '').trim();\nconst confirmed = norm.confirm === true;\nconst raw = $input.first().json;\nconst appointments = raw.results || (Array.isArray(raw) ? raw : []);\n\nfunction formatCita(a, index) {\n  const dt = new Date(a.scheduled_at);\n  const fecha = dt.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Madrid' });\n  const hora = dt.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid' });\n  const servicio = a.service_name || a.service || 'Consulta';\n  const profesional = a.professional_name || a.professional || '';\n  const prefix = index !== undefined ? (index + 1) + '. ' : '';\n  const profStr = profesional ? ('\\n   ' + profesional) : '';\n  return prefix + '*' + servicio + '*\\n   ' + fecha + ' a las ' + hora + profStr;\n}\n\nif (appointments.length === 0) {\n  return [{ json: {\n    proceed: false,\n    response: 'No tienes citas activas proximas para cancelar. Si necesitas agendar una nueva cita, con mucho gusto te ayudo.'\n  }}];\n}\n\n// Identificar la cita objetivo: por appointment_id indicado, o la unica activa\nlet selected = null;\nif (requestedId) {\n  selected = appointments.find(function(a) { return String(a.id) === requestedId; }) || null;\n}\nif (!selected && appointments.length === 1) {\n  selected = appointments[0];\n}\n\nif (selected) {\n  // Paso 2: solo cancelar si el usuario ha confirmado explicitamente\n  if (confirmed) {\n    return [{ json: {\n      proceed: true,\n      appointment_id: selected.id,\n      response: 'De acuerdo, procedo a cancelar tu cita.'\n    }}];\n  }\n  // Paso 1: pedir confirmacion, sin cancelar todavia\n  return [{ json: {\n    proceed: false,\n    appointment_id: selected.id,\n    response: 'Vas a cancelar esta cita:\\n\\n' + formatCita(selected) + '\\n\\nConfirmas la cancelacion? Responde SI para confirmar o NO para mantenerla.',\n    appointments: [{ numero: 1, id: selected.id }]\n  }}];\n}\n\n// Varias citas y ninguna seleccionada: pedir que elija\nconst lista = appointments.map(function(a, i) { return formatCita(a, i); }).join('\\n\\n');\nconst appointmentsList = appointments.map(function(a, i) { return { numero: i + 1, id: a.id }; });\nreturn [{ json: {\n  proceed: false,\n  response: 'Tienes varias citas activas proximas:\\n\\n' + lista + '\\n\\nCual quieres cancelar? Responde con el numero correspondiente.',\n  appointments: appointmentsList\n}}];"
      },
      "id": "c-evaluar-citas",
      "name": "C - Evaluar Citas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "proc-cancel-001",
              "leftValue": "={{ $json.proceed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c-if-proceder-cancel",
      "name": "C - Proceder Cancelacion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { success: true, response: input.response, appointments: input.appointments || null } }];"
      },
      "id": "c-respuesta-evaluacion",
      "name": "C - Respuesta Evaluacion Citas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, response: 'La acción a realizar sobre su cita no ha sido reconocida. Inténtelo de nuevo.' }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        1200
      ],
      "id": "8f5a6359-0173-47de-866e-e46847102b6a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "43ed9896-7e43-4939-91c3-c6de4db9f0ee",
      "name": "I - Validacion OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        1712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b69b35f-baf8-494a-97bb-4bb004fdace5",
      "name": "I - Servicio Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        1872
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/public/appointments/{{ $('E - Obtener Estado Cita').first().json.confirmation_token }}/cancel/",
        "options": {}
      },
      "id": "e-cancelar-reminder-token",
      "name": "E - Cancelar por Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        1056
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, response: 'Tu cita ha sido cancelada. Si deseas reprogramar, dime cuándo te viene bien.' }}];"
      },
      "id": "e-respuesta-cancelacion-reminder",
      "name": "E - Respuesta Cancelacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1056
      ]
    }
  ],
  "connections": {
    "Trigger - Execute Workflow": {
      "main": [
        [
          {
            "node": "Normalizar Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Inputs": {
      "main": [
        [
          {
            "node": "Router por Accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router por Accion": {
      "main": [
        [
          {
            "node": "A - Consultar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "B - Buscar Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "C - Buscar Paciente Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "D - Buscar Citas Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "E - Obtener Estado Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "F - Preparar Datos Registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "G - Listar Servicios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "H - Listar Profesionales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "I - Validar Entrada Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "J - Validar Profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A - Consultar Disponibilidad": {
      "main": [
        [
          {
            "node": "A - Formatear Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B - Buscar Paciente": {
      "main": [
        [
          {
            "node": "B - Buscar Servicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B - Buscar Servicio": {
      "main": [
        [
          {
            "node": "B - Buscar Profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B - Buscar Profesional": {
      "main": [
        [
          {
            "node": "B - Preparar Datos Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B - Preparar Datos Cita": {
      "main": [
        [
          {
            "node": "B - Crear Cita Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B - Crear Cita Django": {
      "main": [
        [
          {
            "node": "B - Respuesta Crear Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C - Buscar Paciente Cancelar": {
      "main": [
        [
          {
            "node": "C - Buscar Cita Activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C - Buscar Cita Activa": {
      "main": [
        [
          {
            "node": "C - Evaluar Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C - Evaluar Citas": {
      "main": [
        [
          {
            "node": "C - Proceder Cancelacion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C - Proceder Cancelacion?": {
      "main": [
        [
          {
            "node": "C - Obtener Token Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "C - Respuesta Evaluacion Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C - Obtener Token Cita": {
      "main": [
        [
          {
            "node": "C - Cancelar por Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C - Cancelar por Token": {
      "main": [
        [
          {
            "node": "C - Respuesta Cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D - Buscar Citas Paciente": {
      "main": [
        [
          {
            "node": "D - Listar Citas Activas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D - Listar Citas Activas": {
      "main": [
        [
          {
            "node": "D - Formatear Lista Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E - Obtener Estado Cita": {
      "main": [
        [
          {
            "node": "E - Router por Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E - Router por Respuesta": {
      "main": [
        [
          {
            "node": "E - Confirmar por Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "E - Cancelar por Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E - Confirmar por Token": {
      "main": [
        [
          {
            "node": "E - Respuesta Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F - Preparar Datos Registro": {
      "main": [
        [
          {
            "node": "F - Crear Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F - Crear Paciente": {
      "main": [
        [
          {
            "node": "F - Crear Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F - Crear Sesion": {
      "main": [
        [
          {
            "node": "F - Respuesta Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "G - Listar Servicios": {
      "main": [
        [
          {
            "node": "G - Formatear Servicios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "H - Listar Profesionales": {
      "main": [
        [
          {
            "node": "H - Formatear Profesionales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I - Resolver Servicio": {
      "main": [
        [
          {
            "node": "I - HTTP Resolver Servicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "I - Obtener Slots Profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I - HTTP Resolver Servicio": {
      "main": [
        [
          {
            "node": "I - Extraer service_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I - Obtener Slots Profesional": {
      "main": [
        [
          {
            "node": "I - Formatear Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J - Validar Profesional": {
      "main": [
        [
          {
            "node": "J - Citas por Profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J - Citas por Profesional": {
      "main": [
        [
          {
            "node": "J - Formatear Agenda Profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "POST Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Workflow Error": {
      "main": [
        [
          {
            "node": "Error - Respuesta Amigable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error - Accion No Reconocida": {
      "main": [
        [
          {
            "node": "Error - Respuesta Amigable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I - Validar Entrada Slots": {
      "main": [
        [
          {
            "node": "I - Validacion OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I - Validacion OK?": {
      "main": [
        [
          {
            "node": "I - Resolver Servicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I - Extraer service_id": {
      "main": [
        [
          {
            "node": "I - Servicio Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I - Servicio Encontrado?": {
      "main": [
        [
          {
            "node": "I - Obtener Slots Profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E - Cancelar por Token": {
      "main": [
        [
          {
            "node": "E - Respuesta Cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Trigger - Execute Workflow": [
      {
        "json": {
          "action": "create",
          "phone": "+34677668866",
          "clinic_id": "clinic-test",
          "django_auth_header": "Api-Key a52ea3b9-53c9-441d-895d-f9e5cdca48e4",
          "params": "{\"service_id\":\"1\",\"professional_id\":\"1\",\"date\":\"2026-05-08\",\"time\":\"10:00\"}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "29d843c1-b5f2-45e0-a03e-dcb6b742eb27",
  "activeVersionId": "29d843c1-b5f2-45e0-a03e-dcb6b742eb27",
  "versionCounter": 373,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-09T19:03:17.341Z",
      "createdAt": "2026-04-09T19:03:17.341Z",
      "role": "workflow:owner",
      "workflowId": "9uusM4595mjJOMCc",
      "projectId": "2RRplptgpwnH1F4I",
      "project": {
        "updatedAt": "2026-04-09T18:48:10.704Z",
        "createdAt": "2026-04-09T18:02:45.199Z",
        "id": "2RRplptgpwnH1F4I",
        "name": "devs cool <devsnncool@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-18T23:06:29.668Z",
    "createdAt": "2026-07-18T23:06:29.668Z",
    "versionId": "29d843c1-b5f2-45e0-a03e-dcb6b742eb27",
    "workflowId": "9uusM4595mjJOMCc",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"action\": \"create\",\n  \"phone\": \"+34600000001\",\n  \"clinic_id\": \"clinic-test\",\n  \"django_auth_header\": \"Token abc123\",\n  \"params\": \"{\\\"service_id\\\":1,\\\"professional_id\\\":2,\\\"preferred_date\\\":\\\"2026-04-16\\\",\\\"preferred_time\\\":\\\"10:00\\\"}\"\n}"
        },
        "id": "trigger-execute",
        "name": "Trigger - Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -128,
          528
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d68d6e2a-6e59-4f6f-8471-0abaabebe2d6",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "check_availability",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c5d2cf81-ff97-4b64-99e5-2739217e08fb",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "create",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7868e3b2-f256-4ae8-b1ba-1d2e1e847a81",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "cancel",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "2753bf9a-8703-4e7a-8376-1774d2ab97b9",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "list_upcoming",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "e432fe23-a93a-4c09-9be7-9ae9c6d2d30d",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "confirm_from_reminder",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d0e1783a-a5f4-469d-9a34-9299e37eb320",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "register_patient",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "15f76267-a14d-4cc9-9edc-9a71337fb854",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "list_services",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4fbdf5aa-a621-442f-a6c2-23c1b3f8df4e",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "list_professionals",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4d924032-66c2-43c5-a092-8a2162708829",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "get_professional_slots",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "15d75306-66d0-4a45-a2e2-05c27f32091b",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "get_appointments_by_professional",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "cancel-confirm-001",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "cancel_confirm",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "router-accion",
        "name": "Router por Accion",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          256,
          448
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/available-slots/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "date",
                "value": "={{ $('Normalizar Inputs').first().json.preferred_date || $now.plus(1, 'day').toFormat('yyyy-MM-dd') }}"
              },
              {
                "name": "clinic",
                "value": "={{ $('Normalizar Inputs').first().json.clinic_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "a-check-slots",
        "name": "A - Consultar Disponibilidad",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\nconst norm = $('Normalizar Inputs').first().json;\n\nlet preferredDate = norm.preferred_date;\nif (!preferredDate) {\n  const tomorrow = new Date();\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  preferredDate = tomorrow.toISOString().split('T')[0];\n}\n\nlet slots = [];\nif (Array.isArray(raw)) {\n  slots = raw;\n} else if (raw.slots && Array.isArray(raw.slots)) {\n  slots = raw.slots;\n} else if (raw.results && Array.isArray(raw.results)) {\n  slots = raw.results;\n} else if (raw.available_slots && Array.isArray(raw.available_slots)) {\n  slots = raw.available_slots;\n}\n\nconst fecha = new Date(preferredDate).toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nif (!slots.length) {\n  return [{ json: {\n    success: true,\n    response: `Lo siento, no hay horarios disponibles para ${fecha}. ¿Quieres que revisemos otro día?`\n  }}];\n}\n\nconst listaHorarios = slots.map(slot => {\n  if (typeof slot === 'string') return `• ${slot}`;\n  if (slot.time) return `• ${slot.time}`;\n  if (slot.start_time) return `• ${slot.start_time}`;\n  if (slot.hour) return `• ${slot.hour}`;\n  return `• ${JSON.stringify(slot)}`;\n}).join('\\n');\n\nreturn [{ json: {\n  success: true,\n  response: `Estos son los horarios disponibles para el ${fecha}:\\n\\n${listaHorarios}\\n\\n¿Cuál te viene mejor?`\n}}];"
        },
        "id": "a-respuesta-temporal",
        "name": "A - Formatear Disponibilidad",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          160
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.phone }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b-buscar-paciente",
        "name": "B - Buscar Paciente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          368
        ]
      },
      {
        "parameters": {
          "jsCode": "const norm = $('Normalizar Inputs').first().json;\nconst patientsRaw = $('B - Buscar Paciente').first().json;\nconst patients = patientsRaw.results || (Array.isArray(patientsRaw) ? patientsRaw : []);\n\nif (!patients.length) {\n  throw new Error('Paciente no encontrado para phone: ' + norm.phone);\n}\n\nconst patient = patients[0];\n\n// Buscar servicio por nombre con match parcial\nlet service_id = norm.service_id || null;\nlet serviceDuration = 30;\n\nif (!service_id) {\n  const serviciosRaw = $('B - Buscar Servicio').first().json;\n  const servicios = serviciosRaw.results || (Array.isArray(serviciosRaw) ? serviciosRaw : []);\n  const query = (norm.service || '').toLowerCase().trim();\n\n  let match = null;\n  if (query) {\n    match = servicios.find(s => s.name.toLowerCase() === query);\n    if (!match) match = servicios.find(s => s.name.toLowerCase().includes(query));\n    if (!match) match = servicios.find(s => query.includes(s.name.toLowerCase()));\n  }\n  if (!match && servicios.length === 1) match = servicios[0];\n\n  if (match) {\n    service_id = match.id;\n    if (match.duration_minutes) serviceDuration = match.duration_minutes;\n  }\n}\n\nif (!service_id) {\n  throw new Error('Servicio no encontrado: ' + (norm.service || 'no especificado') + '. Usa action=list_services para ver los disponibles.');\n}\n\n// Resolver professional_id\nlet professional_id = norm.professional_id ? parseInt(norm.professional_id) : null;\n\nif (!professional_id) {\n  const profRaw = $('B - Buscar Profesional').first().json;\n  const profs = profRaw.results || (Array.isArray(profRaw) ? profRaw : []);\n\n  if (profs.length === 1) {\n    professional_id = profs[0].id;\n  } else if (profs.length > 1) {\n    const searchName = (norm.professional_name || '').toLowerCase().trim();\n    if (searchName) {\n      const match = profs.find(p => {\n        const info = p.user_info || {};\n        const fullName = (info.full_name || (info.first_name + ' ' + info.last_name) || '').toLowerCase();\n        return fullName.includes(searchName) || searchName.includes(fullName.split(' ')[0]);\n      });\n      professional_id = match ? match.id : null;\n    }\n  }\n}\n\nif (!professional_id) {\n  throw new Error('Profesional no encontrado: ' + (norm.professional_name || 'no especificado') + '. Usa action=list_professionals para ver los disponibles.');\n}\n\nconst date = norm.preferred_date || '';\nconst time = norm.preferred_time || '09:00';\n\nif (!date) {\n  throw new Error('Se requiere preferred_date para crear la cita.');\n}\n\nfunction getMadridOffsetHours(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const madridHour = parseInt(d.toLocaleString('en-US', {\n    timeZone: 'Europe/Madrid',\n    hour: 'numeric',\n    hour12: false\n  }));\n  let diff = madridHour - 12;\n  if (diff > 12) diff -= 24;\n  if (diff < -12) diff += 24;\n  return diff;\n}\n\nconst offsetHours = getMadridOffsetHours(date);\nconst sign = offsetHours >= 0 ? '+' : '-';\nconst offsetStr = sign + String(Math.abs(offsetHours)).padStart(2, '0') + ':00';\n\nconst scheduledAt = date + 'T' + time + ':00' + offsetStr;\n\nconst [h, m] = time.split(':').map(Number);\nconst utcStart = new Date(Date.UTC(\n  parseInt(date.substring(0, 4)),\n  parseInt(date.substring(5, 7)) - 1,\n  parseInt(date.substring(8, 10)),\n  h - offsetHours,\n  m,\n  0\n));\nutcStart.setMinutes(utcStart.getMinutes() + serviceDuration);\nconst endAt = utcStart.toISOString();\n\nreturn [{ json: {\n  patient_id: patient.id,\n  clinic_id: patient.clinic,\n  service_id: service_id,\n  professional_id: professional_id,\n  scheduled_at: scheduledAt,\n  end_at: endAt,\n  phone: norm.phone\n}}];"
        },
        "id": "b-preparar-datos-cita",
        "name": "B - Preparar Datos Cita",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1184,
          368
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  clinic: $json.clinic_id,\n  patient: $json.patient_id,\n  service: $json.service_id,\n  professional: $json.professional_id || null,\n  scheduled_at: $json.scheduled_at,\n  end_at: $json.end_at,\n  status: 'pending'\n}) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b-crear-cita",
        "name": "B - Crear Cita Django",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1376,
          368
        ],
        "retryOnFail": true,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const cita = $input.first().json;\nconst trigger = $('Trigger - Execute Workflow').first().json;\n\nif (cita.id) {\n  const fecha = cita.scheduled_at\n    ? new Date(cita.scheduled_at).toLocaleString('es-ES', { timeZone: 'Europe/Madrid' })\n    : 'por confirmar';\n  return [{ json: {\n    success: true,\n    response: `Tu cita ha sido registrada para el ${fecha}. Estado: pendiente de confirmación. Te avisaremos cuando sea confirmada.`\n  }}];\n}\n\n// Errores de dominio: { code, message, details } con HTTP 400\n// (slot_unavailable, no_professional_available, professional_unavailable).\n// El message ya viene redactado para el paciente -> mostrarlo tal cual.\nif (cita.code && cita.message) {\n  return [{ json: { success: false, response: cita.message } }];\n}\n\nlet errorMsg = '';\n\nif (cita.detail) {\n  errorMsg = cita.detail;\n} else if (cita.non_field_errors) {\n  errorMsg = [].concat(cita.non_field_errors).join(' ');\n} else if (typeof cita === 'object' && cita !== null) {\n  const parts = Object.entries(cita).map(([field, msg]) => {\n    const text = [].concat(msg).join(', ');\n    return text;\n  });\n  errorMsg = parts.join(' ');\n}\n\nconst fallback = 'No hemos podido crear tu cita en este momento. Por favor, llámanos para agendar tu visita.';\n\nreturn [{ json: {\n  success: false,\n  response: errorMsg || fallback\n}}];"
        },
        "id": "b-respuesta-crear",
        "name": "B - Respuesta Crear Cita",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          368
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.phone }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c-buscar-paciente-cancelar",
        "name": "C - Buscar Paciente Cancelar",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          560
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "patient",
                "value": "={{ ($json.results || $json)[0].id }}"
              },
              {
                "name": "status",
                "value": "pending,confirmed"
              },
              {
                "name": "scheduled_at_after",
                "value": "={{ $now.toISODate() }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c-buscar-cita-activa",
        "name": "C - Buscar Cita Activa",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          864,
          560
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/{{ $json.appointment_id }}/status/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c-obtener-token",
        "name": "C - Obtener Token Cita",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1536,
          512
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/public/appointments/{{ $json.confirmation_token }}/cancel/",
          "options": {}
        },
        "id": "c-cancelar-token",
        "name": "C - Cancelar por Token",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1760,
          512
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const result = $input.first().json;\nif (result.status === 'cancelled' || result.id) {\n  return [{ json: { success: true, response: 'Tu cita ha sido cancelada correctamente. Si necesitas agendar otra, no dudes en escribirnos.' }}];\n} else {\n  return [{ json: { success: false, response: 'No hemos encontrado una cita activa para cancelar. ¿Puedes indicarnos más detalles?' }}];\n}"
        },
        "id": "c-respuesta-cancel",
        "name": "C - Respuesta Cancelacion",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1968,
          512
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.phone }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d-buscar-citas-paciente",
        "name": "D - Buscar Citas Paciente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          752
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "patient",
                "value": "={{ ($json.results || $json)[0].id }}"
              },
              {
                "name": "status",
                "value": "pending,confirmed"
              },
              {
                "name": "scheduled_at_after",
                "value": "={{ $now.toISODate() }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d-listar-citas",
        "name": "D - Listar Citas Activas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          912,
          752
        ]
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\nconst citas = raw.results || (Array.isArray(raw) ? raw : []);\n\nif (!citas.length) {\n  return [{ json: { success: true, response: 'No tienes citas pendientes en este momento.' }}];\n}\n\nconst lista = citas.map((c, i) => {\n  const fecha = new Date(c.scheduled_at).toLocaleString('es-ES', {timeZone: 'Europe/Madrid'});\n  const estado = c.status === 'confirmed' ? 'Confirmada' : 'Pendiente';\n  return `${i+1}. ${fecha} - ${estado}`;\n}).join('\\n');\n\nreturn [{ json: { success: true, response: `Tus próximas citas:\\n${lista}` }}];"
        },
        "id": "d-formatear-lista",
        "name": "D - Formatear Lista Citas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          752
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/{{ $json.appointment_id }}/status/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e-obtener-estado-cita",
        "name": "E - Obtener Estado Cita",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          960
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Normalizar Inputs').first().json.response }}",
                      "rightValue": "confirm",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "rightType": "value"
                      },
                      "id": "b9bbec73-a050-43c1-9f3e-ddb68c8f33e7"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Normalizar Inputs').first().json.response }}",
                      "rightValue": "cancel",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "rightType": "value"
                      },
                      "id": "4ea6539d-fbbf-4503-8bab-77a36c9db726"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "e-router-respuesta",
        "name": "E - Router por Respuesta",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          912,
          960
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/public/appointments/{{ $('E - Obtener Estado Cita').first().json.confirmation_token }}/confirm/",
          "options": {}
        },
        "id": "e-confirmar-token",
        "name": "E - Confirmar por Token",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1200,
          912
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { success: true, response: '¡Tu cita ha sido confirmada! Te esperamos. Si necesitas cambiar algo, escríbenos.' }}];"
        },
        "id": "e-respuesta-confirmacion",
        "name": "E - Respuesta Confirmacion",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          912
        ]
      },
      {
        "parameters": {
          "jsCode": "const action = $('Trigger - Execute Workflow').first().json.action || 'desconocida';\nreturn [{ json: {\n  success: false,\n  response: 'No he entendido tu solicitud. Puedo ayudarte a agendar, consultar o cancelar citas.'\n}}];"
        },
        "id": "error-accion-no-reconocida",
        "name": "Error - Accion No Reconocida",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          2032
        ]
      },
      {
        "parameters": {},
        "id": "error-trigger-global",
        "name": "Error Trigger Global",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -272,
          960
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { success: false, response: 'Lo siento, en este momento no puedo procesar tu solicitud. Inténtelo más tarde.' }}];"
        },
        "id": "error-respuesta-amigable",
        "name": "Error - Respuesta Amigable",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          960
        ]
      },
      {
        "parameters": {
          "content": "## WA-Appointments-Manager\n\nSub-workflow para gestión completa de citas.\n\n### Ramas\n- **check_availability**: DESACTIVADA (endpoint pendiente)\n- **create**: Buscar paciente → Crear cita en Django\n- **cancel**: Buscar paciente → Buscar cita activa → Obtener token → Cancelar por token público\n- **list_upcoming**: Buscar paciente → Listar citas pendientes/confirmadas\n- **confirm_from_reminder**: Obtener token → Confirmar/Cancelar por token público\n\n### Endpoints Django usados\n- GET /api/patients/?phone={phone}\n- GET /api/appointments/?patient={id}&status=pending,confirmed\n- POST /api/appointments/ (crear cita)\n- GET /api/appointments/{id}/status/ (obtener token)\n- POST /api/public/appointments/{token}/confirm/ (sin auth)\n- POST /api/public/appointments/{token}/cancel/ (sin auth)\n\n### Endpoints pendientes\n- GET /api/v1/appointments/available-slots/?service={id}&date={date}\n- POST /api/agent/errors/ (log errores, ReadOnly)",
          "height": 612,
          "width": 500
        },
        "id": "nota-descripcion-wf",
        "name": "Nota - Descripcion Workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -304,
          -144
        ]
      },
      {
        "parameters": {
          "jsCode": "const patient = $('F - Crear Paciente').first().json;\n\nif (patient.id) {\n  return [{ json: {\n    success: true,\n    response: `¡Perfecto, ${patient.first_name}! Ya estás registrado/a. ¿En qué puedo ayudarte? Puedo informarte sobre nuestros servicios, ayudarte a agendar una cita...`\n  }}];\n} else {\n  return [{ json: {\n    success: false,\n    response: 'Ha habido un problema al registrarte. Por favor, inténtalo de nuevo.'\n  }}];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          1264
        ],
        "id": "6d1f528d-8623-4f1c-8157-1e3ed7b620ce",
        "name": "F - Respuesta Registro"
      },
      {
        "parameters": {
          "jsCode": "const norm = $('Normalizar Inputs').first().json;\n\nreturn [{ json: {\n  clinic_id: norm.clinic_id,\n  first_name: norm.first_name || '',\n  last_name: norm.last_name || '',\n  phone: norm.phone,\n  email: norm.email || ''\n}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          1184
        ],
        "id": "893a2d7b-9cb4-4fd4-9bc4-eb9534406525",
        "name": "F - Preparar Datos Registro"
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/services/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "clinic",
                "value": "={{ $('Normalizar Inputs').first().json.clinic_id }}"
              },
              {
                "name": "is_active",
                "value": "true"
              },
              {
                "name": "ordering",
                "value": "name"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          800,
          368
        ],
        "id": "33965a71-ac9f-40ce-a44d-07cd4a1e92aa",
        "name": "B - Buscar Servicio"
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/agent/errors/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"workflow\": $json.workflow?.id || 'unknown', \"workflow_name\": $json.workflow?.name || 'unknown', \"node_name\": $json.execution?.lastNodeExecuted || 'unknown', \"error_message\": $json.execution?.error?.message || 'Error desconocido', \"phone\": $json.execution?.customData?.phone || '', \"payload\": JSON.stringify($json.execution?.error || {}), \"input_data\": JSON.stringify($json) } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -64,
          960
        ],
        "id": "e5f16b56-deea-4bd4-8ff0-b804a5eb1620",
        "name": "POST Workflow Error",
        "credentials": {
          "httpHeaderAuth": {
            "id": "f3MP3tIXyza6A1BO",
            "name": "Django Agent Master Key"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"phone\": $json.phone, \"clinic\": $json.clinic } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1168,
          1248
        ],
        "id": "dfb8d9c6-9332-4dee-8a0e-18fff3c80ede",
        "name": "F - Crear Sesion",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"clinic\": $json.clinic_id, \"first_name\": $json.first_name, \"last_name\": $json.last_name, \"phone\": $json.phone, \"email\": $json.email } }}",
          "options": {}
        },
        "id": "32d36c29-2835-4b23-afa8-0040be6907ec",
        "name": "F - Crear Paciente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          1248
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const trigger = $input.first().json;\nlet p = {};\ntry { p = typeof trigger.params === 'string' ? JSON.parse(trigger.params) : (trigger.params || {}); } catch(e) {}\n\nconst django_auth_header = trigger.django_auth_header || ''\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1)\nconst tomorrowFormated = tomorrow.toISOString()\n\nconst confirm = p.confirm === true || String(p.confirm || '').toLowerCase() === 'true';\n\nreturn [{ json: {\n  action: trigger.action || '',\n  phone: trigger.phone || '',\n  clinic_id: trigger.clinic_id || '',\n  django_auth_header: django_auth_header,\n  service: p.service || '',\n  service_id: p.service_id ? parseInt(p.service_id) : null,\n  professional_id: p.professional_id ? parseInt(p.professional_id) : null,\n  professional_name: p.professional_name || p.professional || '',\n  preferred_date: p.preferred_date || '',\n  preferred_time: p.preferred_time || '09:00',\n  appointment_id: p.appointment_id || '',\n  first_name: p.first_name || '',\n  last_name: p.last_name || '',\n  email: p.email || '',\n  date: p.date || tomorrowFormated || '',\n  duration: p.duration || 30,\n  confirm: confirm,\n  response: p.response || ''\n}}];"
        },
        "id": "normalizar-inputs",
        "name": "Normalizar Inputs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          528
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/services/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "clinic",
                "value": "={{ $json.clinic_id }}"
              },
              {
                "name": "is_active",
                "value": "true"
              },
              {
                "name": "ordering",
                "value": "name"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "g-list-services",
        "name": "G - Listar Servicios",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          1408
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\nif (!items.length) return [{ json: { output: 'No hay servicios disponibles.', success: true } }];\nconst lines = items.map(s => {\n  const price = s.price ? ` - ${s.price}€` : '';\n  const dur = s.duration ? ` (${s.duration} min)` : '';\n  return `• ${s.name}${price}${dur}`;\n});\nreturn [{ json: { output: 'Servicios disponibles:\\n' + lines.join('\\n'), success: true } }];"
        },
        "id": "g-formatear-servicios",
        "name": "G - Formatear Servicios",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          1408
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/professionals/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "clinic",
                "value": "={{ $json.clinic_id }}"
              },
              {
                "name": "ordering",
                "value": "user__last_name"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "h-list-professionals",
        "name": "H - Listar Profesionales",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          1568
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\nif (!items.length) return [{ json: { output: 'No hay profesionales disponibles.', success: true } }];\nconst lines = items.map(p => {\n  const info = p.user_info || {};\n  const name = info.full_name || (info.first_name && info.last_name ? info.first_name + ' ' + info.last_name : 'Sin nombre');\n  const tipo = p.professional_type_display || p.professional_type || '';\n  const services = (p.services_detail || []).map(s => s.name + ' (' + s.duration_minutes + 'min, ' + s.price + '€)').join(', ');\n  const svcStr = services ? ' → ' + services : '';\n  return '• [ID:' + p.id + '] ' + name + (tipo ? ' (' + tipo + ')' : '') + svcStr;\n});\nreturn [{ json: { output: 'Profesionales:\\n' + lines.join('\\n'), success: true } }];"
        },
        "id": "h-formatear-profesionales",
        "name": "H - Formatear Profesionales",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          1568
        ]
      },
      {
        "parameters": {
          "jsCode": "const norm = $('Normalizar Inputs').first().json;\n\n// Validaciones de negocio: devolver respuesta amigable (NO throw) para no romper el subworkflow\nif (!norm.professional_id) {\n  return [{ json: { valid: false, success: false, response: 'Para consultar horarios disponibles necesito saber con qué profesional. Usa action=list_professionals para ver los disponibles.' } }];\n}\n\nlet date = norm.date || norm.preferred_date || '';\nif (date) {\n  const parsed = new Date(date);\n  if (!isNaN(parsed.getTime())) {\n    date = date.replace(/T.*$/, '').substring(0, 10);\n    if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(date)) {\n      date = parsed.toISOString().split('T')[0];\n    }\n  } else {\n    return [{ json: { valid: false, success: false, response: 'El formato de fecha no es válido: ' + date + '. Usa el formato yyyy-MM-dd (ejemplo: 2026-05-08).' } }];\n  }\n} else {\n  const now = new Date();\n  const madridNow = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\n  madridNow.setDate(madridNow.getDate() + 1);\n  const y = madridNow.getFullYear();\n  const m = String(madridNow.getMonth() + 1).padStart(2, '0');\n  const d = String(madridNow.getDate()).padStart(2, '0');\n  date = y + '-' + m + '-' + d;\n}\n\nconst needs_service_lookup = !norm.service_id && !!norm.service;\nif (!norm.service_id && !norm.service) {\n  return [{ json: { valid: false, success: false, response: 'Para consultar horarios necesito el servicio. Indica el nombre del servicio (ej: \"empaste\", \"revisión\") o usa action=list_services para ver los disponibles.' } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  professional_id: norm.professional_id,\n  service_id: norm.service_id || null,\n  service_name: norm.service || '',\n  date_slots: date,\n  duration: norm.duration || 30,\n  django_auth_header: norm.django_auth_header,\n  clinic_id: norm.clinic_id,\n  needs_service_lookup: needs_service_lookup\n}}];"
        },
        "id": "i-validar-entrada-slots",
        "name": "I - Validar Entrada Slots",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          1712
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "resolve-service-cond",
                "leftValue": "={{ $json.needs_service_lookup }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "i-resolver-servicio",
        "name": "I - Resolver Servicio",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          880,
          1712
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/services/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "clinic",
                "value": "={{ $('I - Validar Entrada Slots').first().json.clinic_id }}"
              },
              {
                "name": "is_active",
                "value": "true"
              },
              {
                "name": "ordering",
                "value": "name"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('I - Validar Entrada Slots').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "i-http-resolver-servicio",
        "name": "I - HTTP Resolver Servicio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1120,
          1872
        ]
      },
      {
        "parameters": {
          "jsCode": "const validated = $('I - Validar Entrada Slots').first().json;\nconst raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\n\nconst serviceName = (validated.service_name || '').toLowerCase().trim();\n\nlet match = items.find(s => s.name.toLowerCase() === serviceName);\nif (!match) {\n  match = items.find(s =>\n    s.name.toLowerCase().includes(serviceName) ||\n    serviceName.includes(s.name.toLowerCase())\n  );\n}\n\nif (!match) {\n  const available = items.map(s => s.name).join(', ');\n  // No romper el subworkflow: devolver respuesta amigable y cortar via IF posterior\n  return [{ json: { found: false, success: false, response: 'No encontré el servicio \"' + validated.service_name + '\". Servicios disponibles: ' + available + '. Usa action=list_services para ver todos.' } }];\n}\n\nreturn [{ json: {\n  found: true,\n  professional_id: validated.professional_id,\n  service_id: match.id,\n  service_name: match.name,\n  date_slots: validated.date_slots,\n  duration: validated.duration,\n  django_auth_header: validated.django_auth_header,\n  clinic_id: validated.clinic_id,\n  needs_service_lookup: false\n}}];"
        },
        "id": "i-extraer-service-id",
        "name": "I - Extraer service_id",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          1872
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/professionals/{{ $input.first().json.professional_id }}/available-slots/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "date",
                "value": "={{ $input.first().json.date_slots }}"
              },
              {
                "name": "duration",
                "value": "={{ $input.first().json.duration }}"
              },
              {
                "name": "service",
                "value": "={{ $input.first().json.service_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $input.first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "i-get-professional-slots",
        "name": "I - Obtener Slots Profesional",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1648,
          1712
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\nif (raw.works_this_day === false) {\n  const prof = raw.professional_name || 'El profesional';\n  const fecha = raw.date || $('Normalizar Inputs').first().json.date || '';\n  const msg = prof + ' no trabaja el ' + fecha + '. Por favor, elige otra fecha.';\n  return [{ json: { output: msg, success: true, works_this_day: false } }];\n}\nconst slots = raw.available_slots || raw.slots || (Array.isArray(raw) ? raw : []);\nif (!slots.length) return [{ json: { output: 'No hay horarios disponibles para esa fecha.', success: true } }];\nconst limited = slots.slice(0, 16);\nconst lines = limited.map(s => {\n  const raw_time = typeof s === 'string' ? s : (s.time || s.start_time || s.slot || '');\n  const timeStr = raw_time.includes('T') ? raw_time.split('T')[1].substring(0, 5) : raw_time.substring(0, 5);\n  return '• ' + timeStr;\n});\nconst extra = slots.length > 16 ? '\\n... y ' + (slots.length - 16) + ' más.' : '';\nconst fecha = raw.date || $('Normalizar Inputs').first().json.date || '';\nconst prof = raw.professional_name ? ' con ' + raw.professional_name : '';\nlet scheduleInfo = '';\nif (raw.schedule && raw.schedule.start_time && raw.schedule.end_time) {\n  scheduleInfo = ' (horario ' + raw.schedule.start_time.substring(0, 5) + '–' + raw.schedule.end_time.substring(0, 5) + ')';\n}\nconst header = fecha ? 'Horarios disponibles' + prof + scheduleInfo + ' para el ' + fecha + ':' : 'Horarios disponibles' + prof + scheduleInfo + ':';\nreturn [{ json: { output: header + '\\n' + lines.join('\\n') + extra, success: true } }];"
        },
        "id": "i-formatear-slots",
        "name": "I - Formatear Slots",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          1712
        ]
      },
      {
        "parameters": {
          "jsCode": "const norm = $('Normalizar Inputs').first().json;\n\nif (!norm.professional_id) {\n  throw new Error('Para consultar la agenda del profesional necesito el ID del profesional. Usa action=list_professionals para ver los disponibles.');\n}\n\nreturn [{ json: {\n  professional_id: norm.professional_id,\n  django_auth_header: norm.django_auth_header,\n  clinic_id: norm.clinic_id\n}}];"
        },
        "id": "j-validar-profesional",
        "name": "J - Validar Profesional",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          1856
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "professional",
                "value": "={{ $('J - Validar Profesional').first().json.professional_id }}"
              },
              {
                "name": "status",
                "value": "pending,confirmed"
              },
              {
                "name": "ordering",
                "value": "scheduled_at"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('J - Validar Profesional').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "id": "j-get-appointments-by-prof",
        "name": "J - Citas por Profesional",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          864,
          1856
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\nconst items = raw.results || (Array.isArray(raw) ? raw : []);\nif (!items.length) return [{ json: { output: 'No hay citas pendientes para este profesional.', success: true } }];\nconst lines = items.map(a => {\n  const fecha = a.scheduled_at ? a.scheduled_at.substring(0, 16).replace('T', ' ') : 'Sin fecha';\n  const paciente = a.patient_name || a.patient || 'Paciente';\n  const servicio = a.service_name || a.service || '';\n  return `• ${fecha} - ${paciente}${servicio ? ' (' + servicio + ')' : ''} [${a.status || ''}]`;\n});\nreturn [{ json: { output: 'Agenda:\\n' + lines.join('\\n'), success: true } }];"
        },
        "id": "j-formatear-agenda",
        "name": "J - Formatear Agenda Profesional",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          1856
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/professionals/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "clinic",
                "value": "={{ $('Normalizar Inputs').first().json.clinic_id }}"
              },
              {
                "name": "search",
                "value": "={{ $('Normalizar Inputs').first().json.professional_name || '' }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Normalizar Inputs').first().json.django_auth_header }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          992,
          368
        ],
        "id": "f15ad084-38f2-427d-842c-6d70fa9c6a9c",
        "name": "B - Buscar Profesional"
      },
      {
        "parameters": {
          "jsCode": "const norm = $('Normalizar Inputs').first().json;\nconst requestedId = String(norm.appointment_id || '').trim();\nconst confirmed = norm.confirm === true;\nconst raw = $input.first().json;\nconst appointments = raw.results || (Array.isArray(raw) ? raw : []);\n\nfunction formatCita(a, index) {\n  const dt = new Date(a.scheduled_at);\n  const fecha = dt.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Madrid' });\n  const hora = dt.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid' });\n  const servicio = a.service_name || a.service || 'Consulta';\n  const profesional = a.professional_name || a.professional || '';\n  const prefix = index !== undefined ? (index + 1) + '. ' : '';\n  const profStr = profesional ? ('\\n   ' + profesional) : '';\n  return prefix + '*' + servicio + '*\\n   ' + fecha + ' a las ' + hora + profStr;\n}\n\nif (appointments.length === 0) {\n  return [{ json: {\n    proceed: false,\n    response: 'No tienes citas activas proximas para cancelar. Si necesitas agendar una nueva cita, con mucho gusto te ayudo.'\n  }}];\n}\n\n// Identificar la cita objetivo: por appointment_id indicado, o la unica activa\nlet selected = null;\nif (requestedId) {\n  selected = appointments.find(function(a) { return String(a.id) === requestedId; }) || null;\n}\nif (!selected && appointments.length === 1) {\n  selected = appointments[0];\n}\n\nif (selected) {\n  // Paso 2: solo cancelar si el usuario ha confirmado explicitamente\n  if (confirmed) {\n    return [{ json: {\n      proceed: true,\n      appointment_id: selected.id,\n      response: 'De acuerdo, procedo a cancelar tu cita.'\n    }}];\n  }\n  // Paso 1: pedir confirmacion, sin cancelar todavia\n  return [{ json: {\n    proceed: false,\n    appointment_id: selected.id,\n    response: 'Vas a cancelar esta cita:\\n\\n' + formatCita(selected) + '\\n\\nConfirmas la cancelacion? Responde SI para confirmar o NO para mantenerla.',\n    appointments: [{ numero: 1, id: selected.id }]\n  }}];\n}\n\n// Varias citas y ninguna seleccionada: pedir que elija\nconst lista = appointments.map(function(a, i) { return formatCita(a, i); }).join('\\n\\n');\nconst appointmentsList = appointments.map(function(a, i) { return { numero: i + 1, id: a.id }; });\nreturn [{ json: {\n  proceed: false,\n  response: 'Tienes varias citas activas proximas:\\n\\n' + lista + '\\n\\nCual quieres cancelar? Responde con el numero correspondiente.',\n  appointments: appointmentsList\n}}];"
        },
        "id": "c-evaluar-citas",
        "name": "C - Evaluar Citas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          560
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "proc-cancel-001",
                "leftValue": "={{ $json.proceed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c-if-proceder-cancel",
        "name": "C - Proceder Cancelacion?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1312,
          560
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nreturn [{ json: { success: true, response: input.response, appointments: input.appointments || null } }];"
        },
        "id": "c-respuesta-evaluacion",
        "name": "C - Respuesta Evaluacion Citas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          704
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { success: true, response: 'La acción a realizar sobre su cita no ha sido reconocida. Inténtelo de nuevo.' }}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1744,
          1200
        ],
        "id": "8f5a6359-0173-47de-866e-e46847102b6a",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "valid-check",
                "leftValue": "={{ $json.valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "43ed9896-7e43-4939-91c3-c6de4db9f0ee",
        "name": "I - Validacion OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          752,
          1712
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "found-check",
                "leftValue": "={{ $json.found }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3b69b35f-baf8-494a-97bb-4bb004fdace5",
        "name": "I - Servicio Encontrado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1504,
          1872
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/public/appointments/{{ $('E - Obtener Estado Cita').first().json.confirmation_token }}/cancel/",
          "options": {}
        },
        "id": "e-cancelar-reminder-token",
        "name": "E - Cancelar por Token",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1200,
          1056
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { success: true, response: 'Tu cita ha sido cancelada. Si deseas reprogramar, dime cuándo te viene bien.' }}];"
        },
        "id": "e-respuesta-cancelacion-reminder",
        "name": "E - Respuesta Cancelacion",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          1056
        ]
      }
    ],
    "connections": {
      "Trigger - Execute Workflow": {
        "main": [
          [
            {
              "node": "Normalizar Inputs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Inputs": {
        "main": [
          [
            {
              "node": "Router por Accion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Router por Accion": {
        "main": [
          [
            {
              "node": "A - Consultar Disponibilidad",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "B - Buscar Paciente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "C - Buscar Paciente Cancelar",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "D - Buscar Citas Paciente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "E - Obtener Estado Cita",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "F - Preparar Datos Registro",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "G - Listar Servicios",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "H - Listar Profesionales",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "I - Validar Entrada Slots",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "J - Validar Profesional",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "A - Consultar Disponibilidad": {
        "main": [
          [
            {
              "node": "A - Formatear Disponibilidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B - Buscar Paciente": {
        "main": [
          [
            {
              "node": "B - Buscar Servicio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B - Buscar Servicio": {
        "main": [
          [
            {
              "node": "B - Buscar Profesional",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B - Buscar Profesional": {
        "main": [
          [
            {
              "node": "B - Preparar Datos Cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B - Preparar Datos Cita": {
        "main": [
          [
            {
              "node": "B - Crear Cita Django",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B - Crear Cita Django": {
        "main": [
          [
            {
              "node": "B - Respuesta Crear Cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C - Buscar Paciente Cancelar": {
        "main": [
          [
            {
              "node": "C - Buscar Cita Activa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C - Buscar Cita Activa": {
        "main": [
          [
            {
              "node": "C - Evaluar Citas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C - Evaluar Citas": {
        "main": [
          [
            {
              "node": "C - Proceder Cancelacion?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C - Proceder Cancelacion?": {
        "main": [
          [
            {
              "node": "C - Obtener Token Cita",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "C - Respuesta Evaluacion Citas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C - Obtener Token Cita": {
        "main": [
          [
            {
              "node": "C - Cancelar por Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C - Cancelar por Token": {
        "main": [
          [
            {
              "node": "C - Respuesta Cancelacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "D - Buscar Citas Paciente": {
        "main": [
          [
            {
              "node": "D - Listar Citas Activas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "D - Listar Citas Activas": {
        "main": [
          [
            {
              "node": "D - Formatear Lista Citas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "E - Obtener Estado Cita": {
        "main": [
          [
            {
              "node": "E - Router por Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "E - Router por Respuesta": {
        "main": [
          [
            {
              "node": "E - Confirmar por Token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "E - Cancelar por Token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "E - Confirmar por Token": {
        "main": [
          [
            {
              "node": "E - Respuesta Confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "F - Preparar Datos Registro": {
        "main": [
          [
            {
              "node": "F - Crear Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "F - Crear Paciente": {
        "main": [
          [
            {
              "node": "F - Crear Sesion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "F - Crear Sesion": {
        "main": [
          [
            {
              "node": "F - Respuesta Registro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "G - Listar Servicios": {
        "main": [
          [
            {
              "node": "G - Formatear Servicios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "H - Listar Profesionales": {
        "main": [
          [
            {
              "node": "H - Formatear Profesionales",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "I - Resolver Servicio": {
        "main": [
          [
            {
              "node": "I - HTTP Resolver Servicio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "I - Obtener Slots Profesional",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "I - HTTP Resolver Servicio": {
        "main": [
          [
            {
              "node": "I - Extraer service_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "I - Obtener Slots Profesional": {
        "main": [
          [
            {
              "node": "I - Formatear Slots",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "J - Validar Profesional": {
        "main": [
          [
            {
              "node": "J - Citas por Profesional",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "J - Citas por Profesional": {
        "main": [
          [
            {
              "node": "J - Formatear Agenda Profesional",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger Global": {
        "main": [
          [
            {
              "node": "POST Workflow Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST Workflow Error": {
        "main": [
          [
            {
              "node": "Error - Respuesta Amigable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error - Accion No Reconocida": {
        "main": [
          [
            {
              "node": "Error - Respuesta Amigable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "I - Validar Entrada Slots": {
        "main": [
          [
            {
              "node": "I - Validacion OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "I - Validacion OK?": {
        "main": [
          [
            {
              "node": "I - Resolver Servicio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "I - Extraer service_id": {
        "main": [
          [
            {
              "node": "I - Servicio Encontrado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "I - Servicio Encontrado?": {
        "main": [
          [
            {
              "node": "I - Obtener Slots Profesional",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "E - Cancelar por Token": {
        "main": [
          [
            {
              "node": "E - Respuesta Cancelacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "devs cool",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-18T23:06:29.895Z",
        "id": 301,
        "workflowId": "9uusM4595mjJOMCc",
        "versionId": "29d843c1-b5f2-45e0-a03e-dcb6b742eb27",
        "event": "deactivated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      },
      {
        "createdAt": "2026-07-18T23:06:29.968Z",
        "id": 302,
        "workflowId": "9uusM4595mjJOMCc",
        "versionId": "29d843c1-b5f2-45e0-a03e-dcb6b742eb27",
        "event": "activated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    ]
  }
}