outputs/wa-clinic-info-rag.json
{
  "updatedAt": "2026-04-06T10:16:09.568Z",
  "createdAt": "2026-03-31T16:48:42.261Z",
  "id": "43XUwyqUHZn1KBT2",
  "name": "WA-Clinic-Info-RAG",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Trigger - Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "cargar-kb",
      "name": "Cargar Knowledge Base Django",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        300,
        400
      ],
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/knowledge/entries/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "kb_type",
              "value": "faq"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "cargar-servicios",
      "name": "Cargar Servicios Clinica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        300,
        600
      ],
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/services/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "name": "is_active",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "datos-clinica",
      "name": "Obtener Datos Clinica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        300,
        200
      ],
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/clinics/{{ $json.clinic_id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "combinar-contexto",
      "name": "Combinar Contexto Clinica",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ],
      "parameters": {
        "jsCode": "const trigger = $('Trigger - Execute Workflow').first().json;\n\n// Knowledge Base\nlet kbEntries = [];\ntry {\n  const kbRaw = $('Cargar Knowledge Base Django').first().json;\n  kbEntries = kbRaw.results || (Array.isArray(kbRaw) ? kbRaw : []);\n} catch(e) {}\n\n// Servicios\nlet servicios = [];\ntry {\n  const svcRaw = $('Cargar Servicios Clinica').first().json;\n  servicios = svcRaw.results || (Array.isArray(svcRaw) ? svcRaw : []);\n} catch(e) {}\n\n// Datos clínica\nlet clinica = {};\ntry {\n  clinica = $('Obtener Datos Clinica').first().json;\n} catch(e) {}\n\n// Formatear KB como contexto\nconst kbContext = kbEntries.map(e => `Q: ${e.question || e.title}\\nA: ${e.answer || e.content}`).join('\\n\\n');\n\n// Formatear servicios\nconst svcContext = servicios.map(s => `- ${s.name}: ${s.description || ''} (${s.duration_minutes || '?'} min, ${s.price || '?'}€)`).join('\\n');\n\nconst context = `CLINICA: ${clinica.name || 'Clínica'}\nTELEFONO: ${clinica.phone || 'No disponible'}\nDIRECCION: ${clinica.address || 'No disponible'}\n\nSERVICIOS DISPONIBLES:\n${svcContext || 'No hay servicios cargados.'}\n\nPREGUNTAS FRECUENTES:\n${kbContext || 'No hay FAQ cargadas.'}`;\n\nreturn [{ json: {\n  question: trigger.question,\n  clinic_id: trigger.clinic_id,\n  context: context,\n  has_kb: kbEntries.length > 0,\n  has_services: servicios.length > 0\n}}];"
      }
    },
    {
      "id": "tiene-datos",
      "name": "¿Tiene Datos para Responder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.has_kb }}"
            },
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.has_services }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "generar-respuesta",
      "name": "Generar Respuesta con Contexto",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Usando SOLO la información del contexto, responde la pregunta del paciente de forma concisa y profesional en español. No inventes información. Si no encuentras la respuesta en el contexto, di que no tienes esa información y sugiere llamar a la clínica.\n\nCONTEXTO:\n{{ $json.context }}\n\nPREGUNTA: {{ $json.question }}\n\nRESPUESTA:"
      }
    },
    {
      "id": "openai-gen",
      "name": "OpenAI - Generador",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1300,
        540
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      }
    },
    {
      "id": "resp-defecto",
      "name": "Respuesta por Defecto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        550
      ],
      "parameters": {
        "jsCode": "const trigger = $('Trigger - Execute Workflow').first().json;\nreturn [{ json: {\n  response: 'No dispongo de esa información en este momento. Te recomiendo llamar directamente a la clínica para que puedan ayudarte.',\n  question: trigger.question,\n  source: 'default'\n}}];"
      }
    },
    {
      "id": "resp-final",
      "name": "Devolver Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "jsCode": "const llmOutput = $input.first().json;\nreturn [{ json: {\n  response: llmOutput.text || llmOutput.output || llmOutput.response || 'No pude generar una respuesta.',\n  source: 'knowledge_base'\n}}];"
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        800
      ],
      "parameters": {}
    },
    {
      "id": "error-log",
      "name": "Error - Log Temporal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        800
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflow",
              "value": "WA-Clinic-Info-RAG",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "error",
              "value": "={{ $json.execution?.error?.message || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "nota-desc",
      "name": "Nota - Descripcion Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -350,
        -50
      ],
      "parameters": {
        "content": "## WA-Clinic-Info-RAG\n\nSub-workflow que responde preguntas sobre la clínica usando Knowledge Base, servicios y datos de la clínica de Django.\n\n### Endpoints Django usados\n- GET /api/knowledge/entries/?clinic={id}&active=true&kb_type=faq\n- GET /api/services/?clinic={id}&is_active=true\n- GET /api/clinics/{id}/\n\n### Endpoints pendientes\n- GET /api/v1/clinics/{id}/schedule/ (horarios apertura)\n  → Alternativa: horarios como texto en knowledge base\n\n### LLM\n- GPT-4o con temperatura 0.3\n- Solo responde con info del contexto, nunca inventa\n\n### SIN Postgres directo\nTodas las operaciones van por Django REST API.",
        "height": 420,
        "width": 500
      }
    }
  ],
  "connections": {
    "Trigger - Execute Workflow": {
      "main": [
        [
          {
            "node": "Cargar Knowledge Base Django",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cargar Servicios Clinica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Datos Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Knowledge Base Django": {
      "main": [
        [
          {
            "node": "Combinar Contexto Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Contexto Clinica": {
      "main": [
        [
          {
            "node": "¿Tiene Datos para Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Datos para Responder?": {
      "main": [
        [
          {
            "node": "Generar Respuesta con Contexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta por Defecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta con Contexto": {
      "main": [
        [
          {
            "node": "Devolver Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Error - Log Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1d39f82c-45e0-4f78-9aa1-13d5006af773",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-31T16:48:42.264Z",
      "createdAt": "2026-03-31T16:48:42.264Z",
      "role": "workflow:owner",
      "workflowId": "43XUwyqUHZn1KBT2",
      "projectId": "Uw7iGhGodpLTW8Zv",
      "project": {
        "updatedAt": "2026-03-27T04:32:05.440Z",
        "createdAt": "2026-03-27T04:24:04.464Z",
        "id": "Uw7iGhGodpLTW8Zv",
        "name": "Jesús Dev <jesuslopezjaen03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fbbfb9bb-6047-4e9a-87a3-f8fffa66500b"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-31T16:47:53.388Z",
      "createdAt": "2026-03-31T16:47:53.388Z",
      "id": "STkeOwvyOGyHXNaU",
      "name": "Agente_Clínicas"
    }
  ],
  "activeVersion": null
}