outputs/wa-clinic-info-rag.json
{
  "updatedAt": "2026-04-09T23:29:11.879Z",
  "createdAt": "2026-04-09T19:03:13.976Z",
  "id": "YJFyPtkcDPM4XXXB",
  "name": "WA-Clinic-Info-RAG",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Trigger - Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/knowledge/entries/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "kb_type",
              "value": "faq"
            }
          ]
        },
        "options": {}
      },
      "id": "cargar-kb",
      "name": "Cargar Knowledge Base Django",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/services/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clinic",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "name": "is_active",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "cargar-servicios",
      "name": "Cargar Servicios Clinica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        608
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/clinics/{{ $json.clinic_id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "datos-clinica",
      "name": "Obtener Datos Clinica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Trigger - Execute Workflow').first().json;\n\n// Knowledge Base\nlet kbEntries = [];\ntry {\n  const kbRaw = $('Cargar Knowledge Base Django').first().json;\n  kbEntries = kbRaw.results || (Array.isArray(kbRaw) ? kbRaw : []);\n} catch(e) {}\n\n// Servicios\nlet servicios = [];\ntry {\n  const svcRaw = $('Cargar Servicios Clinica').first().json;\n  servicios = svcRaw.results || (Array.isArray(svcRaw) ? svcRaw : []);\n} catch(e) {}\n\n// Datos clínica\nlet clinica = {};\ntry {\n  clinica = $('Obtener Datos Clinica').first().json;\n} catch(e) {}\n\n// Formatear KB como contexto\nconst kbContext = kbEntries.map(e => `Q: ${e.question || e.title}\\nA: ${e.answer || e.content}`).join('\\n\\n');\n\n// Formatear servicios\nconst svcContext = servicios.map(s => `- ${s.name}: ${s.description || ''} (${s.duration_minutes || '?'} min, ${s.price || '?'}€)`).join('\\n');\n\nconst context = `CLINICA: ${clinica.name || 'Clínica'}\nTELEFONO: ${clinica.phone || 'No disponible'}\nDIRECCION: ${clinica.address || 'No disponible'}\n\nSERVICIOS DISPONIBLES:\n${svcContext || 'No hay servicios cargados.'}\n\nPREGUNTAS FRECUENTES:\n${kbContext || 'No hay FAQ cargadas.'}`;\n\nreturn [{ json: {\n  question: trigger.question,\n  clinic_id: trigger.clinic_id,\n  context: context,\n  has_kb: kbEntries.length > 0,\n  has_services: servicios.length > 0\n}}];"
      },
      "id": "combinar-contexto",
      "name": "Combinar Contexto Clinica",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.has_kb }}"
            },
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.has_services }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tiene-datos",
      "name": "¿Tiene Datos para Responder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Usando SOLO la información del contexto, responde la pregunta del paciente de forma concisa y profesional en español. No inventes información. Si no encuentras la respuesta en el contexto, di que no tienes esa información y sugiere llamar a la clínica.\n\nCONTEXTO:\n{{ $json.context }}\n\nPREGUNTA: {{ $json.question }}\n\nRESPUESTA:"
      },
      "id": "generar-respuesta",
      "name": "Generar Respuesta con Contexto",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1312,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Trigger - Execute Workflow').first().json;\nreturn [{ json: {\n  response: 'No dispongo de esa información en este momento. Te recomiendo llamar directamente a la clínica para que puedan ayudarte.',\n  question: trigger.question,\n  source: 'default'\n}}];"
      },
      "id": "resp-defecto",
      "name": "Respuesta por Defecto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.first().json;\nreturn [{ json: {\n  response: llmOutput.text || llmOutput.output || llmOutput.response || 'No pude generar una respuesta.',\n  source: 'knowledge_base'\n}}];"
      },
      "id": "resp-final",
      "name": "Devolver Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        304
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflow",
              "value": "WA-Clinic-Info-RAG",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "error",
              "value": "={{ $json.execution?.error?.message || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "error-log",
      "name": "Error - Log Temporal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        800
      ]
    },
    {
      "parameters": {
        "content": "## WA-Clinic-Info-RAG\n\nSub-workflow que responde preguntas sobre la clínica usando Knowledge Base, servicios y datos de la clínica de Django.\n\n### Endpoints Django usados\n- GET /api/knowledge/entries/?clinic={id}&active=true&kb_type=faq\n- GET /api/services/?clinic={id}&is_active=true\n- GET /api/clinics/{id}/\n\n### Endpoints pendientes\n- GET /api/v1/clinics/{id}/schedule/ (horarios apertura)\n  → Alternativa: horarios como texto en knowledge base\n\n### LLM\n- GPT-4o con temperatura 0.3\n- Solo responde con info del contexto, nunca inventa\n\n### SIN Postgres directo\nTodas las operaciones van por Django REST API.",
        "height": 420,
        "width": 500
      },
      "id": "nota-desc",
      "name": "Nota - Descripcion Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -48
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1312,
        464
      ],
      "id": "52291157-eb23-4e19-926c-e38b937055ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AB3p940X8jMCzP7Y",
          "name": "OpenAi Devs"
        }
      }
    }
  ],
  "connections": {
    "Trigger - Execute Workflow": {
      "main": [
        [
          {
            "node": "Cargar Knowledge Base Django",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cargar Servicios Clinica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Datos Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Knowledge Base Django": {
      "main": [
        [
          {
            "node": "Combinar Contexto Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Contexto Clinica": {
      "main": [
        [
          {
            "node": "¿Tiene Datos para Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Datos para Responder?": {
      "main": [
        [
          {
            "node": "Generar Respuesta con Contexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta por Defecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta con Contexto": {
      "main": [
        [
          {
            "node": "Devolver Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Error - Log Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Respuesta con Contexto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4a50d531-2e9a-4558-872c-d88570fa1e70",
  "activeVersionId": "4a50d531-2e9a-4558-872c-d88570fa1e70",
  "versionCounter": 22,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-09T19:03:13.976Z",
      "createdAt": "2026-04-09T19:03:13.976Z",
      "role": "workflow:owner",
      "workflowId": "YJFyPtkcDPM4XXXB",
      "projectId": "2RRplptgpwnH1F4I",
      "project": {
        "updatedAt": "2026-04-09T18:48:10.704Z",
        "createdAt": "2026-04-09T18:02:45.199Z",
        "id": "2RRplptgpwnH1F4I",
        "name": "devs cool <devsnncool@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-09T23:29:06.063Z",
    "createdAt": "2026-04-09T23:29:06.063Z",
    "versionId": "4a50d531-2e9a-4558-872c-d88570fa1e70",
    "workflowId": "YJFyPtkcDPM4XXXB",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger",
        "name": "Trigger - Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          400
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/knowledge/entries/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "clinic",
                "value": "={{ $json.clinic_id }}"
              },
              {
                "name": "active",
                "value": "true"
              },
              {
                "name": "kb_type",
                "value": "faq"
              }
            ]
          },
          "options": {}
        },
        "id": "cargar-kb",
        "name": "Cargar Knowledge Base Django",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          304,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/services/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "clinic",
                "value": "={{ $json.clinic_id }}"
              },
              {
                "name": "is_active",
                "value": "true"
              }
            ]
          },
          "options": {}
        },
        "id": "cargar-servicios",
        "name": "Cargar Servicios Clinica",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          304,
          608
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/clinics/{{ $json.clinic_id }}/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "datos-clinica",
        "name": "Obtener Datos Clinica",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          304,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const trigger = $('Trigger - Execute Workflow').first().json;\n\n// Knowledge Base\nlet kbEntries = [];\ntry {\n  const kbRaw = $('Cargar Knowledge Base Django').first().json;\n  kbEntries = kbRaw.results || (Array.isArray(kbRaw) ? kbRaw : []);\n} catch(e) {}\n\n// Servicios\nlet servicios = [];\ntry {\n  const svcRaw = $('Cargar Servicios Clinica').first().json;\n  servicios = svcRaw.results || (Array.isArray(svcRaw) ? svcRaw : []);\n} catch(e) {}\n\n// Datos clínica\nlet clinica = {};\ntry {\n  clinica = $('Obtener Datos Clinica').first().json;\n} catch(e) {}\n\n// Formatear KB como contexto\nconst kbContext = kbEntries.map(e => `Q: ${e.question || e.title}\\nA: ${e.answer || e.content}`).join('\\n\\n');\n\n// Formatear servicios\nconst svcContext = servicios.map(s => `- ${s.name}: ${s.description || ''} (${s.duration_minutes || '?'} min, ${s.price || '?'}€)`).join('\\n');\n\nconst context = `CLINICA: ${clinica.name || 'Clínica'}\nTELEFONO: ${clinica.phone || 'No disponible'}\nDIRECCION: ${clinica.address || 'No disponible'}\n\nSERVICIOS DISPONIBLES:\n${svcContext || 'No hay servicios cargados.'}\n\nPREGUNTAS FRECUENTES:\n${kbContext || 'No hay FAQ cargadas.'}`;\n\nreturn [{ json: {\n  question: trigger.question,\n  clinic_id: trigger.clinic_id,\n  context: context,\n  has_kb: kbEntries.length > 0,\n  has_services: servicios.length > 0\n}}];"
        },
        "id": "combinar-contexto",
        "name": "Combinar Contexto Clinica",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "or",
            "conditions": [
              {
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.has_kb }}"
              },
              {
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.has_services }}"
              }
            ]
          },
          "options": {}
        },
        "id": "tiene-datos",
        "name": "¿Tiene Datos para Responder?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1008,
          400
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Usando SOLO la información del contexto, responde la pregunta del paciente de forma concisa y profesional en español. No inventes información. Si no encuentras la respuesta en el contexto, di que no tienes esa información y sugiere llamar a la clínica.\n\nCONTEXTO:\n{{ $json.context }}\n\nPREGUNTA: {{ $json.question }}\n\nRESPUESTA:"
        },
        "id": "generar-respuesta",
        "name": "Generar Respuesta con Contexto",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          1312,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const trigger = $('Trigger - Execute Workflow').first().json;\nreturn [{ json: {\n  response: 'No dispongo de esa información en este momento. Te recomiendo llamar directamente a la clínica para que puedan ayudarte.',\n  question: trigger.question,\n  source: 'default'\n}}];"
        },
        "id": "resp-defecto",
        "name": "Respuesta por Defecto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1312,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const llmOutput = $input.first().json;\nreturn [{ json: {\n  response: llmOutput.text || llmOutput.output || llmOutput.response || 'No pude generar una respuesta.',\n  source: 'knowledge_base'\n}}];"
        },
        "id": "resp-final",
        "name": "Devolver Respuesta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          304
        ]
      },
      {
        "parameters": {},
        "id": "error-trigger",
        "name": "Error Trigger Global",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          800
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "workflow",
                "value": "WA-Clinic-Info-RAG",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "error",
                "value": "={{ $json.execution?.error?.message || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "error-log",
        "name": "Error - Log Temporal",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          304,
          800
        ]
      },
      {
        "parameters": {
          "content": "## WA-Clinic-Info-RAG\n\nSub-workflow que responde preguntas sobre la clínica usando Knowledge Base, servicios y datos de la clínica de Django.\n\n### Endpoints Django usados\n- GET /api/knowledge/entries/?clinic={id}&active=true&kb_type=faq\n- GET /api/services/?clinic={id}&is_active=true\n- GET /api/clinics/{id}/\n\n### Endpoints pendientes\n- GET /api/v1/clinics/{id}/schedule/ (horarios apertura)\n  → Alternativa: horarios como texto en knowledge base\n\n### LLM\n- GPT-4o con temperatura 0.3\n- Solo responde con info del contexto, nunca inventa\n\n### SIN Postgres directo\nTodas las operaciones van por Django REST API.",
          "height": 420,
          "width": 500
        },
        "id": "nota-desc",
        "name": "Nota - Descripcion Workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -352,
          -48
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1312,
          464
        ],
        "id": "52291157-eb23-4e19-926c-e38b937055ea",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "AB3p940X8jMCzP7Y",
            "name": "OpenAi Devs"
          }
        }
      }
    ],
    "connections": {
      "Trigger - Execute Workflow": {
        "main": [
          [
            {
              "node": "Cargar Knowledge Base Django",
              "type": "main",
              "index": 0
            },
            {
              "node": "Cargar Servicios Clinica",
              "type": "main",
              "index": 0
            },
            {
              "node": "Obtener Datos Clinica",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cargar Knowledge Base Django": {
        "main": [
          [
            {
              "node": "Combinar Contexto Clinica",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combinar Contexto Clinica": {
        "main": [
          [
            {
              "node": "¿Tiene Datos para Responder?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Tiene Datos para Responder?": {
        "main": [
          [
            {
              "node": "Generar Respuesta con Contexto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respuesta por Defecto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar Respuesta con Contexto": {
        "main": [
          [
            {
              "node": "Devolver Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger Global": {
        "main": [
          [
            {
              "node": "Error - Log Temporal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Generar Respuesta con Contexto",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "devs cool",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-09T23:29:12.003Z",
        "id": 50,
        "workflowId": "YJFyPtkcDPM4XXXB",
        "versionId": "4a50d531-2e9a-4558-872c-d88570fa1e70",
        "event": "deactivated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      },
      {
        "createdAt": "2026-04-09T23:29:12.062Z",
        "id": 51,
        "workflowId": "YJFyPtkcDPM4XXXB",
        "versionId": "4a50d531-2e9a-4558-872c-d88570fa1e70",
        "event": "activated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    ]
  }
}
