outputs/WA-Inbound-Orchestrator.json
{
  "name": "WA-Inbound-Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp-inbound",
        "options": {}
      },
      "id": "webhook-wa",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "wa-inbound"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || $json;\nconst entry = body.entry;\n\nif (!entry || !entry[0] || !entry[0].changes || !entry[0].changes[0] || !entry[0].changes[0].value.messages) {\n  return [{ json: { skip: true } }];\n}\n\nconst value = entry[0].changes[0].value;\nconst msg = value.messages[0];\nconst contact = value.contacts ? value.contacts[0] : {};\nconst phoneNumberId = value.metadata ? value.metadata.phone_number_id : '';\n\nreturn [{ json: {\n  phone: msg.from,\n  message: msg.text ? msg.text.body : '',\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  message_type: msg.type,\n  is_text: msg.type === 'text',\n  contact_name: contact.profile ? contact.profile.name : '',\n  phone_number_id: phoneNumberId,\n  clinic_id: 'default'\n}}];"
      },
      "id": "normalize-msg",
      "name": "Normalizar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "is-text",
      "name": "Es Mensaje Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Normalizar Mensaje').first().json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Normalizar Mensaje').first().json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Hola, de momento solo puedo procesar mensajes de texto. Por favor, escribeme tu consulta.\" }\n}",
        "options": {}
      },
      "id": "send-non-text",
      "name": "Responder Solo Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        608
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WA_CREDENTIAL_ID",
          "name": "WhatsApp Cloud API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_data, last_interaction, appointment_context FROM conversation_sessions WHERE phone = $1 AND updated_at > NOW() - INTERVAL '24 hours' LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Normalizar Mensaje').first().json.phone }}"
        }
      },
      "id": "load-session",
      "name": "Cargar Sesion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, service, datetime FROM appointments WHERE patient_phone = $1 AND reminder_24h_sent = true AND reminder_responded = false AND datetime > NOW() AND status != 'cancelled' LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Normalizar Mensaje').first().json.phone }}"
        }
      },
      "id": "check-reminder",
      "name": "Verificar Reminder Pendiente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalizar Mensaje').first().json;\nconst session = $('Cargar Sesion').first().json;\nconst reminder = $('Verificar Reminder Pendiente').first().json;\n\nreturn [{ json: {\n  chatInput: normalized.message,\n  phone: normalized.phone,\n  clinic_id: normalized.clinic_id,\n  phone_number_id: normalized.phone_number_id,\n  contact_name: normalized.contact_name,\n  session_data: JSON.stringify(session.session_data || {}),\n  is_reminder_response: !!(reminder && reminder.id),\n  pending_appointment_id: (reminder && reminder.id) ? reminder.id : '',\n  pending_appointment_service: (reminder && reminder.service) ? reminder.service : '',\n  pending_appointment_datetime: (reminder && reminder.datetime) ? String(reminder.datetime) : ''\n}}];"
      },
      "id": "prepare-context",
      "name": "Preparar Contexto Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un asistente de IA para clinicas medicas que gestiona citas por WhatsApp. Eres amable, profesional y conciso. Siempre respondes en el idioma del usuario.\n\nUSUARIO: {{ $json.phone }} ({{ $json.contact_name }})\nCLINICA ID: {{ $json.clinic_id }}\nCONTEXTO DE SESION: {{ $json.session_data }}\nFECHA Y HORA ACTUAL: {{ $now.toISO() }}\n\n{{ $json.is_reminder_response ? 'ATENCION: El usuario responde a un RECORDATORIO. Cita pendiente: ID=' + $json.pending_appointment_id + ', Servicio=' + $json.pending_appointment_service + ', Fecha=' + $json.pending_appointment_datetime + '. Usa tool_confirm_reminder_response.' : '' }}\n\nINSTRUCCIONES:\n- Si el usuario responde a un recordatorio, usa tool_confirm_reminder_response\n- Si quiere agendar, consultar, cancelar o reprogramar citas, usa tool_check_and_book_appointment\n- Si pregunta sobre servicios, precios, horarios o info de la clinica, usa tool_get_clinic_information\n- Nunca inventes disponibilidad, precios ni horarios\n- Siempre confirma los datos antes de crear una cita\n- Se conciso (maximo 300 caracteres para WhatsApp)\n- Pasa siempre phone={{ $json.phone }} y clinic_id={{ $json.clinic_id }} a las herramientas",
          "maxIterations": 10
        }
      },
      "id": "ai-agent",
      "name": "Agente IA Clinica",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1600,
        256
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai-model",
      "name": "OpenAI - Agente",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1584,
        448
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.phone }}",
        "tableName": "agent_memory",
        "contextWindowLength": 10
      },
      "id": "pg-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1680,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      }
    },
    {
      "parameters": {
        "name": "tool_check_and_book_appointment",
        "description": "Gestiona citas: consultar disponibilidad (check_availability), crear (create), cancelar (cancel), reprogramar (reschedule) o listar proximas (list_upcoming). Pasa siempre phone y clinic_id.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ugePP9WO4Nn9OS0e"
        },
        "workflowInputs": {
          "value": {
            "action": "={{ $fromAI('action', 'Accion: check_availability, create, cancel, reschedule, list_upcoming', 'string') }}",
            "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
            "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}",
            "service": "={{ $fromAI('service', 'Servicio solicitado (opcional)', 'string') }}",
            "preferred_date": "={{ $fromAI('preferred_date', 'Fecha YYYY-MM-DD (opcional)', 'string') }}",
            "preferred_time": "={{ $fromAI('preferred_time', 'Hora HH:MM (opcional)', 'string') }}",
            "appointment_id": "={{ $fromAI('appointment_id', 'UUID cita para cancel/reschedule (opcional)', 'string') }}"
          },
          "schema": [
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "clinic_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "clinic_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "service",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "preferred_date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "preferred_time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-appointments",
      "name": "Tool - Gestionar Citas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1408,
        -208
      ]
    },
    {
      "parameters": {
        "name": "tool_get_clinic_information",
        "description": "Busca informacion de la clinica: servicios, precios, horarios, FAQ, ubicacion, politicas. Usar cuando el usuario pregunta sobre la clinica.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "fnPWy2yN6gaM6jIt"
        },
        "workflowInputs": {
          "value": {
            "question": "={{ $fromAI('question', 'Pregunta del usuario sobre la clinica', 'string') }}",
            "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}"
          },
          "schema": [
            {
              "id": "question",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "question",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "clinic_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "clinic_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-clinic-info",
      "name": "Tool - Info Clinica",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1600,
        -208
      ]
    },
    {
      "parameters": {
        "name": "tool_confirm_reminder_response",
        "description": "Confirma, cancela o reprograma una cita desde un recordatorio. SOLO usar cuando el contexto indica is_reminder_response=true.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ugePP9WO4Nn9OS0e"
        },
        "workflowInputs": {
          "value": {
            "action": "confirm_from_reminder",
            "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
            "appointment_id": "={{ $fromAI('appointment_id', 'UUID de la cita del recordatorio', 'string') }}",
            "response": "={{ $fromAI('response', 'Respuesta: confirm, cancel o reschedule', 'string') }}"
          },
          "schema": [
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-reminder",
      "name": "Tool - Confirmar Reminder",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1808,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_sessions (phone, session_data, last_interaction, updated_at) VALUES ($1, $2::jsonb, NOW(), NOW()) ON CONFLICT (phone) DO UPDATE SET session_data = $2::jsonb, last_interaction = NOW(), updated_at = NOW();",
        "options": {
          "queryReplacement": "={{ $('Preparar Contexto Agente').first().json.phone }}, ={{ JSON.stringify({ last_message: $('Preparar Contexto Agente').first().json.chatInput, last_response: ($json.output || $json.text || '').substring(0, 500) }) }}"
        }
      },
      "id": "save-session",
      "name": "Guardar Sesion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Preparar Contexto Agente').first().json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Preparar Contexto Agente').first().json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('Agente IA Clinica').first().json.output }}\" }\n}",
        "options": {}
      },
      "id": "send-wa",
      "name": "Enviar Respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        256
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "WA_CREDENTIAL_ID",
          "name": "WhatsApp Cloud API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow, error_message, phone, payload, created_at) VALUES ('WA-Inbound-Orchestrator', $1, $2, $3::jsonb, NOW());",
        "options": {
          "queryReplacement": "={{ $json.execution.error.message || 'Error desconocido' }}, ={{ $json.execution.lastNodeExecuted || '' }}, ={{ JSON.stringify({ node: $json.execution.lastNodeExecuted, data: $json.execution.data || {} }) }}"
        }
      },
      "id": "error-log",
      "name": "Error - Log BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  success: false,\n  message: 'Disculpa, tuve un problema tecnico. Por favor intenta de nuevo en unos minutos.',\n  error_logged: true\n}}];"
      },
      "id": "error-send",
      "name": "Error - Responder Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        800
      ]
    },
    {
      "parameters": {
        "content": "## WA-Inbound-Orchestrator\n\n### Setup WhatsApp Cloud API\n1. Crear credencial 'WhatsApp Cloud API' tipo Header Auth:\n   - Name: Authorization\n   - Value: Bearer YOUR_WA_TOKEN\n2. Configurar webhook URL en Meta Developer Console\n3. Para verificacion GET, usar otro webhook o verificar manualmente\n\n### Credenciales necesarias\n- **Postgres Clinica**: conexion a BD\n- **WhatsApp Cloud API**: Header Auth con Bearer token\n- **OpenAI**: API key para GPT-4o\n\n### Schema SQL\n```sql\nCREATE TABLE conversation_sessions (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  phone VARCHAR(20) UNIQUE NOT NULL,\n  session_data JSONB DEFAULT '{}',\n  last_interaction TIMESTAMP,\n  appointment_context JSONB DEFAULT '{}',\n  updated_at TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE agent_memory (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  session_id VARCHAR(100),\n  messages JSONB DEFAULT '[]',\n  created_at TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE workflow_errors (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  workflow VARCHAR(100),\n  error_message TEXT,\n  phone VARCHAR(20),\n  payload JSONB,\n  created_at TIMESTAMP DEFAULT NOW()\n);\n```",
        "height": 824,
        "width": 588
      },
      "id": "sticky-note",
      "name": "Sticky Note - Schema SQL y Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje": {
      "main": [
        [
          {
            "node": "Es Mensaje Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Mensaje Texto?": {
      "main": [
        [
          {
            "node": "Cargar Sesion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Solo Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Sesion": {
      "main": [
        [
          {
            "node": "Verificar Reminder Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Reminder Pendiente": {
      "main": [
        [
          {
            "node": "Preparar Contexto Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Agente": {
      "main": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA Clinica": {
      "main": [
        [
          {
            "node": "Guardar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesion": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Agente": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Gestionar Citas": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Info Clinica": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Confirmar Reminder": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Error - Log BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error - Log BD": {
      "main": [
        [
          {
            "node": "Error - Responder Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 55,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2a840d7a-7252-4146-89c7-6d00134fabe1",
  "meta": {
    "instanceId": "c6dbd7af322960facdb142f9c7103f41f6d7f5e1dcad92f1e75b96509ab69b5c"
  },
  "id": "BME38BGdgbGduaw4",
  "tags": [
    {
      "updatedAt": "2026-03-24T22:49:27.981Z",
      "createdAt": "2026-03-24T22:49:27.981Z",
      "id": "84EpEDM8vlTadhD2",
      "name": "Agente_Clínicas"
    }
  ]
}