outputs/wa-inbound-orchestrator.json
{
  "updatedAt": "2026-04-06T10:08:03.095Z",
  "createdAt": "2026-03-31T16:48:26.980Z",
  "id": "8RUGZ8AJzB6hRDCh",
  "name": "WA-Inbound-Orchestrator",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        208
      ],
      "id": "7533efd4-0cc4-4765-94c0-2d400e60cbfe",
      "name": "When chat message received",
      "webhookId": "2225e011-1198-4cd0-b705-dc838c490d02"
    },
    {
      "parameters": {
        "jsCode": "const triggerJson = $input.first().json;\nconst chatInput = triggerJson.chatInput ?? '';\n\nif (!chatInput) {\n  throw new Error('chatInput vacío. Raw data: ' + JSON.stringify(triggerJson));\n}\n\nreturn [{ json: {\n  phone: '+34644520621',\n  message: chatInput,\n  message_id: 'chat-' + Date.now(),\n  timestamp: String(Math.floor(Date.now() / 1000)),\n  message_type: 'text',\n  is_text: true,\n  contact_name: 'Usuario Chat',\n  phone_number_id: 'test',\n  clinic_id: 'default'\n}}];"
      },
      "id": "67101c36-4843-47f8-9f1c-006f1a798db1",
      "name": "Normalizar Mensaje Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "options": {}
      },
      "id": "3d87172a-7f6e-47f2-ae49-436b6aa856ea",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        608
      ],
      "webhookId": "wa-inbound"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst entry = body.entry;\n\nif (!entry || !entry[0] || !entry[0].changes || !entry[0].changes[0] || !entry[0].changes[0].value.messages) {\n  return [{ json: { skip: true } }];\n}\n\nconst value = entry[0].changes[0].value;\nconst msg = value.messages[0];\nconst contact = value.contacts ? value.contacts[0] : {};\nconst phoneNumberId = value.metadata ? value.metadata.phone_number_id : '';\n\nreturn [{ json: {\n  phone: msg.from,\n  message: msg.text ? msg.text.body : '',\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  message_type: msg.type,\n  is_text: msg.type === 'text',\n  contact_name: contact.profile ? contact.profile.name : '',\n  phone_number_id: phoneNumberId,\n  clinic_id: 'default'\n}}];"
      },
      "id": "53967e2a-5633-4bea-ba6f-687ad20ac9bf",
      "name": "Normalizar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "37275d9e-71f6-4f9c-ab7b-295f8a2936fd",
      "name": "Es Mensaje Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Hola, de momento solo puedo procesar mensajes de texto. Por favor, escríbeme tu consulta.\" }\n}",
        "options": {}
      },
      "id": "1b37368e-46b6-4c80-8f8e-45b776da94dc",
      "name": "Responder Solo Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        688
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de673299-46d4-46a9-9e25-56d23772af81",
      "name": "Cargar Sesion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "patient_phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "reminder_24h_sent",
              "value": "true"
            },
            {
              "name": "reminder_responded",
              "value": "false"
            },
            {
              "name": "scheduled_at_gte",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "ordering",
              "value": "scheduled_at"
            },
            {
              "name": "status",
              "value": "confirmed"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "a09aedf3-e040-4c07-ae9d-355f4854b949",
      "name": "Verificar Reminder Pendiente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener mensaje normalizado — soporta ruta chat y webhook\nlet normalized;\ntry {\n  normalized = $('Normalizar Mensaje Chat').first().json;\n} catch(e) {\n  normalized = $('Normalizar Mensaje').first().json;\n}\n\n// Sesión — respuesta paginada DRF: { count, results: [...] }\nlet sessionObj = {};\nlet session_id = null;\ntry {\n  const raw = $('Cargar Sesion').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    sessionObj = results[0];\n    session_id = results[0].id;\n  }\n} catch(e) {}\n\n// Reminder pendiente — respuesta paginada DRF\nlet reminder = {};\ntry {\n  const raw = $('Verificar Reminder Pendiente').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    reminder = results[0];\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  chatInput: normalized.message,\n  phone: normalized.phone,\n  clinic_id: normalized.clinic_id || 'default',\n  phone_number_id: normalized.phone_number_id || 'test',\n  contact_name: normalized.contact_name || 'Usuario Chat',\n  session_id: session_id,\n  session_data: JSON.stringify(sessionObj.session_data || {}),\n  is_reminder_response: !!(reminder && reminder.id),\n  pending_appointment_id: reminder.id || '',\n  pending_appointment_service: reminder.service || '',\n  pending_appointment_datetime: reminder.scheduled_at || ''\n}}];"
      },
      "id": "e15c3c9f-bd51-4e23-b8a1-ffae43cb043d",
      "name": "Preparar Contexto Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un asistente de IA para clinicas medicas que gestiona citas por WhatsApp. Eres amable, profesional y conciso. Siempre respondes en el idioma del usuario.\n\nUSUARIO: {{ $json.phone }} ({{ $json.contact_name }})\nCLINICA ID: {{ $json.clinic_id }}\nCONTEXTO DE SESION: {{ $json.session_data }}\nFECHA Y HORA ACTUAL: {{ $now.toISO() }}\n\n{{ $json.is_reminder_response ? 'ATENCION: El usuario responde a un RECORDATORIO. Cita pendiente: ID=' + $json.pending_appointment_id + ', Servicio=' + $json.pending_appointment_service + ', Fecha=' + $json.pending_appointment_datetime + '. Usa tool_confirm_reminder_response.' : '' }}\n\nINSTRUCCIONES:\n- Si el usuario responde a un recordatorio, usa tool_confirm_reminder_response\n- Si quiere agendar, consultar, cancelar o reprogramar citas, usa tool_check_and_book_appointment\n- Si pregunta sobre servicios, precios, horarios o info de la clinica, usa tool_get_clinic_information\n- Nunca inventes disponibilidad, precios ni horarios\n- Siempre confirma los datos antes de crear una cita\n- Se conciso (maximo 300 caracteres para WhatsApp)\n- Pasa siempre phone={{ $json.phone }} y clinic_id={{ $json.clinic_id }} a las herramientas",
          "maxIterations": 10
        }
      },
      "id": "a601e5b9-a751-41c0-96f4-fa71df102e2b",
      "name": "Agente IA Clinica",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2304,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ae0d6bb7-e396-4da1-bbb7-c2221eec19d0",
      "name": "OpenAI - Agente",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1792,
        640
      ]
    },
    {
      "parameters": {
        "name": "tool_check_and_book_appointment",
        "description": "Gestiona citas: consultar disponibilidad (check_availability), crear (create), cancelar (cancel), reprogramar (reschedule) o listar proximas (list_upcoming). Pasa siempre phone y clinic_id.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "rtLakHrc6xR9B8oH"
        },
        "workflowInputs": {
          "value": {
            "action": "={{ $fromAI('action', 'Accion: check_availability, create, cancel, reschedule, list_upcoming', 'string') }}",
            "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
            "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}",
            "service": "={{ $fromAI('service', 'Servicio solicitado (opcional)', 'string') }}",
            "preferred_date": "={{ $fromAI('preferred_date', 'Fecha YYYY-MM-DD (opcional)', 'string') }}",
            "preferred_time": "={{ $fromAI('preferred_time', 'Hora HH:MM (opcional)', 'string') }}",
            "appointment_id": "={{ $fromAI('appointment_id', 'UUID cita para cancel/reschedule (opcional)', 'string') }}"
          },
          "schema": [
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "clinic_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "clinic_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "service",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "preferred_date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "preferred_time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "7cbf0fce-c090-4e23-838c-49aea935e527",
      "name": "Tool - Gestionar Citas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2032,
        -80
      ]
    },
    {
      "parameters": {
        "name": "tool_get_clinic_information",
        "description": "Busca informacion de la clinica: servicios, precios, horarios, FAQ, ubicacion, politicas. Usar cuando el usuario pregunta sobre la clinica.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "43XUwyqUHZn1KBT2"
        },
        "workflowInputs": {
          "value": {
            "question": "={{ $fromAI('question', 'Pregunta del usuario sobre la clinica', 'string') }}",
            "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}"
          },
          "schema": [
            {
              "id": "question",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "question",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "clinic_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "clinic_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "1f85ecce-0790-4e9e-b634-81aeb2afc71b",
      "name": "Tool - Info Clinica",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2304,
        -80
      ]
    },
    {
      "parameters": {
        "name": "tool_confirm_reminder_response",
        "description": "Confirma, cancela o reprograma una cita desde un recordatorio. SOLO usar cuando el contexto indica is_reminder_response=true.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "rtLakHrc6xR9B8oH"
        },
        "workflowInputs": {
          "value": {
            "action": "confirm_from_reminder",
            "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
            "appointment_id": "={{ $fromAI('appointment_id', 'UUID de la cita del recordatorio', 'string') }}",
            "response": "={{ $fromAI('response', 'Respuesta: confirm, cancel o reschedule', 'string') }}"
          },
          "schema": [
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "aa370854-7531-4c3c-a444-8e7795a6864c",
      "name": "Tool - Confirmar Reminder",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2560,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !!$json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cc001122-3344-5566-7788-99aabbccddee",
      "name": "¿Sesion Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2560,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/{{ $('Preparar Contexto Agente').first().json.session_id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Preparar Contexto Agente').first().json.phone }}\",\n  \"session_data\": {{ JSON.stringify({ last_message: $('Preparar Contexto Agente').first().json.chatInput, last_response: ($json.output || $json.text || '').substring(0, 500) }) }}\n}",
        "options": {}
      },
      "id": "aabb1122-ccdd-3344-eeff-556677889900",
      "name": "Actualizar Sesion HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2816,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Preparar Contexto Agente').first().json.phone }}\",\n  \"session_data\": {{ JSON.stringify({ last_message: $('Preparar Contexto Agente').first().json.chatInput, last_response: ($json.output || $json.text || '').substring(0, 500) }) }}\n}",
        "options": {}
      },
      "id": "11223344-5566-7788-99aa-bbccddeeff00",
      "name": "Crear Sesion HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2816,
        608
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Preparar Contexto Agente').first().json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Preparar Contexto Agente').first().json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('Agente IA Clinica').first().json.output }}\" }\n}",
        "options": {}
      },
      "id": "b59fe1ea-1eb1-4740-9299-141923960da0",
      "name": "Enviar Respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3072,
        400
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "701ea6db-5677-4686-87f8-b48294138fae",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        208,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/errors/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": \"{{ $workflow.id }}\",\n  \"workflow_name\": \"{{ $workflow.name }}\",\n  \"node_name\": \"{{ $json.node.name }}\",\n  \"error_message\": \"{{ $json.error.message }}\",\n  \"phone\": \"{{ $json.execution.customData.phone || '' }}\",\n  \"payload\": {{ JSON.stringify($json) }}\n}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "c283d751-01ee-4999-8185-f5376ba5ba9f",
      "name": "Post Agent Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        1008
      ],
      "disabled": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  success: false,\n  message: 'Disculpa, tuve un problema tecnico. Por favor intenta de nuevo en unos minutos.',\n  error_logged: true\n}}];"
      },
      "id": "beda56c9-c9f1-463f-b73b-216332b3e26d",
      "name": "Error - Responder Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        1008
      ]
    },
    {
      "parameters": {
        "content": "## WA-Inbound-Orchestrator\n\n### Función\nPunto de entrada de todos los mensajes WhatsApp. Detecta pacientes nuevos, \ngestiona sesiones y enruta al agente IA.\n\n### Endpoints Django usados\n- GET /api/patients/?phone={phone} — Buscar paciente\n- GET /api/agent/sessions/?phone={phone} — Cargar sesión\n- POST /api/agent/sessions/ — Crear sesión  \n- PATCH /api/agent/sessions/{id}/ — Actualizar sesión\n- GET /api/appointments/?patient_phone={phone}&... — Verificar reminder pendiente\n\n### Endpoints pendientes\n- POST /api/agent/errors/ — Log de errores (ReadOnly en Django)\n\n### Sub-workflows invocados\n- WA-Patient-Onboarding (01xZkbBQIBBYCdK9) — paciente nuevo\n- WA-Appointments-Manager (rtLakHrc6xR9B8oH) — gestión citas (tool)\n- WA-Clinic-Info-RAG (43XUwyqUHZn1KBT2) — info clínica (tool)\n\n### Autenticación\n- Django: Header Auth credential (Api-Key)\n- WhatsApp: Header Auth credential (Bearer token Meta)\n- URLs via $env.DJANGO_API_URL",
        "height": 680,
        "width": 580
      },
      "id": "6ebc3985-d714-490c-b50e-6b25cc32d42d",
      "name": "Sticky Note - Schema SQL y Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -480
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Contexto Agente').first().json.session_id }}",
        "sessionTTL": 86400
      },
      "id": "d290ab2d-d95e-4a57-8e01-23075c30edf9",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2064,
        832
      ],
      "credentials": {
        "redis": {
          "id": "L6oqEKjLDCoXBTb8",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Contexto Agente').item.json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1936,
        640
      ],
      "id": "acb60bb4-914e-401b-965e-19adf7db2f08",
      "name": "Simple Memory"
    },
    {
      "id": "buscar-paciente-django",
      "name": "Buscar Paciente Django",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        200
      ],
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "paciente-existe-check",
      "name": "¿Paciente Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ ($json.results || $json).length || 0 }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ejecutar-onboarding",
      "name": "Onboarding Paciente Nuevo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "01xZkbBQIBBYCdK9"
        },
        "workflowInputs": {
          "value": {
            "phone": "={{ $('Es Mensaje Texto?').first().json.phone }}",
            "clinic_id": "={{ $('Es Mensaje Texto?').first().json.clinic_id }}",
            "contact_name": "={{ $('Es Mensaje Texto?').first().json.contact_name }}",
            "message_text": "={{ $('Es Mensaje Texto?').first().json.message }}"
          },
          "schema": [
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "phone"
            },
            {
              "id": "clinic_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "clinic_id"
            },
            {
              "id": "contact_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "contact_name"
            },
            {
              "id": "message_text",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message_text"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "id": "nota-error-endpoint-pendiente",
      "name": "Nota - Endpoint Errores Pendiente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        900
      ],
      "parameters": {
        "content": "⚠️ ENDPOINT PENDIENTE: Este nodo requiere implementar POST /api/agent/errors/ (escritura) en clinic-app (Django) antes de activarse. Ver CLAUDE.md sección 5.\n\nWorkflowErrorViewSet es actualmente ReadOnly.",
        "height": 150,
        "width": 480
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje Chat": {
      "main": [
        [
          {
            "node": "Es Mensaje Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje": {
      "main": [
        [
          {
            "node": "Es Mensaje Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Mensaje Texto?": {
      "main": [
        [
          {
            "node": "Buscar Paciente Django",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Solo Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Sesion": {
      "main": [
        [
          {
            "node": "Verificar Reminder Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Reminder Pendiente": {
      "main": [
        [
          {
            "node": "Preparar Contexto Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Agente": {
      "main": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA Clinica": {
      "main": [
        [
          {
            "node": "¿Sesion Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sesion Existe?": {
      "main": [
        [
          {
            "node": "Actualizar Sesion HTTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Sesion HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Sesion HTTP": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Sesion HTTP": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Post Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Agent Error": {
      "main": [
        [
          {
            "node": "Error - Responder Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Agente": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Gestionar Citas": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Info Clinica": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Confirmar Reminder": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente Django": {
      "main": [
        [
          {
            "node": "¿Paciente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Paciente Existe?": {
      "main": [
        [
          {
            "node": "Cargar Sesion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Onboarding Paciente Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Paciente Nuevo": {
      "main": [
        [
          {
            "node": "Cargar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f047a93d-7787-435c-bf31-7798ea9b4780",
  "activeVersionId": null,
  "versionCounter": 334,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-31T16:48:26.983Z",
      "createdAt": "2026-03-31T16:48:26.983Z",
      "role": "workflow:owner",
      "workflowId": "8RUGZ8AJzB6hRDCh",
      "projectId": "Uw7iGhGodpLTW8Zv",
      "project": {
        "updatedAt": "2026-03-27T04:32:05.440Z",
        "createdAt": "2026-03-27T04:24:04.464Z",
        "id": "Uw7iGhGodpLTW8Zv",
        "name": "Jesús Dev <jesuslopezjaen03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fbbfb9bb-6047-4e9a-87a3-f8fffa66500b"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-31T16:47:53.388Z",
      "createdAt": "2026-03-31T16:47:53.388Z",
      "id": "STkeOwvyOGyHXNaU",
      "name": "Agente_Clínicas"
    }
  ],
  "activeVersion": null
}