outputs/wa-inbound-orchestrator.json
{
  "updatedAt": "2026-04-10T02:02:12.437Z",
  "createdAt": "2026-04-09T19:03:15.824Z",
  "id": "zG25BeZcZydZwM9f",
  "name": "WA-Inbound-Orchestrator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3d87172a-7f6e-47f2-ae49-436b6aa856ea",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        400
      ],
      "webhookId": "wa-inbound"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst entry = body.entry;\n\nif (!entry || !entry[0] || !entry[0].changes || !entry[0].changes[0] || !entry[0].changes[0].value.messages) {\n  return [{ json: { skip: true } }];\n}\n\nconst value = entry[0].changes[0].value;\nconst msg = value.messages[0];\nconst contact = value.contacts ? value.contacts[0] : {};\nconst phoneNumberId = value.metadata ? value.metadata.phone_number_id : '';\n\nreturn [{ json: {\n  phone: msg.from,\n  message: msg.text ? msg.text.body : '',\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  message_type: msg.type,\n  is_text: msg.type === 'text',\n  contact_name: contact.profile ? contact.profile.name : '',\n  phone_number_id: phoneNumberId,\n  clinic_id: 'clinic-test'\n}}];"
      },
      "id": "53967e2a-5633-4bea-ba6f-687ad20ac9bf",
      "name": "Normalizar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_text }}",
              "id": "0b845bb8-8b7f-47df-9975-13dab641ce77"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37275d9e-71f6-4f9c-ab7b-295f8a2936fd",
      "name": "Es Mensaje Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Hola, de momento solo puedo procesar mensajes de texto. Por favor, escríbeme tu consulta.\" }\n}",
        "options": {}
      },
      "id": "1b37368e-46b6-4c80-8f8e-45b776da94dc",
      "name": "Responder Solo Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        688
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Normalizar Mensaje').item.json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de673299-46d4-46a9-9e25-56d23772af81",
      "name": "Cargar Sesion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "patient_phone",
              "value": "={{ $('Normalizar Mensaje').item.json.phone }}"
            },
            {
              "name": "reminder_24h_sent",
              "value": "true"
            },
            {
              "name": "reminder_responded",
              "value": "false"
            },
            {
              "name": "scheduled_at_gte",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "ordering",
              "value": "scheduled_at"
            },
            {
              "name": "status",
              "value": "confirmed"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "a09aedf3-e040-4c07-ae9d-355f4854b949",
      "name": "Verificar Reminder Pendiente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2064,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener mensaje normalizado — soporta ruta chat y webhook\nlet normalized;\ntry {\n  normalized = $('Normalizar Mensaje Chat').first().json;\n} catch(e) {\n  normalized = $('Normalizar Mensaje').first().json;\n}\n\n// Sesión — respuesta paginada DRF: { count, results: [...] }\nlet sessionObj = {};\nlet session_id = null;\ntry {\n  const raw = $('Cargar Sesion').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    sessionObj = results[0];\n    session_id = results[0].id;\n  }\n} catch(e) {}\n\n// Reminder pendiente — respuesta paginada DRF\nlet reminder = {};\ntry {\n  const raw = $('Verificar Reminder Pendiente').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    reminder = results[0];\n  }\n} catch(e) {}\n\n// Paciente — determinar si es nuevo y obtener su nombre real\nlet is_new_patient = false;\nlet patient_name = '';\ntry {\n  const raw = $('Buscar Paciente').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    is_new_patient = false;\n    patient_name = (results[0].first_name || '') + ' ' + (results[0].last_name || '');\n    patient_name = patient_name.trim();\n  } else {\n    is_new_patient = true;\n  }\n} catch(e) {\n  is_new_patient = true;\n}\n\n// Guardar phone para el error\n$execution.customData.set('phone', normalized.phone)\n\nreturn [{ json: {\n  chatInput: normalized.message,\n  phone: normalized.phone,\n  clinic_id: normalized.clinic_id || 'default',\n  phone_number_id: normalized.phone_number_id || 'test',\n  contact_name: normalized.contact_name || 'Usuario Chat',\n  session_id: session_id,\n  session_data: JSON.stringify(sessionObj.session_data || {}),\n  is_reminder_response: !!(reminder && reminder.id),\n  pending_appointment_id: reminder.id || '',\n  pending_appointment_service: reminder.service || '',\n  pending_appointment_datetime: reminder.scheduled_at || '',\n  is_new_patient: is_new_patient,\n  patient_name: patient_name\n}}];"
      },
      "id": "e15c3c9f-bd51-4e23-b8a1-ffae43cb043d",
      "name": "Preparar Contexto Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un asistente de IA para clinicas medicas que gestiona citas por WhatsApp. Eres amable, profesional y conciso. Siempre respondes en el idioma del usuario.\n\nUSUARIO: {{ $json.phone }} ({{ $json.contact_name }})\nCLINICA ID: {{ $json.clinic_id }}\nCONTEXTO DE SESION: {{ $json.session_data }}\nFECHA Y HORA ACTUAL: {{ $now.toISO() }}\nES PACIENTE NUEVO: {{ $json.is_new_patient }}\nNOMBRE PACIENTE: {{ $json.patient_name }}\n\n{{ $json.is_reminder_response ? 'ATENCION: El usuario responde a un RECORDATORIO. Cita pendiente: ID=' + $json.pending_appointment_id + ', Servicio=' + $json.pending_appointment_service + ', Fecha=' + $json.pending_appointment_datetime + '. Usa tool_confirm_reminder_response.' : '' }}\n\nREGLA ABSOLUTA - DATOS EN TIEMPO REAL:\n- NUNCA uses la memoria del chat para responder sobre citas, disponibilidad, servicios o precios\n- SIEMPRE llama a la tool correspondiente en CADA mensaje, aunque ya hayas consultado antes\n- La informacion de citas cambia constantemente — lo que estaba en el historial puede estar desactualizado\n\nINSTRUCCIONES GENERALES:\n- Si el usuario responde a un recordatorio, usa tool_confirm_reminder_response\n- Si quiere VER o CONSULTAR sus citas, usa tool_check_and_book_appointment con action=list_upcoming\n- Si quiere AGENDAR una nueva cita, usa tool_check_and_book_appointment con action=create\n- Si quiere CANCELAR una cita, usa tool_check_and_book_appointment con action=cancel\n- Si quiere REPROGRAMAR una cita, usa tool_check_and_book_appointment con action=reschedule\n- Si pregunta sobre servicios, precios, horarios o info de la clinica, usa tool_get_clinic_information\n- Nunca inventes disponibilidad, precios ni horarios\n- Siempre confirma los datos antes de crear una cita\n- Se conciso (maximo 300 caracteres para WhatsApp)\n- Pasa siempre phone={{ $json.phone }} y clinic_id={{ $json.clinic_id }} a las herramientas\n\nINSTRUCCIONES PARA PACIENTE NUEVO (cuando ES PACIENTE NUEVO es true):\n- Tu UNICA tarea es recoger nombre, apellidos y correo electronico del usuario\n- El mensaje de bienvenida ya le ha pedido esos datos, asi que el usuario probablemente ya los ha enviado en este mensaje\n- Extrae first_name, last_name y email del mensaje del usuario\n- Si faltan datos, pidelos de forma amable indicando exactamente cuales faltan\n- Cuando tengas los tres datos, NO llames a la tool todavia. Primero muestra un resumen al usuario y pide confirmacion\n- Solo cuando el usuario confirme con SI, llama a tool_check_and_book_appointment con action=register_patient, first_name, last_name, email, phone y clinic_id\n- Si el usuario responde NO, pregunta que dato quiere corregir y vuelve a mostrar el resumen antes de registrar\n- Hasta que el paciente no este registrado no gestiones citas ni respondas preguntas de servicios\n\nINSTRUCCIONES PARA AGENDAR CITAS:\n- Si el usuario no especifica fecha, dice cuanto antes, esta semana, lo antes posible o similar, usa SIEMPRE como preferred_date la fecha de MANANA en formato YYYY-MM-DD\n- La fecha de manana se calcula desde FECHA Y HORA ACTUAL que tienes en el contexto\n- Nunca dejes preferred_date vacio al llamar check_availability o create",
          "maxIterations": 10
        }
      },
      "id": "a601e5b9-a751-41c0-96f4-fa71df102e2b",
      "name": "Agente IA Clinica",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2544,
        352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ae0d6bb7-e396-4da1-bbb7-c2221eec19d0",
      "name": "OpenAI - Agente",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2480,
        608
      ],
      "credentials": {
        "openAiApi": {
          "id": "AB3p940X8jMCzP7Y",
          "name": "OpenAi Devs"
        }
      }
    },
    {
      "parameters": {
        "name": "tool_get_clinic_information",
        "description": "Busca informacion de la clinica: servicios, precios, horarios, FAQ, ubicacion, politicas. Usar cuando el usuario pregunta sobre la clinica.",
        "workflowId": {
          "__rl": true,
          "value": "YJFyPtkcDPM4XXXB",
          "mode": "id",
          "cachedResultUrl": "/workflow/YJFyPtkcDPM4XXXB"
        },
        "workflowInputs": {
          "value": {
            "question": "={{ $fromAI('question', 'Pregunta del usuario sobre la clinica', 'string') }}",
            "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}"
          },
          "schema": [
            {
              "id": "question",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "question",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "clinic_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "clinic_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "1f85ecce-0790-4e9e-b634-81aeb2afc71b",
      "name": "Tool - Info Clinica",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2592,
        -128
      ]
    },
    {
      "parameters": {
        "name": "tool_confirm_reminder_response",
        "description": "Confirma, cancela o reprograma una cita desde un recordatorio. SOLO usar cuando el contexto indica is_reminder_response=true.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9uusM4595mjJOMCc"
        },
        "workflowInputs": {
          "value": {
            "action": "confirm_from_reminder",
            "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
            "appointment_id": "={{ $fromAI('appointment_id', 'UUID de la cita del recordatorio', 'string') }}",
            "response": "={{ $fromAI('response', 'Respuesta: confirm, cancel o reschedule', 'string') }}"
          },
          "schema": [
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "aa370854-7531-4c3c-a444-8e7795a6864c",
      "name": "Tool - Confirmar Reminder",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2848,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Cargar Sesion').item.json.results[0].id }}",
              "id": "c4c5351f-b8aa-4006-8aa5-9388b9a893c6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cc001122-3344-5566-7788-99aabbccddee",
      "name": "¿Sesion Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        352
      ]
    },
    {
      "parameters": {},
      "id": "701ea6db-5677-4686-87f8-b48294138fae",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        208,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/errors/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": \"{{ $workflow.id }}\",\n  \"workflow_name\": \"{{ $workflow.name }}\",\n  \"node_name\": \"{{ $json.execution.error.node.name }}\",\n  \"error_message\": \"{{ $json.execution.error.message }}\",\n  \"phone\": \"{{ $json.execution.customData.phone || '' }}\",\n  \"payload\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "c283d751-01ee-4999-8185-f5376ba5ba9f",
      "name": "Post Agent Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        1008
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  success: false,\n  message: 'Disculpa, tuve un problema tecnico. Por favor intenta de nuevo en unos minutos.',\n  error_logged: true\n}}];"
      },
      "id": "beda56c9-c9f1-463f-b73b-216332b3e26d",
      "name": "Error - Responder Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        1008
      ]
    },
    {
      "parameters": {
        "content": "## WA-Inbound-Orchestrator\n\n### Función\nPunto de entrada de todos los mensajes WhatsApp. Detecta pacientes nuevos, \ngestiona sesiones y enruta al agente IA.\n\n### Endpoints Django usados\n- GET /api/patients/?phone={phone} — Buscar paciente\n- GET /api/agent/sessions/?phone={phone} — Cargar sesión\n- POST /api/agent/sessions/ — Crear sesión  \n- PATCH /api/agent/sessions/{id}/ — Actualizar sesión\n- GET /api/appointments/?patient_phone={phone}&... — Verificar reminder pendiente\n\n### Sub-workflows invocados\n- WA-Patient-Onboarding (01xZkbBQIBBYCdK9) — paciente nuevo\n- WA-Appointments-Manager (rtLakHrc6xR9B8oH) — gestión citas (tool)\n- WA-Clinic-Info-RAG (43XUwyqUHZn1KBT2) — info clínica (tool)\n\n### Autenticación\n- Django: Header Auth credential (Api-Key)\n- WhatsApp: Header Auth credential (Bearer token Meta)\n- URLs via $env.DJANGO_API_URL\n\n### Estructura petición POST para probar webhook:\nhttps://n8n.alt4ir.online/webhook-test/whatsapp-inbound\n\nHeaders: Authorization Token {Auth Token}\n\n{\n    \"object\": \"whatsapp_business_account\",\n    \"entry\": [{\n      \"changes\": [{\n        \"value\": {\n          \"messages\": [{\n            \"from\": \"34644520621\",\n            \"id\": \"test-msg-001\",\n            \"timestamp\": \"1234567890\",\n            \"text\": { \"body\": \"Hola, quiero pedir cita\" },\n            \"type\": \"text\"\n          }],\n          \"contacts\": [{\n            \"profile\": { \"name\": \"Usuario Test\" },\n            \"wa_id\": \"34644520621\"\n          }],\n          \"metadata\": {\n            \"phone_number_id\": \"test-phone-id\"\n          }\n        }\n      }]\n    }]\n  }",
        "height": 680,
        "width": 580
      },
      "id": "6ebc3985-d714-490c-b50e-6b25cc32d42d",
      "name": "Sticky Note - Schema SQL y Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -480
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Contexto Agente').first().json.session_id }}",
        "sessionTTL": 86400
      },
      "id": "d290ab2d-d95e-4a57-8e01-23075c30edf9",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2784,
        608
      ],
      "credentials": {
        "redis": {
          "id": "frFnCzTP4RzeHwO6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3136,
        352
      ],
      "id": "d0fd8445-ee46-46c2-a27b-34382405059c",
      "name": "Responder a Webhook Postman"
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-paciente-django",
      "name": "Buscar Paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    to: $('Preparar Contexto Agente').first().json.phone,\n    type: \"text\",\n    message: $('Agente IA Clinica').first().json.output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        352
      ],
      "id": "b78dcee3-2c70-4e11-a821-b23e639be049",
      "name": "Formatear respuesta"
    },
    {
      "parameters": {
        "description": "Gestiona citas y registro de pacientes. Acciones disponibles: check_availability, create, cancel, reschedule, list_upcoming, register_patient. Pasa siempre phone y clinic_id.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9uusM4595mjJOMCc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI('action', 'Accion: check_availability, create, cancel, reschedule, list_upcoming, register_patient', 'string') }}",
            "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
            "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}",
            "service": "={{ $fromAI('service', 'Servicio solicitado, dejar vacio si no aplica', 'string', '') }}",
            "preferred_date": "={{ $fromAI('preferred_date', 'Fecha preferida YYYY-MM-DD, dejar vacio si no aplica', 'string', '') }}",
            "preferred_time": "={{ $fromAI('preferred_time', 'Hora preferida HH:MM, dejar vacio si no aplica', 'string', '') }}",
            "appointment_id": "={{ $fromAI('appointment_id', 'UUID de la cita para cancel/reschedule, dejar vacio si no aplica', 'string', '') }}",
            "first_name": "={{ $fromAI('first_name', 'Nombre del paciente para registro, dejar vacio si no aplica', 'string', '') }}",
            "last_name": "={{ $fromAI('last_name', 'Apellidos del paciente para registro, dejar vacio si no aplica', 'string', '') }}",
            "email": "={{ $fromAI('email', 'Email del paciente para registro, dejar vacio si no aplica', 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "clinic_id",
              "displayName": "clinic_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "preferred_date",
              "displayName": "preferred_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "preferred_time",
              "displayName": "preferred_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2400,
        -128
      ],
      "id": "d02ca268-b843-440a-950c-66847cd36fbc",
      "name": "Tool - Appointments Manager"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/{{ $('Cargar Sesion').first().json.results[0].id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Normalizar Mensaje').first().json.phone }}\",\n  \"session_data\": {{ JSON.stringify({ last_message: $('Normalizar Mensaje').first().json.message, last_response: ($json.output || $json.text || '').substring(0, 500) }) }},\n  \"last_interaction\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "aabb1122-ccdd-3344-eeff-556677889900",
      "name": "Actualizar Sesion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Normalizar Mensaje').first().json.phone }}\",\n  \"session_data\": {{ JSON.stringify({ last_message: $('Normalizar Mensaje').first().json.message, last_response: ($json.output || $json.text || '').substring(0, 500) }) }},\n  \"last_interaction\": \"{{ $now.toISO() }}\",\n  \"clinic\": \"{{ $('Normalizar Mensaje').first().json.clinic_id }}\"\n}",
        "options": {}
      },
      "id": "11223344-5566-7788-99aa-bbccddeeff00",
      "name": "Crear Sesion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        512
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje": {
      "main": [
        [
          {
            "node": "Es Mensaje Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Mensaje Texto?": {
      "main": [
        [
          {
            "node": "Buscar Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Solo Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Sesion": {
      "main": [
        [
          {
            "node": "¿Sesion Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Reminder Pendiente": {
      "main": [
        [
          {
            "node": "Preparar Contexto Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Agente": {
      "main": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA Clinica": {
      "main": [
        [
          {
            "node": "Formatear respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sesion Existe?": {
      "main": [
        [
          {
            "node": "Actualizar Sesion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Post Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Agent Error": {
      "main": [
        [
          {
            "node": "Error - Responder Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Agente": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Info Clinica": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Confirmar Reminder": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente": {
      "main": [
        [
          {
            "node": "Cargar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear respuesta": {
      "main": [
        [
          {
            "node": "Responder a Webhook Postman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Appointments Manager": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente IA Clinica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Sesion": {
      "main": [
        [
          {
            "node": "Verificar Reminder Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Sesion": {
      "main": [
        [
          {
            "node": "Verificar Reminder Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "63f3f599-57f4-4bd9-9e1c-71fd760a361d",
  "activeVersionId": "63f3f599-57f4-4bd9-9e1c-71fd760a361d",
  "versionCounter": 78,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T19:03:15.824Z",
      "createdAt": "2026-04-09T19:03:15.824Z",
      "role": "workflow:owner",
      "workflowId": "zG25BeZcZydZwM9f",
      "projectId": "2RRplptgpwnH1F4I",
      "project": {
        "updatedAt": "2026-04-09T18:48:10.704Z",
        "createdAt": "2026-04-09T18:02:45.199Z",
        "id": "2RRplptgpwnH1F4I",
        "name": "devs cool <devsnncool@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T02:02:12.443Z",
    "createdAt": "2026-04-10T02:02:12.443Z",
    "versionId": "63f3f599-57f4-4bd9-9e1c-71fd760a361d",
    "workflowId": "zG25BeZcZydZwM9f",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-inbound",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "3d87172a-7f6e-47f2-ae49-436b6aa856ea",
        "name": "Webhook WhatsApp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          208,
          400
        ],
        "webhookId": "wa-inbound"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst entry = body.entry;\n\nif (!entry || !entry[0] || !entry[0].changes || !entry[0].changes[0] || !entry[0].changes[0].value.messages) {\n  return [{ json: { skip: true } }];\n}\n\nconst value = entry[0].changes[0].value;\nconst msg = value.messages[0];\nconst contact = value.contacts ? value.contacts[0] : {};\nconst phoneNumberId = value.metadata ? value.metadata.phone_number_id : '';\n\nreturn [{ json: {\n  phone: msg.from,\n  message: msg.text ? msg.text.body : '',\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  message_type: msg.type,\n  is_text: msg.type === 'text',\n  contact_name: contact.profile ? contact.profile.name : '',\n  phone_number_id: phoneNumberId,\n  clinic_id: 'clinic-test'\n}}];"
        },
        "id": "53967e2a-5633-4bea-ba6f-687ad20ac9bf",
        "name": "Normalizar Mensaje",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.is_text }}",
                "id": "0b845bb8-8b7f-47df-9975-13dab641ce77"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "37275d9e-71f6-4f9c-ab7b-295f8a2936fd",
        "name": "Es Mensaje Texto?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          704,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Hola, de momento solo puedo procesar mensajes de texto. Por favor, escríbeme tu consulta.\" }\n}",
          "options": {}
        },
        "id": "1b37368e-46b6-4c80-8f8e-45b776da94dc",
        "name": "Responder Solo Texto",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1008,
          688
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $('Normalizar Mensaje').item.json.phone }}"
              }
            ]
          },
          "options": {}
        },
        "id": "de673299-46d4-46a9-9e25-56d23772af81",
        "name": "Cargar Sesion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1248,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "patient_phone",
                "value": "={{ $('Normalizar Mensaje').item.json.phone }}"
              },
              {
                "name": "reminder_24h_sent",
                "value": "true"
              },
              {
                "name": "reminder_responded",
                "value": "false"
              },
              {
                "name": "scheduled_at_gte",
                "value": "={{ $now.toISO() }}"
              },
              {
                "name": "ordering",
                "value": "scheduled_at"
              },
              {
                "name": "status",
                "value": "confirmed"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "options": {}
        },
        "id": "a09aedf3-e040-4c07-ae9d-355f4854b949",
        "name": "Verificar Reminder Pendiente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2064,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtener mensaje normalizado — soporta ruta chat y webhook\nlet normalized;\ntry {\n  normalized = $('Normalizar Mensaje Chat').first().json;\n} catch(e) {\n  normalized = $('Normalizar Mensaje').first().json;\n}\n\n// Sesión — respuesta paginada DRF: { count, results: [...] }\nlet sessionObj = {};\nlet session_id = null;\ntry {\n  const raw = $('Cargar Sesion').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    sessionObj = results[0];\n    session_id = results[0].id;\n  }\n} catch(e) {}\n\n// Reminder pendiente — respuesta paginada DRF\nlet reminder = {};\ntry {\n  const raw = $('Verificar Reminder Pendiente').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    reminder = results[0];\n  }\n} catch(e) {}\n\n// Paciente — determinar si es nuevo y obtener su nombre real\nlet is_new_patient = false;\nlet patient_name = '';\ntry {\n  const raw = $('Buscar Paciente').first().json;\n  const results = raw.results || (Array.isArray(raw) ? raw : (raw.id ? [raw] : []));\n  if (results.length > 0 && results[0].id) {\n    is_new_patient = false;\n    patient_name = (results[0].first_name || '') + ' ' + (results[0].last_name || '');\n    patient_name = patient_name.trim();\n  } else {\n    is_new_patient = true;\n  }\n} catch(e) {\n  is_new_patient = true;\n}\n\n// Guardar phone para el error\n$execution.customData.set('phone', normalized.phone)\n\nreturn [{ json: {\n  chatInput: normalized.message,\n  phone: normalized.phone,\n  clinic_id: normalized.clinic_id || 'default',\n  phone_number_id: normalized.phone_number_id || 'test',\n  contact_name: normalized.contact_name || 'Usuario Chat',\n  session_id: session_id,\n  session_data: JSON.stringify(sessionObj.session_data || {}),\n  is_reminder_response: !!(reminder && reminder.id),\n  pending_appointment_id: reminder.id || '',\n  pending_appointment_service: reminder.service || '',\n  pending_appointment_datetime: reminder.scheduled_at || '',\n  is_new_patient: is_new_patient,\n  patient_name: patient_name\n}}];"
        },
        "id": "e15c3c9f-bd51-4e23-b8a1-ffae43cb043d",
        "name": "Preparar Contexto Agente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2304,
          352
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "=Eres un asistente de IA para clinicas medicas que gestiona citas por WhatsApp. Eres amable, profesional y conciso. Siempre respondes en el idioma del usuario.\n\nUSUARIO: {{ $json.phone }} ({{ $json.contact_name }})\nCLINICA ID: {{ $json.clinic_id }}\nCONTEXTO DE SESION: {{ $json.session_data }}\nFECHA Y HORA ACTUAL: {{ $now.toISO() }}\nES PACIENTE NUEVO: {{ $json.is_new_patient }}\nNOMBRE PACIENTE: {{ $json.patient_name }}\n\n{{ $json.is_reminder_response ? 'ATENCION: El usuario responde a un RECORDATORIO. Cita pendiente: ID=' + $json.pending_appointment_id + ', Servicio=' + $json.pending_appointment_service + ', Fecha=' + $json.pending_appointment_datetime + '. Usa tool_confirm_reminder_response.' : '' }}\n\nREGLA ABSOLUTA - DATOS EN TIEMPO REAL:\n- NUNCA uses la memoria del chat para responder sobre citas, disponibilidad, servicios o precios\n- SIEMPRE llama a la tool correspondiente en CADA mensaje, aunque ya hayas consultado antes\n- La informacion de citas cambia constantemente — lo que estaba en el historial puede estar desactualizado\n\nINSTRUCCIONES GENERALES:\n- Si el usuario responde a un recordatorio, usa tool_confirm_reminder_response\n- Si quiere VER o CONSULTAR sus citas, usa tool_check_and_book_appointment con action=list_upcoming\n- Si quiere AGENDAR una nueva cita, usa tool_check_and_book_appointment con action=create\n- Si quiere CANCELAR una cita, usa tool_check_and_book_appointment con action=cancel\n- Si quiere REPROGRAMAR una cita, usa tool_check_and_book_appointment con action=reschedule\n- Si pregunta sobre servicios, precios, horarios o info de la clinica, usa tool_get_clinic_information\n- Nunca inventes disponibilidad, precios ni horarios\n- Siempre confirma los datos antes de crear una cita\n- Se conciso (maximo 300 caracteres para WhatsApp)\n- Pasa siempre phone={{ $json.phone }} y clinic_id={{ $json.clinic_id }} a las herramientas\n\nINSTRUCCIONES PARA PACIENTE NUEVO (cuando ES PACIENTE NUEVO es true):\n- Tu UNICA tarea es recoger nombre, apellidos y correo electronico del usuario\n- El mensaje de bienvenida ya le ha pedido esos datos, asi que el usuario probablemente ya los ha enviado en este mensaje\n- Extrae first_name, last_name y email del mensaje del usuario\n- Si faltan datos, pidelos de forma amable indicando exactamente cuales faltan\n- Cuando tengas los tres datos, NO llames a la tool todavia. Primero muestra un resumen al usuario y pide confirmacion\n- Solo cuando el usuario confirme con SI, llama a tool_check_and_book_appointment con action=register_patient, first_name, last_name, email, phone y clinic_id\n- Si el usuario responde NO, pregunta que dato quiere corregir y vuelve a mostrar el resumen antes de registrar\n- Hasta que el paciente no este registrado no gestiones citas ni respondas preguntas de servicios\n\nINSTRUCCIONES PARA AGENDAR CITAS:\n- Si el usuario no especifica fecha, dice cuanto antes, esta semana, lo antes posible o similar, usa SIEMPRE como preferred_date la fecha de MANANA en formato YYYY-MM-DD\n- La fecha de manana se calcula desde FECHA Y HORA ACTUAL que tienes en el contexto\n- Nunca dejes preferred_date vacio al llamar check_availability o create",
            "maxIterations": 10
          }
        },
        "id": "a601e5b9-a751-41c0-96f4-fa71df102e2b",
        "name": "Agente IA Clinica",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          2544,
          352
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "id"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0.3
          }
        },
        "id": "ae0d6bb7-e396-4da1-bbb7-c2221eec19d0",
        "name": "OpenAI - Agente",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          2480,
          608
        ],
        "credentials": {
          "openAiApi": {
            "id": "AB3p940X8jMCzP7Y",
            "name": "OpenAi Devs"
          }
        }
      },
      {
        "parameters": {
          "name": "tool_get_clinic_information",
          "description": "Busca informacion de la clinica: servicios, precios, horarios, FAQ, ubicacion, politicas. Usar cuando el usuario pregunta sobre la clinica.",
          "workflowId": {
            "__rl": true,
            "value": "YJFyPtkcDPM4XXXB",
            "mode": "id",
            "cachedResultUrl": "/workflow/YJFyPtkcDPM4XXXB"
          },
          "workflowInputs": {
            "value": {
              "question": "={{ $fromAI('question', 'Pregunta del usuario sobre la clinica', 'string') }}",
              "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}"
            },
            "schema": [
              {
                "id": "question",
                "type": "string",
                "display": true,
                "required": true,
                "displayName": "question",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "clinic_id",
                "type": "string",
                "display": true,
                "required": true,
                "displayName": "clinic_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "1f85ecce-0790-4e9e-b634-81aeb2afc71b",
        "name": "Tool - Info Clinica",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2,
        "position": [
          2592,
          -128
        ]
      },
      {
        "parameters": {
          "name": "tool_confirm_reminder_response",
          "description": "Confirma, cancela o reprograma una cita desde un recordatorio. SOLO usar cuando el contexto indica is_reminder_response=true.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "9uusM4595mjJOMCc"
          },
          "workflowInputs": {
            "value": {
              "action": "confirm_from_reminder",
              "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
              "appointment_id": "={{ $fromAI('appointment_id', 'UUID de la cita del recordatorio', 'string') }}",
              "response": "={{ $fromAI('response', 'Respuesta: confirm, cancel o reschedule', 'string') }}"
            },
            "schema": [
              {
                "id": "action",
                "type": "string",
                "display": true,
                "required": true,
                "displayName": "action",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "phone",
                "type": "string",
                "display": true,
                "required": true,
                "displayName": "phone",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "appointment_id",
                "type": "string",
                "display": true,
                "required": true,
                "displayName": "appointment_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "response",
                "type": "string",
                "display": true,
                "required": true,
                "displayName": "response",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "aa370854-7531-4c3c-a444-8e7795a6864c",
        "name": "Tool - Confirmar Reminder",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2,
        "position": [
          2848,
          -128
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "leftValue": "={{ $('Cargar Sesion').item.json.results[0].id }}",
                "id": "c4c5351f-b8aa-4006-8aa5-9388b9a893c6"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "cc001122-3344-5566-7788-99aabbccddee",
        "name": "¿Sesion Existe?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1504,
          352
        ]
      },
      {
        "parameters": {},
        "id": "701ea6db-5677-4686-87f8-b48294138fae",
        "name": "Error Trigger Global",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          208,
          1008
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/agent/errors/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"workflow\": \"{{ $workflow.id }}\",\n  \"workflow_name\": \"{{ $workflow.name }}\",\n  \"node_name\": \"{{ $json.execution.error.node.name }}\",\n  \"error_message\": \"{{ $json.execution.error.message }}\",\n  \"phone\": \"{{ $json.execution.customData.phone || '' }}\",\n  \"payload\": {{ JSON.stringify($json) }}\n}",
          "options": {}
        },
        "id": "c283d751-01ee-4999-8185-f5376ba5ba9f",
        "name": "Post Agent Error",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          480,
          1008
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{ json: {\n  success: false,\n  message: 'Disculpa, tuve un problema tecnico. Por favor intenta de nuevo en unos minutos.',\n  error_logged: true\n}}];"
        },
        "id": "beda56c9-c9f1-463f-b73b-216332b3e26d",
        "name": "Error - Responder Usuario",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          1008
        ]
      },
      {
        "parameters": {
          "content": "## WA-Inbound-Orchestrator\n\n### Función\nPunto de entrada de todos los mensajes WhatsApp. Detecta pacientes nuevos, \ngestiona sesiones y enruta al agente IA.\n\n### Endpoints Django usados\n- GET /api/patients/?phone={phone} — Buscar paciente\n- GET /api/agent/sessions/?phone={phone} — Cargar sesión\n- POST /api/agent/sessions/ — Crear sesión  \n- PATCH /api/agent/sessions/{id}/ — Actualizar sesión\n- GET /api/appointments/?patient_phone={phone}&... — Verificar reminder pendiente\n\n### Sub-workflows invocados\n- WA-Patient-Onboarding (01xZkbBQIBBYCdK9) — paciente nuevo\n- WA-Appointments-Manager (rtLakHrc6xR9B8oH) — gestión citas (tool)\n- WA-Clinic-Info-RAG (43XUwyqUHZn1KBT2) — info clínica (tool)\n\n### Autenticación\n- Django: Header Auth credential (Api-Key)\n- WhatsApp: Header Auth credential (Bearer token Meta)\n- URLs via $env.DJANGO_API_URL\n\n### Estructura petición POST para probar webhook:\nhttps://n8n.alt4ir.online/webhook-test/whatsapp-inbound\n\nHeaders: Authorization Token {Auth Token}\n\n{\n    \"object\": \"whatsapp_business_account\",\n    \"entry\": [{\n      \"changes\": [{\n        \"value\": {\n          \"messages\": [{\n            \"from\": \"34644520621\",\n            \"id\": \"test-msg-001\",\n            \"timestamp\": \"1234567890\",\n            \"text\": { \"body\": \"Hola, quiero pedir cita\" },\n            \"type\": \"text\"\n          }],\n          \"contacts\": [{\n            \"profile\": { \"name\": \"Usuario Test\" },\n            \"wa_id\": \"34644520621\"\n          }],\n          \"metadata\": {\n            \"phone_number_id\": \"test-phone-id\"\n          }\n        }\n      }]\n    }]\n  }",
          "height": 680,
          "width": 580
        },
        "id": "6ebc3985-d714-490c-b50e-6b25cc32d42d",
        "name": "Sticky Note - Schema SQL y Setup",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          -480
        ]
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Preparar Contexto Agente').first().json.session_id }}",
          "sessionTTL": 86400
        },
        "id": "d290ab2d-d95e-4a57-8e01-23075c30edf9",
        "name": "Redis Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          2784,
          608
        ],
        "credentials": {
          "redis": {
            "id": "frFnCzTP4RzeHwO6",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $input.first().json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3136,
          352
        ],
        "id": "d0fd8445-ee46-46c2-a27b-34382405059c",
        "name": "Responder a Webhook Postman"
      },
      {
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.phone }}"
              }
            ]
          },
          "options": {}
        },
        "id": "buscar-paciente-django",
        "name": "Buscar Paciente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1024,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    to: $('Preparar Contexto Agente').first().json.phone,\n    type: \"text\",\n    message: $('Agente IA Clinica').first().json.output\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2928,
          352
        ],
        "id": "b78dcee3-2c70-4e11-a821-b23e639be049",
        "name": "Formatear respuesta"
      },
      {
        "parameters": {
          "description": "Gestiona citas y registro de pacientes. Acciones disponibles: check_availability, create, cancel, reschedule, list_upcoming, register_patient. Pasa siempre phone y clinic_id.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "9uusM4595mjJOMCc"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "={{ $fromAI('action', 'Accion: check_availability, create, cancel, reschedule, list_upcoming, register_patient', 'string') }}",
              "phone": "={{ $fromAI('phone', 'Telefono del paciente', 'string') }}",
              "clinic_id": "={{ $fromAI('clinic_id', 'ID de la clinica', 'string') }}",
              "service": "={{ $fromAI('service', 'Servicio solicitado, dejar vacio si no aplica', 'string', '') }}",
              "preferred_date": "={{ $fromAI('preferred_date', 'Fecha preferida YYYY-MM-DD, dejar vacio si no aplica', 'string', '') }}",
              "preferred_time": "={{ $fromAI('preferred_time', 'Hora preferida HH:MM, dejar vacio si no aplica', 'string', '') }}",
              "appointment_id": "={{ $fromAI('appointment_id', 'UUID de la cita para cancel/reschedule, dejar vacio si no aplica', 'string', '') }}",
              "first_name": "={{ $fromAI('first_name', 'Nombre del paciente para registro, dejar vacio si no aplica', 'string', '') }}",
              "last_name": "={{ $fromAI('last_name', 'Apellidos del paciente para registro, dejar vacio si no aplica', 'string', '') }}",
              "email": "={{ $fromAI('email', 'Email del paciente para registro, dejar vacio si no aplica', 'string', '') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "clinic_id",
                "displayName": "clinic_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "service",
                "displayName": "service",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "preferred_date",
                "displayName": "preferred_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "preferred_time",
                "displayName": "preferred_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "appointment_id",
                "displayName": "appointment_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "last_name",
                "displayName": "last_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          2400,
          -128
        ],
        "id": "d02ca268-b843-440a-950c-66847cd36fbc",
        "name": "Tool - Appointments Manager"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/{{ $('Cargar Sesion').first().json.results[0].id }}/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone\": \"{{ $('Normalizar Mensaje').first().json.phone }}\",\n  \"session_data\": {{ JSON.stringify({ last_message: $('Normalizar Mensaje').first().json.message, last_response: ($json.output || $json.text || '').substring(0, 500) }) }},\n  \"last_interaction\": \"{{ $now.toISO() }}\"\n}",
          "options": {}
        },
        "id": "aabb1122-ccdd-3344-eeff-556677889900",
        "name": "Actualizar Sesion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1760,
          192
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone\": \"{{ $('Normalizar Mensaje').first().json.phone }}\",\n  \"session_data\": {{ JSON.stringify({ last_message: $('Normalizar Mensaje').first().json.message, last_response: ($json.output || $json.text || '').substring(0, 500) }) }},\n  \"last_interaction\": \"{{ $now.toISO() }}\",\n  \"clinic\": \"{{ $('Normalizar Mensaje').first().json.clinic_id }}\"\n}",
          "options": {}
        },
        "id": "11223344-5566-7788-99aa-bbccddeeff00",
        "name": "Crear Sesion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1776,
          512
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Webhook WhatsApp": {
        "main": [
          [
            {
              "node": "Normalizar Mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Mensaje": {
        "main": [
          [
            {
              "node": "Es Mensaje Texto?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es Mensaje Texto?": {
        "main": [
          [
            {
              "node": "Buscar Paciente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responder Solo Texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cargar Sesion": {
        "main": [
          [
            {
              "node": "¿Sesion Existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Reminder Pendiente": {
        "main": [
          [
            {
              "node": "Preparar Contexto Agente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Contexto Agente": {
        "main": [
          [
            {
              "node": "Agente IA Clinica",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente IA Clinica": {
        "main": [
          [
            {
              "node": "Formatear respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Sesion Existe?": {
        "main": [
          [
            {
              "node": "Actualizar Sesion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Crear Sesion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger Global": {
        "main": [
          [
            {
              "node": "Post Agent Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post Agent Error": {
        "main": [
          [
            {
              "node": "Error - Responder Usuario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Agente": {
        "ai_languageModel": [
          [
            {
              "node": "Agente IA Clinica",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Tool - Info Clinica": {
        "ai_tool": [
          [
            {
              "node": "Agente IA Clinica",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool - Confirmar Reminder": {
        "ai_tool": [
          [
            {
              "node": "Agente IA Clinica",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Paciente": {
        "main": [
          [
            {
              "node": "Cargar Sesion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear respuesta": {
        "main": [
          [
            {
              "node": "Responder a Webhook Postman",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tool - Appointments Manager": {
        "ai_tool": [
          [
            {
              "node": "Agente IA Clinica",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Agente IA Clinica",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar Sesion": {
        "main": [
          [
            {
              "node": "Verificar Reminder Pendiente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear Sesion": {
        "main": [
          [
            {
              "node": "Verificar Reminder Pendiente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "devs cool",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T02:02:12.607Z",
        "id": 60,
        "workflowId": "zG25BeZcZydZwM9f",
        "versionId": "63f3f599-57f4-4bd9-9e1c-71fd760a361d",
        "event": "deactivated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      },
      {
        "createdAt": "2026-04-10T02:02:12.679Z",
        "id": 61,
        "workflowId": "zG25BeZcZydZwM9f",
        "versionId": "63f3f599-57f4-4bd9-9e1c-71fd760a361d",
        "event": "activated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    ]
  }
}
