outputs/wa-post-visit-followup.json
{
  "updatedAt": "2026-04-06T10:17:33.782Z",
  "createdAt": "2026-04-06T10:17:33.782Z",
  "id": "Bgi3HzU0AxJNS5VF",
  "name": "WA-Post-Visit-Followup",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-diario",
      "name": "Trigger Diario 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "calcular-ayer",
      "name": "Calcular Fecha Ayer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const now = new Date();\nconst ayer = new Date(now);\nayer.setDate(ayer.getDate() - 1);\nconst ayerStr = ayer.toISOString().split('T')[0];\nconst ayerFinStr = ayerStr + 'T23:59:59';\nconst ayerInicioStr = ayerStr + 'T00:00:00';\n\nreturn [{ json: {\n  fecha_ayer_inicio: ayerInicioStr,\n  fecha_ayer_fin: ayerFinStr,\n  fecha_ayer: ayerStr\n}}];"
      }
    },
    {
      "id": "buscar-completadas",
      "name": "Buscar Citas Completadas Ayer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        600,
        300
      ],
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/appointments/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "scheduled_at_after",
              "value": "={{ $json.fecha_ayer_inicio }}"
            },
            {
              "name": "scheduled_at_before",
              "value": "={{ $json.fecha_ayer_fin }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "hay-citas",
      "name": "¿Hay Citas Completadas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ ($json.results || []).length }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "split",
      "name": "Procesar Uno a Uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "formatear-msg",
      "name": "Formatear Mensaje Followup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "jsCode": "const cita = $input.first().json;\nconst patientName = cita.patient_name || cita.patient_first_name || '';\n\nreturn [{ json: {\n  phone: cita.patient_phone,\n  phone_number_id: cita.phone_number_id || '',\n  message: `Hola ${patientName}. Esperamos que tu visita de ayer haya ido bien. ¿Cómo te encuentras? Si tienes alguna duda o necesitas algo, no dudes en escribirnos. ¡Estamos aquí para ayudarte!`\n}}];"
      }
    },
    {
      "id": "enviar-wa",
      "name": "Enviar Followup WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1800,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "rEUbsss2SSHpZ6m7",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "rate-limit",
      "name": "Rate Limit 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2100,
        200
      ],
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "log-vacio",
      "name": "Log Sin Citas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        500
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "value": "no_completed_appointments_yesterday",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "parameters": {}
    },
    {
      "id": "error-log",
      "name": "Error - Log Temporal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        600
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflow",
              "value": "WA-Post-Visit-Followup",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "error",
              "value": "={{ $json.execution?.error?.message || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "nota-desc",
      "name": "Nota - Descripcion Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -350,
        -50
      ],
      "parameters": {
        "content": "## WA-Post-Visit-Followup\n\nCron diario a las 10:00 (Europe/Madrid).\nBusca citas completadas del día anterior y envía mensaje de seguimiento por WhatsApp.\n\n### Endpoints Django usados\n- GET /api/appointments/?status=completed&scheduled_at_after=...&scheduled_at_before=...\n\n### Endpoints pendientes\n- POST /api/agent/errors/ (log errores, ReadOnly en Django)\n\n### Reglas\n- Rate limit 1s entre mensajes\n- Mensajes en español, sin IDs internos\n- Si la API falla, no se envía mensaje (continueOnFail)",
        "height": 380,
        "width": 500
      }
    },
    {
      "id": "nota-error",
      "name": "Nota - Log Errores Pendiente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -350,
        550
      ],
      "parameters": {
        "content": "⚠️ ENDPOINT PENDIENTE: Requiere implementar POST /api/agent/errors/ (escritura) en clinic-app (Django). WorkflowErrorViewSet es ReadOnly.\n\nAlternativa temporal: log con Set node.",
        "height": 110,
        "width": 480
      }
    }
  ],
  "connections": {
    "Trigger Diario 10h": {
      "main": [
        [
          {
            "node": "Calcular Fecha Ayer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Fecha Ayer": {
      "main": [
        [
          {
            "node": "Buscar Citas Completadas Ayer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Citas Completadas Ayer": {
      "main": [
        [
          {
            "node": "¿Hay Citas Completadas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Citas Completadas?": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sin Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Uno a Uno": {
      "main": [
        [
          {
            "node": "Formatear Mensaje Followup",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Formatear Mensaje Followup": {
      "main": [
        [
          {
            "node": "Enviar Followup WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Followup WhatsApp": {
      "main": [
        [
          {
            "node": "Rate Limit 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit 1s": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Error - Log Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1cab30c2-2b9f-40ae-a9c3-eebde0d08057",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-06T10:17:33.798Z",
      "createdAt": "2026-04-06T10:17:33.798Z",
      "role": "workflow:owner",
      "workflowId": "Bgi3HzU0AxJNS5VF",
      "projectId": "Uw7iGhGodpLTW8Zv",
      "project": {
        "updatedAt": "2026-03-27T04:32:05.440Z",
        "createdAt": "2026-03-27T04:24:04.464Z",
        "id": "Uw7iGhGodpLTW8Zv",
        "name": "Jesús Dev <jesuslopezjaen03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fbbfb9bb-6047-4e9a-87a3-f8fffa66500b"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}