outputs/wa-patient-onboarding.json
{
  "updatedAt": "2026-04-02T12:29:26.731Z",
  "createdAt": "2026-04-02T12:29:26.731Z",
  "id": "01xZkbBQIBBYCdK9",
  "name": "WA-Patient-Onboarding",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-nuevo-paciente",
      "name": "Trigger - Nuevo Paciente",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "crear-paciente-django",
      "name": "Crear Paciente en Django",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Api-Key {{ $env.N8N_DJANGO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic\": {{ $json.clinic_id }},\n  \"first_name\": \"{{ $json.contact_name || 'Nuevo Paciente' }}\",\n  \"phone\": \"{{ $json.phone }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "crear-sesion-conversacional",
      "name": "Crear Sesión Conversacional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Api-Key {{ $env.N8N_DJANGO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic\": {{ $('Trigger - Nuevo Paciente').first().json.clinic_id }},\n  \"phone\": \"{{ $('Trigger - Nuevo Paciente').first().json.phone }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "preparar-mensaje-bienvenida",
      "name": "Preparar Mensaje Bienvenida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const trigger = $('Trigger - Nuevo Paciente').first().json;\nconst patient = $('Crear Paciente en Django').first().json;\n\nreturn [{ json: {\n  response: '¡Hola! Bienvenido/a a nuestra clínica. Soy tu asistente virtual y estoy aquí para ayudarte. Puedo informarte sobre nuestros servicios, agendar una cita o resolver tus dudas. ¿En qué puedo ayudarte?',\n  patient_id: patient.id || null,\n  phone: trigger.phone,\n  clinic_id: trigger.clinic_id,\n  is_new_patient: true\n}}];"
      }
    },
    {
      "id": "error-trigger-global",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "parameters": {}
    },
    {
      "id": "log-error-temporal",
      "name": "Log Error Temporal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        600
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-workflow",
              "name": "workflow",
              "value": "WA-Patient-Onboarding",
              "type": "string"
            },
            {
              "id": "assign-error",
              "name": "error_message",
              "value": "={{ $json.execution?.error?.message || 'Error desconocido' }}",
              "type": "string"
            },
            {
              "id": "assign-node",
              "name": "node",
              "value": "={{ $json.execution?.lastNodeExecuted || '' }}",
              "type": "string"
            },
            {
              "id": "assign-timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "nota-descripcion",
      "name": "Nota - Descripción Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -60
      ],
      "parameters": {
        "content": "## WA-Patient-Onboarding\n\nSub-workflow para onboarding de pacientes nuevos.\nSe ejecuta cuando el Orchestrator detecta un teléfono no registrado.\n\n### Endpoints usados\n- POST /api/patients/ — Crear paciente\n- POST /api/agent/sessions/ — Crear sesión\n\n### Endpoints pendientes\n- POST /api/agent/errors/ — Log de errores (ReadOnly en Django)\n\n### Autenticación\nApi-Key via $env.N8N_DJANGO_API_KEY",
        "height": 380,
        "width": 480
      }
    },
    {
      "id": "nota-endpoint-pendiente",
      "name": "Nota - Endpoint Errores Pendiente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        540
      ],
      "parameters": {
        "content": "⚠️ ENDPOINT PENDIENTE: Este workflow loguea errores temporalmente con Set node.\nRequiere implementar POST /api/agent/errors/ (escritura) en clinic-app (Django) antes de poder persistir errores en BD.\nVer CLAUDE.md sección 5.",
        "height": 160,
        "width": 480
      }
    }
  ],
  "connections": {
    "Trigger - Nuevo Paciente": {
      "main": [
        [
          {
            "node": "Crear Paciente en Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Paciente en Django": {
      "main": [
        [
          {
            "node": "Crear Sesión Conversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Sesión Conversacional": {
      "main": [
        [
          {
            "node": "Preparar Mensaje Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Log Error Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "839c0692-d386-4060-9713-a98275016cec",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-02T12:29:26.746Z",
      "createdAt": "2026-04-02T12:29:26.746Z",
      "role": "workflow:owner",
      "workflowId": "01xZkbBQIBBYCdK9",
      "projectId": "Uw7iGhGodpLTW8Zv",
      "project": {
        "updatedAt": "2026-03-27T04:32:05.440Z",
        "createdAt": "2026-03-27T04:24:04.464Z",
        "id": "Uw7iGhGodpLTW8Zv",
        "name": "Jesús Dev <jesuslopezjaen03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fbbfb9bb-6047-4e9a-87a3-f8fffa66500b"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}