outputs/wa-patient-onboarding.json
{
  "updatedAt": "2026-04-07T16:56:23.183Z",
  "createdAt": "2026-04-02T12:29:26.731Z",
  "id": "01xZkbBQIBBYCdK9",
  "name": "WA-Patient-Onboarding",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-nuevo-paciente",
      "name": "Trigger - Nuevo Paciente",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/patients/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Api-Key {{ $env.N8N_DJANGO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic\": {{ $json.clinic_id }},\n  \"first_name\": \"{{ $json.contact_name || 'Nuevo Paciente' }}\",\n  \"phone\": \"{{ $json.phone }}\"\n}",
        "options": {}
      },
      "id": "crear-paciente-django",
      "name": "Crear Paciente en Django",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/agent/sessions/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Api-Key {{ $env.N8N_DJANGO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic\": {{ $('Trigger - Nuevo Paciente').first().json.clinic_id }},\n  \"phone\": \"{{ $('Trigger - Nuevo Paciente').first().json.phone }}\"\n}",
        "options": {}
      },
      "id": "crear-sesion-conversacional",
      "name": "Crear Sesi\u00f3n Conversacional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Trigger - Nuevo Paciente').first().json;\nconst patient = $('Crear Paciente en Django').first().json;\n\nreturn [{ json: {\n  response: '\u00a1Hola! Bienvenido/a a nuestra cl\u00ednica. Soy tu asistente virtual y estoy aqu\u00ed para ayudarte. Puedo informarte sobre nuestros servicios, agendar una cita o resolver tus dudas. \u00bfEn qu\u00e9 puedo ayudarte?',\n  patient_id: patient.id || null,\n  phone: trigger.phone,\n  clinic_id: trigger.clinic_id,\n  is_new_patient: true\n}}];"
      },
      "id": "preparar-mensaje-bienvenida",
      "name": "Preparar Mensaje Bienvenida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger-global",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-workflow",
              "name": "workflow",
              "value": "WA-Patient-Onboarding",
              "type": "string"
            },
            {
              "id": "assign-error",
              "name": "error_message",
              "value": "={{ $json.execution?.error?.message || 'Error desconocido' }}",
              "type": "string"
            },
            {
              "id": "assign-node",
              "name": "node",
              "value": "={{ $json.execution?.lastNodeExecuted || '' }}",
              "type": "string"
            },
            {
              "id": "assign-timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error-temporal",
      "name": "Log Error Temporal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        608
      ]
    },
    {
      "parameters": {
        "content": "## WA-Patient-Onboarding\n\nSub-workflow para onboarding de pacientes nuevos.\nSe ejecuta cuando el Orchestrator detecta un tel\u00e9fono no registrado.\n\n### Endpoints usados\n- POST /api/patients/ \u2014 Crear paciente\n- POST /api/agent/sessions/ \u2014 Crear sesi\u00f3n\n\n### Endpoints pendientes\n- POST /api/agent/errors/ \u2014 Log de errores (ReadOnly en Django)\n\n### Autenticaci\u00f3n\nApi-Key via $env.N8N_DJANGO_API_KEY",
        "height": 380,
        "width": 480
      },
      "id": "nota-descripcion",
      "name": "Nota - Descripci\u00f3n Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -96
      ]
    },
    {
      "parameters": {
        "content": "\u26a0\ufe0f ENDPOINT PENDIENTE: Este workflow loguea errores temporalmente con Set node.\nRequiere implementar POST /api/agent/errors/ (escritura) en clinic-app (Django) antes de poder persistir errores en BD.\nVer CLAUDE.md secci\u00f3n 5.",
        "width": 480
      },
      "id": "nota-endpoint-pendiente",
      "name": "Nota - Endpoint Errores Pendiente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        544
      ]
    }
  ],
  "connections": {
    "Trigger - Nuevo Paciente": {
      "main": [
        [
          {
            "node": "Crear Paciente en Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Paciente en Django": {
      "main": [
        [
          {
            "node": "Crear Sesi\u00f3n Conversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Sesi\u00f3n Conversacional": {
      "main": [
        [
          {
            "node": "Preparar Mensaje Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Log Error Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3df64eb9-6d0a-4b6b-b2b0-a352837b221c",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-02T12:29:26.746Z",
      "createdAt": "2026-04-02T12:29:26.746Z",
      "role": "workflow:owner",
      "workflowId": "01xZkbBQIBBYCdK9",
      "projectId": "Uw7iGhGodpLTW8Zv",
      "project": {
        "updatedAt": "2026-03-27T04:32:05.440Z",
        "createdAt": "2026-03-27T04:24:04.464Z",
        "id": "Uw7iGhGodpLTW8Zv",
        "name": "Jes\u00fas Dev <jesuslopezjaen03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fbbfb9bb-6047-4e9a-87a3-f8fffa66500b"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
