outputs/wa-reminder-3h-followup-scheduler.json
{"updatedAt":"2026-05-04T02:31:04.948Z","createdAt":"2026-04-09T19:03:15.533Z","id":"RLw7ebtlNmwNQIsE","name":"WA-Reminder-3h-Followup-Scheduler","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trigger","name":"Trigger Cada 15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"fetch-3h","name":"Buscar Citas 3h Followup","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[300,300],"disabled":true,"parameters":{"url":"={{ $env.DJANGO_API_URL }}/api/v1/appointments/pending-reminders/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"3h_followup"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"4582aNhH2U92BzV4","name":"Header Auth account"}}},{"id":"hay-citas","name":"¿Hay Citas Sin Respuesta?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[600,300],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"number","operation":"gt"},"leftValue":"={{ ($json.results || []).length }}","rightValue":0}]},"options":{}}},{"id":"split","name":"Procesar Uno a Uno","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[900,200],"parameters":{"batchSize":1,"options":{}}},{"id":"formatear","name":"Formatear Mensaje Urgente 3h","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,200],"parameters":{"jsCode":"const cita = $input.first().json;\nconst fecha = new Date(cita.scheduled_at).toLocaleString('es-ES', {timeZone: 'Europe/Madrid', timeStyle: 'short'});\n\nreturn [{ json: {\n  phone: cita.patient_phone,\n  phone_number_id: cita.phone_number_id || '',\n  message: `Hola ${cita.patient_name || ''}. Tu cita es hoy a las ${fecha}. Por favor, confirma tu asistencia respondiendo SÍ o NO. Si no confirmas, la clínica podría contactarte directamente.`,\n  appointment_id: cita.id\n}}];"}},{"id":"enviar-wa","name":"Enviar Recordatorio 3h WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2100,200],"parameters":{"method":"POST","url":"={{ $json.whatsapp_api_url }}/{{ $json.whatsapp_phone_number_id }}/client/action/send-message","authentication":"none","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.phone }}@c.us\",\n  \"message\": \"{{ $json.message }}\"\n}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.whatsapp_token }}"}]}},"credentials":{},"continueOnFail":true},{"id":"rate-limit","name":"Rate Limit 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2400,200],"parameters":{"amount":1,"unit":"seconds"}},{"id":"log-vacio","name":"Log Run Vacío","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,500],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"a1","name":"status","value":"no_3h_followups","type":"string"},{"id":"a2","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}}},{"id":"error-trigger","name":"Error Trigger Global","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,600],"parameters":{}},{"id":"error-log","name":"Error - Log Temporal","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,600],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"a1","name":"workflow","value":"WA-Reminder-3h-Followup-Scheduler","type":"string"},{"id":"a2","name":"error","value":"={{ $json.execution?.error?.message || '' }}","type":"string"}]},"options":{}}},{"id":"nota-desc","name":"Nota - Descripcion Workflow","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-100],"parameters":{"content":"## WA-Reminder-3h-Followup-Scheduler\n\nFollowup urgente 3h antes de la cita para pacientes que no respondieron al recordatorio 24h.\nTrigger: cada 15 minutos, Europe/Madrid.\n\n### Estado\n⚠️ DESACTIVADO: El nodo de fetch está desactivado porque el endpoint GET /api/v1/appointments/pending-reminders/ no existe aún en Django.\n\nActivar cuando pending-reminders esté implementado en Django.\n\n### Endpoints pendientes\n- GET /api/v1/appointments/pending-reminders/\n- POST /api/agent/errors/","height":350,"width":500}},{"id":"nota-endpoint","name":"Nota - Endpoint Pendiente","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,140],"parameters":{"content":"⚠️ ENDPOINT PENDIENTE: Este nodo requiere implementar GET /api/v1/appointments/pending-reminders/ en clinic-app (Django) antes de activarse. Ver CLAUDE.md sección 5.","height":100,"width":480}},{"id":"cargar-config-3h","name":"Cargar Config Clínica","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1500,200],"parameters":{"workflowId":{"__rl":true,"value":"InRZ0YJoQ0BehxyJ","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone_number_id":"={{ $json.phone_number_id }}"},"matchingColumns":[],"schema":[{"id":"phone_number_id","type":"string","display":true,"required":true,"displayName":"phone_number_id","defaultMatch":false,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}}},{"id":"preparar-envio-3h","name":"Preparar Envío","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,200],"parameters":{"jsCode":"const msg = $('Formatear Mensaje Urgente 3h').first().json;\nconst config = $input.first().json;\nconst result = Object.assign({}, {\n  phone: msg.phone,\n  message: msg.message,\n  appointment_id: msg.appointment_id,\n  whatsapp_api_url: config.whatsapp_api_url,\n  whatsapp_phone_number_id: config.whatsapp_phone_number_id,\n  whatsapp_token: config.whatsapp_token\n});\nreturn [{ json: result }];"}}],"connections":{"Trigger Cada 15min":{"main":[[{"node":"Buscar Citas 3h Followup","type":"main","index":0}]]},"Buscar Citas 3h Followup":{"main":[[{"node":"¿Hay Citas Sin Respuesta?","type":"main","index":0}]]},"¿Hay Citas Sin Respuesta?":{"main":[[{"node":"Procesar Uno a Uno","type":"main","index":0}],[{"node":"Log Run Vacío","type":"main","index":0}]]},"Procesar Uno a Uno":{"main":[[{"node":"Formatear Mensaje Urgente 3h","type":"main","index":0}],[]]},"Enviar Recordatorio 3h WhatsApp":{"main":[[{"node":"Rate Limit 1s","type":"main","index":0}]]},"Rate Limit 1s":{"main":[[{"node":"Procesar Uno a Uno","type":"main","index":0}]]},"Error Trigger Global":{"main":[[{"node":"Error - Log Temporal","type":"main","index":0}]]},"Formatear Mensaje Urgente 3h":{"main":[[{"node":"Cargar Config Clínica","type":"main","index":0}]]},"Cargar Config Clínica":{"main":[[{"node":"Preparar Envío","type":"main","index":0}]]},"Preparar Envío":{"main":[[{"node":"Enviar Recordatorio 3h WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","saveDataErrorExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Trigger Cada 15min":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"a3d4cf92-c2c0-4341-9e10-ae81d21ac594","activeVersionId":null,"versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-04-09T19:03:15.533Z","createdAt":"2026-04-09T19:03:15.533Z","role":"workflow:owner","workflowId":"RLw7ebtlNmwNQIsE","projectId":"2RRplptgpwnH1F4I","project":{"updatedAt":"2026-04-09T18:48:10.704Z","createdAt":"2026-04-09T18:02:45.199Z","id":"2RRplptgpwnH1F4I","name":"devs cool <devsnncool@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e622ad16-5554-4582-8aa5-6fd09c1be4d7"}}],"tags":[],"activeVersion":null}