outputs/wa-reminder-24h-scheduler.json
{
  "updatedAt": "2026-04-09T19:21:49.818Z",
  "createdAt": "2026-04-09T19:03:15.291Z",
  "id": "RDR0K1sFR2WE0kvf",
  "name": "WA-Reminder-24h-Scheduler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-cada-hora",
      "name": "Trigger Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "fetch-citas-pendientes",
      "name": "Buscar Citas Pendientes Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        300,
        300
      ],
      "disabled": true,
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/v1/appointments/pending-reminders/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Header Auth account"
        }
      }
    },
    {
      "id": "hay-citas",
      "name": "¿Hay Citas Pendientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ ($json.results || []).length }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "split-batches",
      "name": "Procesar Uno a Uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        200
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "formatear-msg",
      "name": "Formatear Mensaje Recordatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "jsCode": "const cita = $input.first().json;\nconst fecha = new Date(cita.scheduled_at).toLocaleString('es-ES', {timeZone: 'Europe/Madrid', dateStyle: 'long', timeStyle: 'short'});\n\nreturn [{ json: {\n  phone: cita.patient_phone,\n  phone_number_id: cita.phone_number_id || '',\n  message: `Hola ${cita.patient_name || ''}. Te recordamos tu cita mañana ${fecha}. ¿Puedes confirmar tu asistencia? Responde SÍ para confirmar o NO para cancelar.`,\n  appointment_id: cita.id,\n  confirmation_token: cita.confirmation_token || ''\n}}];"
      }
    },
    {
      "id": "enviar-wa",
      "name": "Enviar Recordatorio WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "4582aNhH2U92BzV4",
          "name": "Django Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "rate-limit",
      "name": "Rate Limit 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1800,
        200
      ],
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "log-run-vacio",
      "name": "Log Run Vacío",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        500
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "value": "no_reminders_pending",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "parameters": {}
    },
    {
      "id": "error-log",
      "name": "Error - Log Temporal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        600
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflow",
              "value": "WA-Reminder-24h-Scheduler",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "error",
              "value": "={{ $json.execution?.error?.message || 'Error desconocido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "nota-principal",
      "name": "Nota - Descripcion Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -100
      ],
      "parameters": {
        "content": "## WA-Reminder-24h-Scheduler\n\nEnvía recordatorios WhatsApp 24h antes de la cita.\nTrigger: cada hora, Europe/Madrid.\n\n### Estado\n⚠️ DESACTIVADO: El nodo de fetch está desactivado porque el endpoint \nGET /api/v1/appointments/pending-reminders/ no existe aún en Django.\n\nActivar cuando pending-reminders esté implementado en Django.\n\n### Endpoints pendientes\n- GET /api/v1/appointments/pending-reminders/\n- POST /api/agent/errors/ (log errores)\n\n### Flujo\n1. Cron cada hora → Fetch citas (DISABLED) → Filtrar → Loop → Formatear → Enviar WA → Rate limit 1s",
        "height": 380,
        "width": 500
      }
    },
    {
      "id": "nota-endpoint-pendiente",
      "name": "Nota - Endpoint Pendiente",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "parameters": {
        "content": "⚠️ ENDPOINT PENDIENTE: Este nodo requiere implementar GET /api/v1/appointments/pending-reminders/ en clinic-app (Django) antes de activarse. Ver CLAUDE.md sección 5.",
        "height": 100,
        "width": 480
      }
    }
  ],
  "connections": {
    "Trigger Cada Hora": {
      "main": [
        [
          {
            "node": "Buscar Citas Pendientes Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Citas Pendientes Reminder": {
      "main": [
        [
          {
            "node": "¿Hay Citas Pendientes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Citas Pendientes?": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Run Vacío",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Uno a Uno": {
      "main": [
        [
          {
            "node": "Formatear Mensaje Recordatorio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Formatear Mensaje Recordatorio": {
      "main": [
        [
          {
            "node": "Enviar Recordatorio WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Recordatorio WhatsApp": {
      "main": [
        [
          {
            "node": "Rate Limit 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit 1s": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Error - Log Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger Cada Hora": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "b042b3fe-9e24-4e6f-b857-9cbc119fe17e",
  "activeVersionId": "b042b3fe-9e24-4e6f-b857-9cbc119fe17e",
  "versionCounter": 19,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T19:03:15.291Z",
      "createdAt": "2026-04-09T19:03:15.291Z",
      "role": "workflow:owner",
      "workflowId": "RDR0K1sFR2WE0kvf",
      "projectId": "2RRplptgpwnH1F4I",
      "project": {
        "updatedAt": "2026-04-09T18:48:10.704Z",
        "createdAt": "2026-04-09T18:02:45.199Z",
        "id": "2RRplptgpwnH1F4I",
        "name": "devs cool <devsnncool@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-09T19:21:49.821Z",
    "createdAt": "2026-04-09T19:21:49.821Z",
    "versionId": "b042b3fe-9e24-4e6f-b857-9cbc119fe17e",
    "workflowId": "RDR0K1sFR2WE0kvf",
    "nodes": [
      {
        "id": "trigger-cada-hora",
        "name": "Trigger Cada Hora",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 1
              }
            ]
          }
        }
      },
      {
        "id": "fetch-citas-pendientes",
        "name": "Buscar Citas Pendientes Reminder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          300,
          300
        ],
        "disabled": true,
        "parameters": {
          "url": "={{ $env.DJANGO_API_URL }}/api/v1/appointments/pending-reminders/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Header Auth account"
          }
        }
      },
      {
        "id": "hay-citas",
        "name": "¿Hay Citas Pendientes?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          600,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ ($json.results || []).length }}",
                "rightValue": 0
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "split-batches",
        "name": "Procesar Uno a Uno",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          900,
          200
        ],
        "parameters": {
          "batchSize": 1,
          "options": {}
        }
      },
      {
        "id": "formatear-msg",
        "name": "Formatear Mensaje Recordatorio",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          200
        ],
        "parameters": {
          "jsCode": "const cita = $input.first().json;\nconst fecha = new Date(cita.scheduled_at).toLocaleString('es-ES', {timeZone: 'Europe/Madrid', dateStyle: 'long', timeStyle: 'short'});\n\nreturn [{ json: {\n  phone: cita.patient_phone,\n  phone_number_id: cita.phone_number_id || '',\n  message: `Hola ${cita.patient_name || ''}. Te recordamos tu cita mañana ${fecha}. ¿Puedes confirmar tu asistencia? Responde SÍ para confirmar o NO para cancelar.`,\n  appointment_id: cita.id,\n  confirmation_token: cita.confirmation_token || ''\n}}];"
        }
      },
      {
        "id": "enviar-wa",
        "name": "Enviar Recordatorio WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1500,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "4582aNhH2U92BzV4",
            "name": "Django Auth"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "rate-limit",
        "name": "Rate Limit 1s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1800,
          200
        ],
        "parameters": {
          "amount": 1,
          "unit": "seconds"
        }
      },
      {
        "id": "log-run-vacio",
        "name": "Log Run Vacío",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          900,
          500
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "status",
                "value": "no_reminders_pending",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "timestamp",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "error-trigger",
        "name": "Error Trigger Global",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          600
        ],
        "parameters": {}
      },
      {
        "id": "error-log",
        "name": "Error - Log Temporal",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          300,
          600
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "workflow",
                "value": "WA-Reminder-24h-Scheduler",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "error",
                "value": "={{ $json.execution?.error?.message || 'Error desconocido' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "nota-principal",
        "name": "Nota - Descripcion Workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -300,
          -100
        ],
        "parameters": {
          "content": "## WA-Reminder-24h-Scheduler\n\nEnvía recordatorios WhatsApp 24h antes de la cita.\nTrigger: cada hora, Europe/Madrid.\n\n### Estado\n⚠️ DESACTIVADO: El nodo de fetch está desactivado porque el endpoint \nGET /api/v1/appointments/pending-reminders/ no existe aún en Django.\n\nActivar cuando pending-reminders esté implementado en Django.\n\n### Endpoints pendientes\n- GET /api/v1/appointments/pending-reminders/\n- POST /api/agent/errors/ (log errores)\n\n### Flujo\n1. Cron cada hora → Fetch citas (DISABLED) → Filtrar → Loop → Formatear → Enviar WA → Rate limit 1s",
          "height": 380,
          "width": 500
        }
      },
      {
        "id": "nota-endpoint-pendiente",
        "name": "Nota - Endpoint Pendiente",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          140
        ],
        "parameters": {
          "content": "⚠️ ENDPOINT PENDIENTE: Este nodo requiere implementar GET /api/v1/appointments/pending-reminders/ en clinic-app (Django) antes de activarse. Ver CLAUDE.md sección 5.",
          "height": 100,
          "width": 480
        }
      }
    ],
    "connections": {
      "Trigger Cada Hora": {
        "main": [
          [
            {
              "node": "Buscar Citas Pendientes Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Citas Pendientes Reminder": {
        "main": [
          [
            {
              "node": "¿Hay Citas Pendientes?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Hay Citas Pendientes?": {
        "main": [
          [
            {
              "node": "Procesar Uno a Uno",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Run Vacío",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Procesar Uno a Uno": {
        "main": [
          [
            {
              "node": "Formatear Mensaje Recordatorio",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Formatear Mensaje Recordatorio": {
        "main": [
          [
            {
              "node": "Enviar Recordatorio WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Recordatorio WhatsApp": {
        "main": [
          [
            {
              "node": "Rate Limit 1s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rate Limit 1s": {
        "main": [
          [
            {
              "node": "Procesar Uno a Uno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger Global": {
        "main": [
          [
            {
              "node": "Error - Log Temporal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "devs cool",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-09T19:21:49.917Z",
        "id": 14,
        "workflowId": "RDR0K1sFR2WE0kvf",
        "versionId": "b042b3fe-9e24-4e6f-b857-9cbc119fe17e",
        "event": "deactivated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      },
      {
        "createdAt": "2026-04-09T19:21:49.990Z",
        "id": 15,
        "workflowId": "RDR0K1sFR2WE0kvf",
        "versionId": "b042b3fe-9e24-4e6f-b857-9cbc119fe17e",
        "event": "activated",
        "userId": "e622ad16-5554-4582-8aa5-6fd09c1be4d7"
      }
    ]
  }
}
