outputs/WA-Reminder-24h-Scheduler.json
{
  "name": "WA-Reminder-24h-Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Trigger Cada 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.id as appointment_id,\n  a.patient_phone,\n  a.patient_name,\n  a.service,\n  a.datetime,\n  a.clinic_id,\n  a.external_id,\n  c.name as clinic_name,\n  c.timezone,\n  c.whatsapp_phone_number_id\nFROM appointments a\nJOIN clinics c ON a.clinic_id = c.clinic_id\nWHERE \n  a.status IN ('scheduled', 'confirmed')\n  AND a.reminder_24h_sent = false\n  AND a.datetime >= NOW() + INTERVAL '23 hours'\n  AND a.datetime <= NOW() + INTERVAL '25 hours'\nORDER BY a.datetime ASC\nLIMIT 100;",
        "options": {}
      },
      "id": "fetch-appointments",
      "name": "Buscar Citas 24h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.appointment_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-any",
      "name": "Hay Citas Pendientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scheduler_runs (workflow_name, appointments_found, appointments_processed, started_at, completed_at) VALUES ('WA-Reminder-24h', 0, 0, NOW(), NOW());",
        "options": {}
      },
      "id": "log-empty",
      "name": "Log Run Vacio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        608
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scheduler_runs (workflow_name, appointments_found, started_at) VALUES ('WA-Reminder-24h', $1, NOW()) RETURNING id;",
        "options": {
          "queryReplacement": "={{ $input.all().length }}"
        }
      },
      "id": "log-start",
      "name": "Log Run Inicio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-batches",
      "name": "Procesar Uno a Uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1088,
        256
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const appt = $json;\nconst dt = new Date(appt.datetime);\nconst tz = appt.timezone || 'Europe/Madrid';\nconst fecha = dt.toLocaleDateString('es-ES', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: tz\n});\nconst hora = dt.toLocaleTimeString('es-ES', {\n  hour: '2-digit', minute: '2-digit', timeZone: tz\n});\nconst nombre = appt.patient_name ? `Hola ${appt.patient_name}` : 'Hola';\n\nconst message_text = `${nombre}\\n\\nTe recordamos que tienes una cita en *${appt.clinic_name}* manana:\\n\\n${fecha}\\n${hora}\\nServicio: ${appt.service}\\n\\nConfirmas tu asistencia?\\nResponde *SI* para confirmar\\nResponde *NO* para cancelar\\nResponde *CAMBIAR* si necesitas otra fecha\\n\\nSi tienes alguna duda, escribenos aqui mismo.`;\n\nreturn { json: { ...appt, message_text } };"
      },
      "id": "format-message",
      "name": "Formatear Mensaje WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.whatsapp_phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.patient_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.message_text) }} }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-wa",
      "name": "Enviar Recordatorio WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        256
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "WA_CREDENTIAL_ID",
          "name": "WhatsApp Cloud API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.messages }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Envio Exitoso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1872,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET reminder_24h_sent = true, reminder_24h_sent_at = NOW(), updated_at = NOW() WHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.appointment_id }}"
        }
      },
      "id": "mark-sent",
      "name": "Marcar Enviado en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reminder_errors (appointment_id, patient_phone, reminder_type, error_response, created_at) VALUES ($1::uuid, $2, '24h', $3::jsonb, NOW());",
        "options": {
          "queryReplacement": "={{ $json.appointment_id }}, ={{ $json.patient_phone }}, ={{ JSON.stringify($json.error || $json) }}"
        }
      },
      "id": "log-send-error",
      "name": "Log Error Envio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "rate-delay",
      "name": "Rate Limit 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        256
      ],
      "webhookId": "9a1865d6-76c6-46f8-ab6f-3f03fbb90018"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scheduler_runs SET appointments_processed = (SELECT COUNT(*) FROM appointments WHERE reminder_24h_sent = true AND reminder_24h_sent_at > NOW() - INTERVAL '10 minutes'), appointments_succeeded = (SELECT COUNT(*) FROM appointments WHERE reminder_24h_sent = true AND reminder_24h_sent_at > NOW() - INTERVAL '10 minutes'), appointments_failed = (SELECT COUNT(*) FROM reminder_errors WHERE reminder_type = '24h' AND created_at > NOW() - INTERVAL '10 minutes'), completed_at = NOW() WHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $('Log Run Inicio').first().json.id }}"
        }
      },
      "id": "log-complete",
      "name": "Log Run Completo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow, error_message, payload, created_at) VALUES ('WA-Reminder-24h-Scheduler', $1, $2::jsonb, NOW());",
        "options": {
          "queryReplacement": "={{ $json.execution.error.message || 'Error desconocido' }}, ={{ JSON.stringify({ node: $json.execution.lastNodeExecuted, data: $json.execution.data || {} }) }}"
        }
      },
      "id": "error-log",
      "name": "Error - Log BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## WA-Reminder-24h-Scheduler\n\nWorkflow autonomo que envia recordatorios 24h antes de cada cita.\nSe ejecuta cada 30 minutos y es idempotente (flag reminder_24h_sent).\n\n### Credenciales necesarias\n- **Postgres Clinica**: conexion a BD\n- **WhatsApp Cloud API**: Header Auth con Bearer token\n\n### Schema SQL adicional\n```sql\nCREATE TABLE scheduler_runs (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  workflow_name VARCHAR(100),\n  appointments_found INTEGER DEFAULT 0,\n  appointments_processed INTEGER DEFAULT 0,\n  appointments_succeeded INTEGER DEFAULT 0,\n  appointments_failed INTEGER DEFAULT 0,\n  started_at TIMESTAMP DEFAULT NOW(),\n  completed_at TIMESTAMP\n);\n\nCREATE TABLE reminder_errors (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  appointment_id UUID,\n  patient_phone VARCHAR(20),\n  reminder_type VARCHAR(10),\n  error_response JSONB,\n  retry_count INTEGER DEFAULT 0,\n  resolved BOOLEAN DEFAULT false,\n  created_at TIMESTAMP DEFAULT NOW()\n);\n```\n\n### Notas de produccion\n- Idempotente: reminder_24h_sent evita duplicados\n- LIMIT 100 previene sobrecargas; siguientes ejecuciones procesan el resto\n- Rate limit 1s entre mensajes para WhatsApp API\n- El JOIN con clinics permite multi-clinica (phone_number_id por clinica)",
        "height": 640,
        "width": 620
      },
      "id": "sticky-note",
      "name": "Sticky Note - Schema y Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Cada 30min": {
      "main": [
        [
          {
            "node": "Buscar Citas 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Citas 24h": {
      "main": [
        [
          {
            "node": "Hay Citas Pendientes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Citas Pendientes?": {
      "main": [
        [
          {
            "node": "Log Run Inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Run Vacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Run Inicio": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Uno a Uno": {
      "main": [
        [
          {
            "node": "Log Run Completo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Mensaje WA": {
      "main": [
        [
          {
            "node": "Enviar Recordatorio WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Recordatorio WA": {
      "main": [
        [
          {
            "node": "Envio Exitoso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio Exitoso?": {
      "main": [
        [
          {
            "node": "Marcar Enviado en BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Enviado en BD": {
      "main": [
        [
          {
            "node": "Rate Limit 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Envio": {
      "main": [
        [
          {
            "node": "Rate Limit 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit 1s": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Error - Log BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 120,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "67dd7e1c-77ce-421f-a9c6-b34596aae1f6",
  "meta": {
    "instanceId": "c6dbd7af322960facdb142f9c7103f41f6d7f5e1dcad92f1e75b96509ab69b5c"
  },
  "id": "SUzNk4GdrJW0kB4s",
  "tags": [
    {
      "updatedAt": "2026-03-24T22:49:27.981Z",
      "createdAt": "2026-03-24T22:49:27.981Z",
      "id": "84EpEDM8vlTadhD2",
      "name": "Agente_Clínicas"
    }
  ]
}