outputs/WA-Reminder-3h-Followup-Scheduler.json
{
  "name": "WA-Reminder-3h-Followup-Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Trigger Cada 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.id as appointment_id,\n  a.patient_phone,\n  a.patient_name,\n  a.service,\n  a.datetime,\n  a.clinic_id,\n  a.reminder_24h_sent_at,\n  c.name as clinic_name,\n  c.timezone,\n  c.whatsapp_phone_number_id\nFROM appointments a\nJOIN clinics c ON a.clinic_id = c.clinic_id\nWHERE \n  a.status IN ('scheduled', 'confirmed')\n  AND a.reminder_24h_sent = true\n  AND a.reminder_responded = false\n  AND a.reminder_3h_sent = false\n  AND a.datetime >= NOW() + INTERVAL '2 hours 30 minutes'\n  AND a.datetime <= NOW() + INTERVAL '3 hours 30 minutes'\nORDER BY a.datetime ASC\nLIMIT 100;",
        "options": {}
      },
      "id": "fetch-appointments",
      "name": "Buscar Citas 3h Followup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.appointment_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-any",
      "name": "Hay Citas Sin Respuesta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scheduler_runs (workflow_name, appointments_found, appointments_processed, started_at, completed_at) VALUES ('WA-Reminder-3h', 0, 0, NOW(), NOW());",
        "options": {}
      },
      "id": "log-empty",
      "name": "Log Run Vacio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        608
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scheduler_runs (workflow_name, appointments_found, started_at) VALUES ('WA-Reminder-3h', $1, NOW()) RETURNING id;",
        "options": {
          "queryReplacement": "={{ $input.all().length }}"
        }
      },
      "id": "log-start",
      "name": "Log Run Inicio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-batches",
      "name": "Procesar Uno a Uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1088,
        256
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const appt = $json;\nconst dt = new Date(appt.datetime);\nconst tz = appt.timezone || 'Europe/Madrid';\nconst hora = dt.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', timeZone: tz });\nconst nombre = appt.patient_name || '';\nconst horasAntes = Math.round((dt.getTime() - Date.now()) / 3600000);\n\n// Politica de cancelacion\nconst policy = appt.cancellation_policy_hours || 24;\nconst horasRestantes = (dt.getTime() - Date.now()) / 3600000;\nconst canCancelFree = horasRestantes >= policy;\n\nconst cancelNote = canCancelFree\n  ? 'Responde *NO* si necesitas cancelar'\n  : `Ten en cuenta que las cancelaciones con menos de ${policy}h pueden tener cargo segun nuestra politica`;\n\nconst message_text = `Recordatorio importante${nombre ? ', ' + nombre : ''}\\n\\nTu cita en *${appt.clinic_name}* es *hoy a las ${hora}* (en aproximadamente ${horasAntes} horas).\\n\\nServicio: ${appt.service}\\n\\nNo hemos recibido tu confirmacion. Sigues viniendo?\\n\\nResponde *SI* para confirmar\\n${cancelNote}\\nResponde *CAMBIAR* si necesitas otra fecha\\n\\nSi no puedes asistir, por favor avisanos para liberar el horario.`;\n\n// Flag para alerta interna a clinica si < 2h\nconst needs_clinic_alert = horasRestantes < 2;\n\nreturn { json: { ...appt, message_text, needs_clinic_alert, hours_remaining: horasRestantes } };"
      },
      "id": "format-message",
      "name": "Formatear Mensaje Urgente 3h",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Formatear Mensaje Urgente 3h').first().json.whatsapp_phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Formatear Mensaje Urgente 3h').first().json.patient_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($('Formatear Mensaje Urgente 3h').first().json.message_text) }} }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-wa",
      "name": "Enviar Recordatorio 3h WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        256
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "WA_CREDENTIAL_ID",
          "name": "WhatsApp Cloud API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.messages }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Envio Exitoso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1872,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET reminder_3h_sent = true, reminder_3h_sent_at = NOW(), updated_at = NOW() WHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $('Formatear Mensaje Urgente 3h').first().json.appointment_id }}"
        }
      },
      "id": "mark-sent",
      "name": "Marcar 3h Enviado en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reminder_errors (appointment_id, patient_phone, reminder_type, error_response, created_at) VALUES ($1::uuid, $2, '3h', $3::jsonb, NOW());",
        "options": {
          "queryReplacement": "={{ $('Formatear Mensaje Urgente 3h').first().json.appointment_id }}, ={{ $('Formatear Mensaje Urgente 3h').first().json.patient_phone }}, ={{ JSON.stringify($json.error || $json) }}"
        }
      },
      "id": "log-send-error",
      "name": "Log Error Envio 3h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Formatear Mensaje Urgente 3h').first().json.needs_clinic_alert }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-alert",
      "name": "Cita en <2h Sin Confirmar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2384,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLINIC_INTERNAL_WEBHOOK_URL || 'https://hooks.slack.com/services/PLACEHOLDER' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ *Alerta de cita sin confirmar*\\nPaciente: {{ $('Formatear Mensaje Urgente 3h').first().json.patient_name || 'Sin nombre' }}\\nTelefono: {{ $('Formatear Mensaje Urgente 3h').first().json.patient_phone }}\\nServicio: {{ $('Formatear Mensaje Urgente 3h').first().json.service }}\\nHora: {{ $('Formatear Mensaje Urgente 3h').first().json.datetime }}\\nHoras restantes: {{ $('Formatear Mensaje Urgente 3h').first().json.hours_remaining.toFixed(1) }}h\\n\\nEl paciente no confirmo tras 2 recordatorios. Considerar liberar el slot.\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "notify-clinic",
      "name": "Notificar Clinica Internamente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "rate-delay",
      "name": "Rate Limit 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2912,
        256
      ],
      "webhookId": "f3d2ee35-e4b1-4703-9f7f-329f4c43fe68"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scheduler_runs SET appointments_processed = (SELECT COUNT(*) FROM appointments WHERE reminder_3h_sent = true AND reminder_3h_sent_at > NOW() - INTERVAL '10 minutes'), appointments_succeeded = (SELECT COUNT(*) FROM appointments WHERE reminder_3h_sent = true AND reminder_3h_sent_at > NOW() - INTERVAL '10 minutes'), appointments_failed = (SELECT COUNT(*) FROM reminder_errors WHERE reminder_type = '3h' AND created_at > NOW() - INTERVAL '10 minutes'), completed_at = NOW() WHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $('Log Run Inicio').first().json.id }}"
        }
      },
      "id": "log-complete",
      "name": "Log Run Completo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow, error_message, payload, created_at) VALUES ('WA-Reminder-3h-Followup', $1, $2::jsonb, NOW());",
        "options": {
          "queryReplacement": "={{ $json.execution.error.message || 'Error desconocido' }}, ={{ JSON.stringify({ node: $json.execution.lastNodeExecuted, data: $json.execution.data || {} }) }}"
        }
      },
      "id": "error-log",
      "name": "Error - Log BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Clinica"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## WA-Reminder-3h-Followup-Scheduler\n\nWorkflow autonomo de seguimiento 3h. Solo envia a pacientes que:\n- Recibieron recordatorio 24h (reminder_24h_sent = true)\n- NO respondieron (reminder_responded = false)\n- NO recibieron ya el de 3h (reminder_3h_sent = false)\n\n### Diferencias vs 24h Scheduler\n- Intervalo: cada 15min (ventana mas estrecha)\n- Mensaje mas urgente con politica de cancelacion\n- Alerta interna a clinica si <2h y sin confirmacion\n- Ventana: 2h30m - 3h30m antes de la cita\n\n### Credenciales necesarias\n- **Postgres Clinica**: conexion a BD\n- **WhatsApp Cloud API**: Header Auth con Bearer token\n- **CLINIC_INTERNAL_WEBHOOK_URL**: variable de entorno con URL de Slack/webhook interno\n\n### Casos edge\n- Race condition: paciente responde entre query y envio → mitigado por reminder_responded=false en query\n- Citas canceladas: excluidas por WHERE status IN (scheduled, confirmed)\n- Timezone: comparaciones en UTC, formateo con tz de la clinica\n\n### Reutiliza tablas\n- scheduler_runs (misma que workflow 24h)\n- reminder_errors (misma, con reminder_type='3h')\n- workflow_errors (compartida)",
        "height": 640,
        "width": 620
      },
      "id": "sticky-note",
      "name": "Sticky Note - Schema y Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Cada 15min": {
      "main": [
        [
          {
            "node": "Buscar Citas 3h Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Citas 3h Followup": {
      "main": [
        [
          {
            "node": "Hay Citas Sin Respuesta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Citas Sin Respuesta?": {
      "main": [
        [
          {
            "node": "Log Run Inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Run Vacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Run Inicio": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Uno a Uno": {
      "main": [
        [
          {
            "node": "Log Run Completo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Mensaje Urgente 3h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Mensaje Urgente 3h": {
      "main": [
        [
          {
            "node": "Enviar Recordatorio 3h WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Recordatorio 3h WA": {
      "main": [
        [
          {
            "node": "Envio Exitoso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio Exitoso?": {
      "main": [
        [
          {
            "node": "Marcar 3h Enviado en BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error Envio 3h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar 3h Enviado en BD": {
      "main": [
        [
          {
            "node": "Cita en <2h Sin Confirmar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Envio 3h": {
      "main": [
        [
          {
            "node": "Cita en <2h Sin Confirmar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita en <2h Sin Confirmar?": {
      "main": [
        [
          {
            "node": "Notificar Clinica Internamente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Clinica Internamente": {
      "main": [
        [
          {
            "node": "Rate Limit 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit 1s": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [
          {
            "node": "Error - Log BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 120,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1ba0c26b-6b85-4a46-9520-fa3af87591c0",
  "meta": {
    "instanceId": "c6dbd7af322960facdb142f9c7103f41f6d7f5e1dcad92f1e75b96509ab69b5c"
  },
  "id": "aapE8r59QGGiXRHW",
  "tags": [
    {
      "updatedAt": "2026-03-24T22:49:27.981Z",
      "createdAt": "2026-03-24T22:49:27.981Z",
      "id": "84EpEDM8vlTadhD2",
      "name": "Agente_Clínicas"
    }
  ]
}